@use '@shared/styles/abstracts' as *;

/* ParkingTicketUse */
.checks {
  margin-top: var(--ncp-spacing-x12);
}
.manage {
  margin-top: var(--ncp-spacing-x20);
}
.btns {
  @include flex {
    gap: var(--ncp-spacing-x8);
  }
}

/*numberList*/
.numberList {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
  }
  .side {
    @include flex() {
      gap: var(--ncp-spacing-x8);
    }
  }
}
