@use '@shared/styles/abstracts' as *;

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--ncp-spacing-x4);
  margin-block: var(--ncp-spacing-x20);
  padding-block: var(--ncp-spacing-x2);
  border: solid var(--ncp-color-foreground);
  border-width: var(--ncp-border-width-base) 0;
  & > li:nth-child(n + 3) {
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }
}
.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ncp-spacing-x2);
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
}

.title {
  color: var(--ncp-color-foreground);
}
.subtitle {
  color: var(--ncp-color-gray-500);
}
