@use '@shared/styles/abstracts' as *;

/* ClaimProdList */
.section {
  position: relative;
  .tit {
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-foreground);
    padding-bottom: var(--ncp-spacing-x6);
    margin-bottom: var(--ncp-spacing-x8);
    border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  }
  //slot
  .topSlot {
    position: relative;
    margin-bottom: var(--ncp-spacing-x10);
  }
}

/* 컨트롤영역 */
.control {
  width: 100%;
  .stepper {
    width: rem(120px);
  }
  input[type='text'] {
    text-align: right;
  }
}

/* bottomSlot */
.bottomSlot {
  padding-top: var(--ncp-spacing-x12);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
}

.right {
  flex: 1;
}

.option {
  position: relative;
  margin: 0;
}

/* controlWrap */
.controlWrap {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x6);
  }
}
