@use '@shared/styles/abstracts' as *;

.gallery {
  --carousel-fraction-height: #{rem(18px)};
  --carousel-fraction-inset: auto auto var(--ncp-spacing-x8) 50%;
  --carousel-fraction-font-size: var(--ncp-font-size-10);
  --carousel-fraction-translate-x: -50%;
  --carousel-fraction-border-radius: var(--ncp-border-radius-max);
}

.image {
  --image-object-fit: contain;
  aspect-ratio: 1 / 1;
}

.item {
  &:not(.active) {
    opacity: 0.5;
  }
}

.content {
  margin-top: var(--ncp-spacing-x8);
}

.review {
  padding: var(--ncp-spacing-x12) var(--ncp-spacing-x8) 0;
}
