@use '@shared/styles/abstracts' as *;
@use 'sass:map';
@use 'sass:list';

// prettier-ignore
$padding-styles: (
  // (y, x) 설정 (padding)
  1: (16, 16),
  2: (24, 16),
  3: (20, 16),
);

/* Box */
.root {
  --box-content-padding-y: var(--ncp-spacing-x8);
  --box-content-padding-x: var(--ncp-spacing-x8);

  margin-top: var(--ncp-spacing-x8);
  background: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
  padding: var(--box-content-padding-y) var(--box-content-padding-x);
}

// 내부 padding 사이즈
@each $key, $pair in $padding-styles {
  $padding-y-size-key: list.nth($pair, 1);
  $padding-x-size-key: list.nth($pair, 2);

  .paddingSize#{$key} {
    --box-content-padding-y: #{rem($padding-y-size-key)};
    --box-content-padding-x: #{rem($padding-x-size-key)};
  }
}
