@use '@shared/styles/abstracts' as *;

/* Alram */
.layout {
  position: relative;
}
// 상단정보
.topInfo {
  margin: 0 calc((var(--ncp-main-padding-x) * -1));
  padding: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
  background-color: var(--ncp-color-bg-1);
  @include flex($v: center, $h: space-between) {
    gap: var(--ncp-spacing-x4);
  }
}
// 탭
.tabs {
  margin-block: var(--ncp-spacing-x12) var(--ncp-spacing-x16);
}
// 탭 콘텐츠
.cont {
  position: relative;
}

// 목록
.list {
  position: relative;
  & > .item {
    padding-block: var(--ncp-spacing-x16);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

// 아이템
.date {
  position: relative;
  & + .listWrap {
    margin-top: var(--ncp-spacing-x12);
  }
}
// 항목 리스트 전체
.listWrap {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x16);
  }
  .listItem {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
    .tit {
      @include flex($h: space-between) {
        gap: var(--ncp-spacing-x4);
      }
    }
    .btns {
      text-align: right;
    }
  }
}
