@use '@shared/styles/abstracts' as *;

/* BrandProdList */
.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: var(--ncp-spacing-x12);
  &:first-child {
    margin-top: 0;
  }
}
