@use '@shared/styles/abstracts' as *;

.root {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  @include flex(flex, center, center, column);
  pointer-events: none;
  z-index: 1;
  color: var(--ncp-color-foreground);
  &::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-color: var(--ncp-color-background);
    opacity: 0.7;
  }
}

@for $i from 1 through 10 {
  .opacity#{$i} {
    &::before {
      opacity: $i * 0.1;
    }
  }
}
