@use '@shared/styles/abstracts' as *;

.coupon {
  position: relative;
  width: rem(228px);
  height: rem(110px);
  background-image: url('/images/img_reward_coupon.png');
  background-size: 100%;
  padding: var(--ncp-spacing-x8);
  &::before {
    display: block;
    content: '';
    position: absolute;
    right: var(--ncp-spacing-x8);
    top: 50%;
    transform: translateY(-50%);
    width: rem(10px);
    height: rem(61px);
    background-image: url('/images/img_reward_coupon_logo.png');
    background-size: 100%;
  }
  .type {
    opacity: 0.45;
  }
  .value {
    margin-top: var(--ncp-spacing-x2);
  }
  .desc {
    margin-top: var(--ncp-spacing-x6);
  }
}
