@use '@shared/styles/abstracts' as *;

/* EventCommentList */
.heading {
  @include flex(flex, center, center) {
    gap: var(--ncp-spacing-x4);
  }
}
.totalCount {
  @include flex(flex, center, center);
  font-size: var(--ncp-font-size-13);
  font-weight: var(--ncp-font-weight-medium);
  line-height: var(--ncp-line-height-18);
  color: var(--ncp-color-gray-700);
  @include separator(left);

  span {
    font-weight: var(--ncp-font-weight-semibold);
  }
}

/* EventComment */
.root {
  position: relative;
  padding-bottom: var(--ncp-spacing-x10);
  border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);

  &:not(.collapse):has(.answers),
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
.summary {
  @include flex($h: space-between, $w: wrap);
  padding-inline: var(--ncp-spacing-indent);
}
.textButtons {
  @include flex(flex, center, center);
  gap: var(--ncp-spacing-x8);
}
.info {
  @include flex($v: center);
  gap: var(--ncp-spacing-x2) var(--ncp-spacing-x4);
}
.infoItem {
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);

  &:nth-child(n + 2) {
    @include separator(left);
  }
}

// collapse 상태일 경우
.collapse {
  --qna-card-answer-display: none;
}
