@use '@shared/styles/abstracts' as *;

.root {
  padding: var(--ncp-spacing-x8);
  @include flex($v: center);
  column-gap: var(--ncp-spacing-x8);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
}

.avatar {
  --avatar-size: #{rem(62px)};
}

.desc {
  margin-top: 4px;
  font-weight: var(--ncp-font-weight-medium);
  color: var(--ncp-color-gray-500);
  @include ellipsis(2);
}
