@use '@shared/styles/abstracts' as *;

/* Checkbox */
.root {
  --checkbox-width: #{rem(20px)};
  --checkbox-height: #{rem(20px)};
  --checkbox-border-radius: var(--ncp-border-radius-xs);
  --checkbox-label-font-size: var(--checkbox-font-size, var(--ncp-font-size-14));
  --checkbox-label-font-weight: var(--checkbox-font-weight, var(--ncp-font-weight-medium));
  --checkbox-label-line-height: 1.444;
  --checkbox-inset-top: calc(
    (var(--checkbox-label-font-size) * var(--checkbox-label-line-height) - var(--checkbox-height)) /
      2
  );
  --checkbox-inset: var(--checkbox-inset-top) 0 0 0;
  --checkbox-label-gap: var(--ncp-spacing-x4); // checkbox 아이콘과 라벨 사이의 간격
  --checkbox-border-color: var(--ncp-color-gray-150);
  --checkbox-background-color: var(--ncp-color-background);
  --checkbox-icon: #{icon('checkbox')};
  --checkbox-icon-color: transparent;
  --checkbox-icon-position: 50% 0;

  position: relative;
  display: inline-flex;
  font-size: var(--checkbox-label-font-size);
  font-weight: var(--checkbox-label-font-weight);
  line-height: var(--checkbox-label-line-height);
  vertical-align: middle;
  z-index: 0;

  .label {
    width: 100%;
    display: var(--checkbox-label-display, inline-flex);
    align-items: inherit;
    gap: var(--checkbox-label-gap);
    color: var(--ncp-color-gray-700);
    word-break: break-all;
    cursor: pointer;
    .icon {
      flex: 0 0 auto;
      display: inline-flex;
      position: relative;
      inset: var(--checkbox-inset);
      width: var(--checkbox-width);
      height: var(--checkbox-height);
      border: var(--ncp-border-width-base) solid var(--checkbox-border-color);
      border-radius: var(--checkbox-border-radius);
      background-color: var(--checkbox-background-color);
      &::before {
        position: absolute;
        inset: -1px;
        mask-image: var(--checkbox-icon);
        mask-position: var(--checkbox-icon-position);
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: var(--checkbox-icon-color);
      }
    }
    :where(p) {
      margin-top: 0;
      line-height: var(--checkbox-height);
    }
  }
  .input {
    flex: 0 0 auto;
    position: relative;
    inset: var(--checkbox-inset);
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    margin-right: calc(var(--checkbox-width) * -1);
    z-index: -1;
  }
  .input:checked + label {
    --checkbox-icon-color: var(--ncp-color-background);
    --checkbox-border-color: currentColor;
    --checkbox-background-color: currentColor;
    color: var(--ncp-color-gray-900);
    .icon::before {
      content: '';
    }
  }
  .input:disabled + label {
    --checkbox-icon-color: currentColor;
    --checkbox-border-color: var(--ncp-color-gray-150);
    --checkbox-background-color: var(--ncp-color-gray-100);
    color: var(--ncp-color-gray-500);
    cursor: default;
  }
  // 오류 스타일 제거
  // .input[aria-invalid='true'] + label {
  //   --checkbox-border-color: var(--ncp-color-accent-alert);
  // }
  // .input[aria-invalid='true']:checked + label {
  //   --checkbox-background-color: var(--ncp-color-accent-alert);
  // }
}

// Size
.small {
  --checkbox-width: #{rem(16px)};
  --checkbox-height: #{rem(16px)};
}

// Variant
.boxed {
  --checkbox-inset: 0;
  --checkbox-icon: #{icon('check')};
  --checkbox-icon-color: var(--ncp-color-gray-500);
  width: 100%;
  .input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .label {
    align-items: center;
    height: rem(56px);
    padding: var(--ncp-spacing-x8);
    border: var(--ncp-border-width-base) solid var(--checkbox-border-color);
    border-radius: var(--ncp-border-radius-base);
    .icon {
      border-color: transparent;
      background: transparent;
      &::before {
        content: '';
      }
    }
  }
  .input:checked + label {
    --checkbox-icon-color: currentColor;
    font-weight: var(--ncp-font-weight-semibold);
  }
  .input:disabled + label {
    background-color: var(--checkbox-background-color);
  }
}

.filter {
  --checkbox-label-font-size: var(--ncp-font-size-16);
  padding-inline: var(--ncp-spacing-indent);

  .label {
    align-items: center;
  }
  .icon {
    margin-left: auto;
    order: 2;
  }
  .input:checked + label {
    font-weight: var(--ncp-font-weight-semibold);
  }
}
