@use '@shared/styles/abstracts' as *;
@use 'sass:list';

/* Link */
.inline {
  @include flex($display: inline-flex, $v: center);
  gap: var(--ncp-spacing-x2);
  padding-inline: var(--ncp-spacing-indent);
  br + & {
    padding-left: 0;
  }
  .accent {
    color: var(--ncp-color-gray-900);
    text-decoration: underline !important;
    text-underline-position: under !important;
  }
}
.block {
  display: block;
}
.flex {
  display: flex;
}
// variant
.underline {
  text-decoration: underline;
}
