@use '@shared/styles/abstracts' as *;

/* Loading */
.root {
  --loading-spin-size: #{rem(32px)};
  --loading-spin-border-width: 2px;
  --loading-spinner-line: var(--ncp-color-gray-100);
  --loading-spinner-line-active: var(--ncp-color-gray-900);
}
// spin 공통 모양
.spin {
  border-radius: 50%;
  width: var(--loading-spin-size);
  height: var(--loading-spin-size);
  margin: 0 auto;
  border: var(--loading-spin-border-width) solid;
  border-color: var(--loading-spinner-line) var(--loading-spinner-line-active)
    var(--loading-spinner-line-active);
  animation: spin 1s linear infinite;
  @include text-hidden;
}

// (default) 컨텐츠에 로딩 들어가는 형태
.default {
  margin-block: rem(60px);
  position: relative;
  background-color: transparent;
  text-align: center;
  .text {
    margin-top: var(--ncp-spacing-x8);
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-medium);
  }
}

// variant
.page {
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 12; //헤더까지 가리려면 12
  .spin {
    position: relative;
    left: 50%;
    top: 50%;
    margin: calc(var(--loading-spin-size) / -2) 0 0 calc(var(--loading-spin-size) / -2);
  }
}

.portal {
  --loading-spinner-line: var(--ncp-color-background);
  --loading-spinner-line-active: var(--ncp-color-gray-450);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 12; //헤더까지 가리려면 12
  @include flex(flex, center, center, column);
  .text {
    margin-top: var(--ncp-spacing-x12);
  }
}

// spin 애니메이션
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
