@use '@shared/styles/abstracts' as *;

/* Progress */
.root {
  --progress-fill-color: var(--ncp-color-gray-750);
  --progress-label-width: auto;

  @include flex($v: center);
  gap: var(--ncp-spacing-x8);
}

// Bar
.bar {
  height: rem(4px);
  flex: 1;
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--progress-bar-color, var(--ncp-color-background));
  overflow: hidden;
}
.value {
  height: 100%;
  border-radius: inherit;
  background-color: var(--progress-fill-color);
}

// Info
.label {
  min-width: var(--progress-label-width);
  font-size: var(--progress-font-size, var(--ncp-font-size-13));
  font-weight: var(--ncp-font-weight-regular);
  flex-shrink: 0;
}
.percent {
  font-size: var(--progress-font-size);
  font-weight: var(--ncp-font-weight-medium);
  flex-shrink: 0;
}

// Color
.gray {
  --progress-fill-color: var(--ncp-color-gray-250);
  color: var(--ncp-color-gray-500);
}

.green {
  --progress-bar-color: var(--ncp-color-bg-1);
  --progress-fill-color: var(--ncp-color-accent-1);
  color: var(--ncp-color-accent-1);
}
