@use '@shared/styles/abstracts' as *;

/* Textarea */
.root {
  position: relative;
  background-color: var(--ncp-color-background);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  padding-block: var(--ncp-spacing-x8);
  padding-inline: var(--ncp-spacing-x8) var(--ncp-spacing-x4);
  &:has(.field:focus) {
    border-color: var(--ncp-color-gray-900);
  }
  .field {
    width: 100%;
    height: 100%;
    outline: 0;
    @include scrollbar();
  }
  &.disabled {
    background-color: var(--ncp-color-bg-2);
    color: var(--ncp-color-gray-700);
  }
  &.invalid,
  &.invalid:has(.field:focus) {
    border-color: var(--ncp-color-accent-alert);
  }
}

// border
.noneBorder {
  border: none;
  background-color: transparent;
}

// 글자수 카운트 스타일
.count {
  padding-top: var(--ncp-spacing-x4);
  padding-right: var(--ncp-spacing-x4);
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);
  color: var(--ncp-color-gray-500);
  @include flex($display: flex, $h: flex-end);
  gap: var(--ncp-spacing-x1);
  & > strong {
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-gray-900);
  }
}
