@use '@shared/styles/abstracts' as *;

// CostInfoSection
.root {
  position: relative;
}
// 예치금 안내타이틀 + 아이콘버튼
.titleWrap {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x2);
  }
  .infoBtn {
    color: var(--ncp-color-gray-500);
  }
}

// marginTop
.marginTop1 {
  margin-top: rem(16px);
}
.marginTop2 {
  margin-top: rem(24px);
}
.marginTop3 {
  margin-top: rem(32px);
}
.marginTop4 {
  margin-top: rem(40px);
}
