@use '@shared/styles/abstracts' as *;

/* OrdersList */
.root {
  display: flex;
  flex-direction: column;
}

// 장바구니 대분류 - 배송유형
.category {
  margin-top: var(--ncp-spacing-x8);
  padding-bottom: var(--ncp-spacing-x8);
  border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);

  .categoryCheck {
    align-items: center;
    label {
      font-weight: var(--ncp-font-weight-bold);
      font-size: var(--ncp-font-size-18);
    }
  }
}

// 장바구니 중분류 - 판매처
.subCategory {
  padding: var(--ncp-spacing-x8) 0;
}

// 도착 예정 시간 안내
.arrival {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--ncp-spacing-x2);
  margin-bottom: var(--ncp-spacing-x12);
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
  background: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);

  p {
    margin-top: 0;
  }
}

// 프로모션
.promotion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-start;
  gap: var(--ncp-spacing-x4);
  width: 100%;
  margin-bottom: var(--ncp-spacing-x12);

  .grayBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    margin-bottom: 0;
    // padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
    background: var(--ncp-color-bg-1);
    border-radius: var(--ncp-border-radius-base);

    .topBox {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: var(--ncp-spacing-x4);
      width: 100%;

      .leftBox {
        display: flex;
        align-items: baseline;
        gap: var(--ncp-spacing-x3);
      }

      .flag {
        > span {
          height: rem(24px);
          font-weight: var(--ncp-font-weight-medium);
          background: var(--ncp-color-gray-900);
        }
      }

      .text {
        flex: 1;
        margin-top: 0;
        // color: #00b65c;
        > span {
          margin-left: var(--ncp-spacing-x1);
        }

        &.black {
          color: var();
        }
      }

      .chooseButton {
        font-weight: var(--ncp-font-weight-regular);
        color: var(--ncp-color-gray-500);
      }
    }

    .promotionLine {
      width: 100%;
    }

    // 상품을 더 담고 할인 받아보세요!
    .promotionDesc {
      margin-top: 0;
    }

    .priceBox {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--ncp-spacing-x2);
      p {
        margin-top: 0;
      }

      .priceArrow:before {
        background: var(--ncp-color-gray-700);
      }
    }
  }
}

// select 영역(픽업 + 하단 버튼 영역)
.solotBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ncp-spacing-x8);
}

// 픽업
.selectBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ncp-spacing-x6);
  width: 100%;

  > div {
    width: 100%;
  }

  .place {
    @include flex(flex, $v: center);
    gap: var(--ncp-spacing-x1);
  }
}

// 하단 버튼 영역
.buttonArea {
  gap: var(--ncp-spacing-x6);
  width: 100%;
  margin-top: 0;

  .stepper {
    width: 100%;
  }
  .pinButton {
    background: var(--ncp-color-background);
  }
}

// 배송비 영역
.feeBox {
  margin-top: var(--ncp-spacing-x4);
  padding-right: var(--ncp-spacing-x1);
  text-align: right;

  .feeDesc {
    margin-top: var(--ncp-spacing-x2);
    color: var(--ncp-color-gray-500);
  }

  .saverButton {
    margin-top: var(--ncp-spacing-x10);
  }
}
