@use '@shared/styles/abstracts' as *;

/* Layout : Bottom Navigation Bar */
.root {
  position: sticky;
  bottom: 0;
  height: calc(var(--ncp-app-nav-height) + env(safe-area-inset-bottom));
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 11;
  pointer-events: none;
  overflow: hidden;
}

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: var(--ncp-line-height-fit);
  padding-inline: var(--ncp-spacing-x4);
  padding-bottom: env(safe-area-inset-bottom);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  align-items: center;
  gap: var(--ncp-spacing-x1);
  transform: translateY(var(--ncp-app-nav-transform, 0));
  transition: transform var(--ncp-transition-fast);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  background-color: var(--ncp-color-alpha-w80);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  will-change: transform;
  pointer-events: all;
}

.link {
  width: 100%;
  height: calc(var(--ncp-app-nav-height) - var(--ncp-border-width-base));
  padding-block: var(--ncp-spacing-x4);
  flex-direction: column;
  justify-content: center;
  color: var(--ncp-color-gray-500);

  &.active {
    color: var(--ncp-color-foreground);
  }
}

.icon {
  width: rem(20px);
  display: block;
  aspect-ratio: 1;
  overflow: hidden;

  svg {
    height: 100%;
  }
}
