@use '@shared/styles/abstracts' as *;

/* ReturnGroup*/
.section {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x10);
  }
}
// 상단정보
.top {
  position: relative;
}
// 하단내용
.bottom {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x6);
  }
  .wrap {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
  }
}

/*cont*/
.cont {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-22);
  font-weight: var(--ncp-font-weight-regular);
}

/* info */
.info {
  & li {
    display: inline-block;
    font-size: var(--ncp-font-size-12);
    line-height: var(--ncp-line-height-16);
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-gray-500);
    position: relative;
    padding-left: rem(13px);
    &:first-child {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: rem(6px);
      width: rem(1px);
      height: rem(10px);
      transform: translateY(-50%);
      background-color: var(--ncp-color-gray-150);
    }
  }
}
