@use '@shared/styles/abstracts' as *;

/* ConfirmCard */
.layout {
  position: relative;
}
// 목록
.list {
  margin-top: var(--ncp-spacing-x12);
  position: relative;
  @include flex($d: column, $h: center);
  & > li {
    padding-block: var(--ncp-spacing-x12);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
    :is([class^='Radio_root']) {
      --radio-label-gap: #{rem(16px)};
      width: 100%;
      align-items: center;
    }
  }
}
