@use '@shared/styles/abstracts' as *;

/* Checkbox group */
.root {
  display: flex;
  gap: var(--checkbox-group-gap, var(--ncp-spacing-x12));
  &:global(.ncp-align-vertical) {
    width: 100%;
    align-items: stretch;
  }
}
