@use '@shared/styles/abstracts' as *;

/* ProdPrice */
.root {
  position: relative;
  margin-top: var(--ncp-spacing-x8);
}
.root:has(> [data-state='show']) {
  padding-block: var(--ncp-spacing-x12);
}
.line {
  background-color: var(--ncp-color-gray-100);
}
.items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ncp-spacing-x3);
  align-items: center;
  margin-top: var(--ncp-spacing-x6);

  &:first-child {
    margin-top: 0;
  }

  dt {
    @include flex(inline-flex, $v: center);
    column-gap: var(--ncp-spacing-x2);
    color: var(--ncp-color-gray-900);
  }

  dd {
    @include flex(inline-flex, $v: center, $h: flex-end);
    column-gap: 8px;
    text-align: right;
    color: var(--ncp-color-gray-900);
    font-weight: var(--ncp-font-weight-medium);

    &.bold {
      font-weight: var(--ncp-font-weight-bold);
    }
  }
}
.benefitCheck {
  input:disabled + label {
    color: var(--ncp-color-gray-900) !important;
  }
}
.textButton {
  margin-left: var(--ncp-spacing-x2);
}
