@use '@shared/styles/abstracts' as *;

.topLine {
  margin-top: var(--ncp-spacing-x20);
}
.branch {
  @include flex;
  column-gap: var(--ncp-spacing-x2);
}
.notice {
  margin-top: var(--ncp-spacing-x16);
  .img {
    margin-top: var(--ncp-spacing-x4);
  }
}
.textlist {
  li {
    --text-list-spacing: var(--ncp-spacing-x2);
  }
}
.bottomLine {
  margin-bottom: 0;
}
