@use '@shared/styles/abstracts' as *;

.sortBox {
  @include flex(flex, $v: center, $h: space-between);
  height: rem(21px);
  margin: var(--ncp-spacing-x12) 0;
}

.sortCheckbox {
  flex-shrink: 0;
}
