@use '@shared/styles/abstracts' as *;

.root {
  > div:last-child {
    display: flex;
    align-items: center;
  }
}
// 컨텐츠 영역
.content {
  width: 100%;
}

// 배송 불가 지역
.error {
  font-size: var(--ncp-color-accent-alert);
}

// 배송 가능 지역
.graybox {
  margin-top: var(--ncp-spacing-x10);
  margin-bottom: var(--ncp-spacing-x16);
  padding: var(--ncp-spacing-x8);
  text-align: center;
  background: #f8f8f8;
  border-radius: var(--ncp-border-radius-base);
}
.textList {
  margin-top: var(--ncp-spacing-x3);
  > li {
    line-height: var(--ncp-line-height-18);
    margin-top: var(--ncp-spacing-x2);
  }
}
