@use '@shared/styles/abstracts' as *;

/* MembershipJoin */
.chipCont {
  @include flex($h: space-between);
  width: 100%;
  padding-inline: var(--ncp-spacing-x8);
}

.agreement {
  margin-block: var(--ncp-spacing-x20) var(--ncp-spacing-x12);
}
