@use '@shared/styles/abstracts' as *;
@use 'sass:list';

// prettier-ignore
$text-styles: (
  1: (13, 18),
  2: (14, 20),
  3: (16, 22),
  4: (20, 26),
);

.root {
  display: flex;
  flex-direction: column;
  gap: var(--banner-title-gap, var(--ncp-spacing-x2));

  &.mt {
    margin-top: var(--ncp-spacing-x6);
  }
}

.title {
  font-size: var(--banner-title-font-size, inherit);
  color: var(--banner-title-color, inherit);
  @include ellipsis(var(--banner-text-truncate, 2));
}
@each $key, $pair in $text-styles {
  $font-size-key: list.nth($pair, 1);
  $line-height-key: list.nth($pair, 2);

  .size#{$key} {
    font-size: var(--ncp-font-size-#{$font-size-key});
    line-height: var(--ncp-line-height-#{$line-height-key});

    // font-weight: if(
    //   $key == 1 or $key == 2,
    //   var(--ncp-font-weight-semibold),
    //   var(--ncp-font-weight-bold)
    // );
  }
}

.subtitle {
  margin-top: 0;
  @include ellipsis(var(--banner-text-truncate, 2));
  color: var(--banner-subtitle-color, inherit);
}
