@use '@shared/styles/abstracts' as *;

.root {
  @include flex($d: column);
  gap: var(--ncp-spacing-x12);
}

.image {
  border-radius: var(--ncp-border-radius-base);
}

.title {
  text-align: center;
  & > :not(:first-child) {
    margin-top: var(--ncp-spacing-x4);
  }
}

// align
.left {
  text-align: left;
}
