@use '@shared/styles/abstracts' as *;

.root {
  --banner-padding-x: var(--ncp-spacing-x8);
  position: relative;
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;

  &.round {
    --banner-padding-x: var(--ncp-spacing-x10);
    border-radius: var(--ncp-border-radius-max);
  }
}
.link {
  height: rem(64px);
  padding: var(--banner-padding-x);
}

.image {
  @include position(absolute, 0, 0, 0, 0, 0);

  & > img {
    object-position: right center;
  }
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  color: var(--ncp-color-gray-900);
  font-size: var(--ncp-font-size-13);
  font-weight: var(--ncp-font-weight-semibold);
}
.subtitle {
  margin-top: var(--ncp-spacing-x2);
  color: var(--ncp-color-gray-500);
  font-size: var(--ncp-font-size-12);
}
