@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  @include flex($d: column);
  gap: var(--ncp-spacing-x12);
}

.chatbot {
  width: rem(90px);
}

.image {
  width: rem(90px);
  margin-bottom: var(--ncp-spacing-x6);
  aspect-ratio: 1;
  border-radius: var(--ncp-border-radius-base);
}

.links {
  @include flex($v: flex-end, $d: column);
  gap: var(--ncp-spacing-x6);
}
.link {
  max-width: 100%;
  min-height: rem(46px);
  padding: var(--ncp-spacing-x2) var(--ncp-spacing-x10);
  font-size: var(--ncp-font-size-15);
  font-weight: var(--ncp-font-weight-semibold);
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-background);
}
.text {
  @include ellipsis(1, 1.5, true);
  flex: 1;
}
