@use '@shared/styles/abstracts' as *;

.root {
  --colorset-title-text-color: var(--ncp-color-white);
  --colorset-subtitle-text-color: var(--ncp-color-alpha-w60);
  --colorset-keywords-text-color: #dafa51;
  --banner-padding-x: var(--ncp-spacing-x8);

  position: relative;
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;

  &:has(.image) {
    --banner-dimmed-display: block;
  }
}
.link {
  @include flex($d: column, $v: flex-start) {
    gap: var(--ncp-spacing-x12);
  }
  width: 100%;
  height: 100%;
  padding: var(--ncp-spacing-x12) var(--banner-padding-x);
}
.title {
  color: var(--colorset-title-text-color);
  font-size: var(--ncp-font-size-20);
  line-height: var(--ncp-line-height-26);
  font-weight: var(--ncp-font-weight-semibold);
  @include ellipsis(2);
  & + .subtitle {
    margin-top: var(--ncp-spacing-x4);
  }
}
.subtitle {
  color: var(--colorset-subtitle-text-color);
  font-size: var(--ncp-font-size-14);
  @include ellipsis(2);
}
.keywords {
  position: relative;
  @include flex(flex, $v: center, $w: wrap);
  gap: var(--ncp-spacing-x4);
  & > li {
    color: var(--colorset-keywords-text-color);
    font-size: var(--ncp-font-size-15);
    line-height: var(--ncp-line-height-22);
    &:not(:last-child) {
      @include separatorDot($gap: 8px, $color: var(--colorset-keywords-text-color));
    }
  }
}

.image {
  @include position(absolute, 0, 0, 0, 0, 0);

  &::after {
    @include position(absolute, 0, 0, 0, 0, 1);
    display: var(--banner-dimmed-display, none);
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 70%);
  }

  & > img {
    object-position: right center;
  }
}

// colorType
// 블랙
.type-black {
  background-color: var(--ncp-color-black);
  .title {
    color: var(--ncp-color-white);
  }
  .subtitle {
    color: var(--ncp-color-alpha-w60);
  }
}
// 라임
.type-lime {
  background-color: #dafa51;
  --colorset-title-text-color: var(--ncp-color-black);
  --colorset-keywords-text-color: var(--ncp-color-black);
  --colorset-subtitle-text-color: var(--ncp-color-gray-900);
  .subtitle {
    opacity: 0.6;
  }
}
