@use '@shared/styles/abstracts' as *;

/* AttendanceHistory */
.calendar {
  margin-block: var(--ncp-spacing-x20);
}

/* gridCalendar */
.gridCalendar {
  text-align: center;
  & > * {
    height: rem(48px);
    line-height: rem(48px);
    font-size: var(--ncp-font-size-13);
    font-weight: var(--ncp-font-weight-medium);
  }
  .gridItem {
    color: var(--ncp-color-gray-700);
  }
}
