@use '@shared/styles/abstracts' as *;

.root {
  border: solid var(--ncp-color-foreground);
  border-width: var(--ncp-border-width-base) 0;
  & > li:not(:first-child) {
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }
}
.link {
  display: flex;
  gap: var(--ncp-spacing-x4);
  padding: var(--ncp-spacing-x6) 0;
  color: var(--ncp-color-foreground);
}
.typo {
  --image-width: auto;
  --image-object-fit: fill;
  height: rem(38px);
}
.text {
  margin-right: auto;
  font-weight: var(--ncp-font-weight-semibold);
}
