@use '@shared/styles/abstracts' as *;

/* Line */
.root {
  all: unset;
  display: block;
  height: var(--ncp-border-width-base);
  background-color: var(--ncp-color-gray-150);
}

// variant
.bold {
  height: rem(8px);
  // margin: 0 calc(var(--ncp-main-padding-x) * -1);
  margin: 0 calc(var(--ncp-layout-padding-x) * -1);
  background-color: var(--ncp-color-bg-1);
}

// margin
.margin0 {
  margin-block: 0;
}
.margin1 {
  margin-block: var(--ncp-spacing-x5);
}
.margin2 {
  margin-block: var(--ncp-spacing-x8);
}
.margin3 {
  margin-block: var(--ncp-spacing-x12);
}
.margin4 {
  margin-block: var(--ncp-spacing-x20);
}
.margin5 {
  margin-block: var(--ncp-spacing-x16);
}
.margin6 {
  margin-block: var(--ncp-spacing-x10);
}

// color
.black {
  background-color: var(--ncp-color-foreground);
}
.bg1 {
  background-color: var(--ncp-color-bg-1);
}
.bg2 {
  background-color: var(--ncp-color-gray-100);
}

// height
$heights: 8;
@each $n in $heights {
  .height#{$n} {
    height: #{$n}px;
  }
}
