@use '@shared/styles/abstracts' as *;

/* JoinedEvents */
// 전체갯수 + 날짜필터
.total {
  margin-top: var(--ncp-spacing-x16);
  .select {
    :is([class^='Select_value']) {
      justify-content: end;
      text-align: right;
    }
  }
}

.btns {
  text-align: center;
}

.box {
  margin-block: var(--ncp-spacing-x20) var(--ncp-spacing-x16);
}

/* hasEmpty */
.hasEmpty {
  width: 100%;
  overflow: hidden;
  height: rem(340px);
}
