@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  width: 100%;
}

.thumbs {
  @include grid($c: 4, $gap: var(--ncp-spacing-x1));
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
}

.item {
  position: relative;
  aspect-ratio: 1;
  background: url('/images/no_image.png') no-repeat center / cover;
  background-color: var(--ncp-color-bg-1);

  [class*='Image_root'] {
    width: 100%;
    height: 100%;
  }
}
.link {
  width: 100%;
  height: 100%;
}

.overflow {
  z-index: 0;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: var(--ncp-color-alpha-b30);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
  }
}

.rest {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--ncp-color-white);
  transform: translate(-50%, -50%);
  z-index: 1;
}
