@use '@shared/styles/abstracts' as *;

/* ProdTitle */
.root {
  margin-bottom: var(--ncp-spacing-x4);
}
.brand {
  display: block;
  margin-bottom: var(--ncp-spacing-x1);
  @include ellipsis(1);
}
.title {
  @include ellipsis(var(--product-title-truncate, 2));
  font-weight: var(--ncp-font-weight-regular);
}
.size {
  display: flex;
  align-items: center;
  gap: var(--ncp-spacing-x8);
  margin-top: var(--ncp-spacing-x4);
  color: var(--ncp-color-gray-450);

  span + span {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: rem(-8px);
      top: 50%;
      width: rem(1px);
      height: calc(100% - rem(8px));
      background: var(--ncp-color-gray-150);
      transform: translateY(-50%);
    }
  }
}
.description {
  margin-top: var(--ncp-spacing-x2);
  color: var(--ncp-color-gray-450);
  white-space: pre-line;
}
