@use '@shared/styles/abstracts' as *;

// SearchSettingDrawer
.root {
}
// 상단
.top {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
  & + * {
    margin-top: var(--ncp-spacing-x16);
  }
}
// 기간 설정영역 (캘린더포함)
.range {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x6);
  }
}
// 캘린더 구조
.calendar {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x2);
  }
}
