@use '@shared/styles/abstracts' as *;

/* Button */
.root {
  position: relative;
  @include flex(inline-flex, center, center) {
    gap: var(--ncp-spacing-x2);
  }
  width: 100%;
  padding: var(--ncp-spacing-x2) var(--ncp-spacing-x8);
  height: rem(44px);
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-fit);
  font-weight: var(--ncp-font-weight-bold);
  border: var(--ncp-border-width-base) solid transparent;
  border-radius: var(--ncp-border-radius-base);
  &:disabled {
    color: var(--ncp-color-white);
    border-color: var(--ncp-color-gray-450);
    background-color: var(--ncp-color-gray-450);
  }
  &:has(> :global(.ncp-blind)) {
    width: auto;
    padding: 0;
    aspect-ratio: 1;
  }
}

// Size
.large {
  height: rem(52px);
  font-size: var(--ncp-font-size-16);
}
.small {
  gap: var(--ncp-spacing-x2);
  height: rem(36px);
  font-size: var(--ncp-font-size-13);
  font-weight: var(--ncp-font-weight-regular);
}
.smaller {
  gap: var(--ncp-spacing-x2);
  width: auto;
  height: rem(32px);
  padding-inline: var(--ncp-spacing-x6);
  font-size: var(--ncp-font-size-12);
  font-weight: var(--ncp-font-weight-semibold);
  border-radius: var(--ncp-border-radius-s);
}
.xsmall {
  gap: var(--ncp-spacing-x1);
  width: auto;
  height: rem(28px);
  padding-inline: var(--ncp-spacing-x6);
  font-size: var(--ncp-font-size-12);
  font-weight: var(--ncp-font-weight-regular);
  border-radius: var(--ncp-border-radius-s);
}
.xxsmall {
  gap: var(--ncp-spacing-x1);
  width: auto;
  height: rem(24px);
  padding-inline: var(--ncp-spacing-x5);
  font-size: var(--ncp-font-size-12);
  font-weight: var(--ncp-font-weight-semibold);
}

// 상품상세 > 최대혜택가(혜택계산기) 내부에서 사용
// disabled 컬러 일반 primary와 다름
.tiny {
  width: auto;
  height: rem(20px);
  font-size: var(--ncp-font-size-11);
  font-weight: var(--ncp-font-weight-regular);
  border-radius: var(--ncp-border-radius-max);
  padding: var(--ncp-spacing-x1) var(--ncp-spacing-x4);
  &:disabled {
    color: var(--ncp-color-gray-500);
    background-color: var(--ncp-color-gray-150);
    border-color: var(--ncp-color-gray-150);
  }
}

// Round
.round {
  width: auto;
  font-weight: var(--ncp-font-weight-semibold);
  border-radius: var(--ncp-border-radius-max);
  &.small {
    padding-inline: var(--ncp-spacing-x10);
    font-size: var(--ncp-font-size-12);
  }
}

// Variant
.primary {
  color: var(--ncp-color-background);
  border-color: var(--ncp-color-foreground);
  background-color: var(--ncp-color-foreground);
}
.secondary {
  color: var(--ncp-color-foreground);
  border-color: var(--ncp-color-foreground);
  background-color: var(--ncp-color-background);
}
.tertiary {
  border-color: var(--ncp-color-gray-150);
  background-color: var(--ncp-color-background);
  &:disabled {
    color: var(--ncp-color-gray-500);
    border-color: var(--ncp-color-gray-150);
    background-color: var(--ncp-color-bg-2);
  }
}
.neutral {
  background: var(--ncp-color-bg-2);
}
.point {
  border-color: var(--ncp-color-accent-1);
  background-color: var(--ncp-color-accent-1);
  color: var(--ncp-color-background);
}
.kakao {
  color: #262200;
  background: #fee500;
  border-color: #fee500;
}

// 별도 스타일
.highfive {
  height: rem(38px);
  font-size: var(--ncp-font-size-16);
  color: var(--ncp-color-background);
  border-color: var(--ncp-color-foreground);
  background-color: var(--ncp-color-foreground);
  i {
    --icon-size: #{rem(20px)};
  }
}
