@use '@shared/styles/abstracts' as *;

/* Tip */
.root {
  --tip-font-color: var(--ncp-color-foreground);
  --tip-background-color: #2ede7d;

  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--ncp-spacing-x1);
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);
  font-weight: var(--ncp-font-weight-medium);
  padding: var(--ncp-spacing-x2) var(--ncp-spacing-x4);
  border-radius: var(--ncp-border-radius-s);
  background-color: var(--tip-background-color);
  color: var(--tip-font-color);
  min-height: rem(24px);
  &:before {
    content: '';
    position: absolute;
    inset: rem(-6px) auto auto 50%;
    margin-left: rem(-4px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px rem(4px) rem(6px) rem(4px);
    border-color: transparent transparent var(--tip-background-color) transparent;
  }
}

// Placement
.top::before {
  inset: auto auto rem(-6px) 50%;
  border-width: rem(6px) rem(4px) 0 rem(4px);
  border-color: var(--tip-background-color) transparent transparent transparent;
}

.left::before {
  inset: 50% rem(-6px) auto auto;
  transform: translateY(-50%);
  border-width: rem(4px) 0 rem(4px) rem(6px);
  border-color: transparent transparent transparent var(--tip-background-color);
}

.right::before {
  inset: 50% auto auto rem(-2px);
  transform: translateY(-50%);
  border-width: rem(4px) rem(6px) rem(4px) 0;
  border-color: transparent var(--tip-background-color) transparent transparent;
}

// 꼬리 화살표
.startArrow {
  &::before {
    left: rem(8px);
    margin-left: 0;
  }
}
.endArrow {
  &::before {
    left: auto;
    right: rem(8px);
    margin-left: 0;
  }
}

// variant
.marker {
  --tip-font-color: var(--ncp-color-background);
  --tip-background-color: var(--ncp-color-foreground);
  padding: var(--ncp-spacing-x4) var(--ncp-spacing-x6);
  border-radius: var(--ncp-border-radius-base);
  font-size: var(--ncp-font-size-10);
  line-height: 1;
  span {
    color: var(--ncp-color-accent-caret);
  }
}
