@use '@shared/styles/abstracts' as *;

.list {
  display: flex;
  align-items: center;
  column-gap: var(--ncp-spacing-x3);

  & + .list {
    margin-top: var(--ncp-spacing-x6);
  }
}
.item {
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-bg-1);
}
.link {
  min-height: rem(36px);
  padding: var(--ncp-spacing-x4) var(--ncp-spacing-x8);
  gap: var(--ncp-spacing-x4);
  white-space: nowrap;
  overflow: hidden;
}
.image {
  width: rem(32px);
  height: rem(32px);
  margin-left: calc(var(--ncp-spacing-x4) * -1);
  border-radius: var(--ncp-border-radius-max);
}
