@use '@shared/styles/abstracts' as *;

.root {
  margin-bottom: 60px;
}
.listBox {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x8);
}

// 그룹핑 쿠폰
.grouping {
  padding: var(--ncp-spacing-x8);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);

  .buttonWrap {
    @include flex(flex, $h: space-between);
  }

  .period {
    margin-top: var(--ncp-spacing-x5);
  }

  // Collapse.Content
  .grayBg {
    display: flex;
    flex-direction: column;
    gap: var(--ncp-spacing-x8);
    margin: var(--ncp-spacing-x8) calc(var(--ncp-main-padding-x) * -1)
      calc(var(--ncp-main-padding-x) * -1);
    padding: var(--ncp-spacing-x8);
    background: var(--ncp-color-bg-1);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  }
}
