@use '@shared/styles/abstracts' as *;

.root {
  [data-state='hide'] {
    display: none !important;
  }
}

.controls {
  position: relative;
}
.control {
  width: 100%;
  height: 100%;
}
.content {
  position: relative;
}

// variant: line
.line {
  > .controls {
    .control {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--ncp-spacing-x4);
      padding: 0 0 var(--ncp-spacing-x6) 0;
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }

    // .subTitle {
    //   color: var(--ncp-color-gray-850);
    // }
  }

  .suffix {
    @include ellipsis(1);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ncp-spacing-x4);

    > * {
      @include ellipsis(1);
    }
  }

  > .content {
    padding-top: var(--ncp-spacing-x2);
    padding-bottom: var(--ncp-spacing-x12);
  }

  .summaryBox {
    padding: var(--ncp-spacing-x8) var(--ncp-spacing-x10);
    background: var(--ncp-color-bg-1);
    border-bottom-left-radius: var(--ncp-border-radius-base);
    border-bottom-right-radius: var(--ncp-border-radius-base);
  }
}

// variant: borderTop
.borderTop {
  > .controls {
    .control {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--ncp-spacing-x4);
      width: 100%;
      padding: var(--ncp-spacing-x8) 0;
      border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }
  }

  .suffix {
    @include ellipsis(1);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ncp-spacing-x4);

    > * {
      @include ellipsis(1);
    }
  }
}

// variant: section
.section {
  > .controls {
    .control {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--ncp-spacing-x4);
      width: 100%;
      padding: var(--ncp-spacing-x10) 0;
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }
  }

  .suffix {
    @include ellipsis(1);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ncp-spacing-x4);

    > * {
      @include ellipsis(1);
    }
  }

  > .content {
    padding-top: var(--ncp-spacing-x2);
    padding-bottom: var(--ncp-spacing-x12);
  }
}

// variant: garybox
.graybox {
  > .controls {
    .control {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--ncp-spacing-x4);
      padding: 0 0 var(--ncp-spacing-x6) 0;
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }

    .subTitle {
      color: var(--ncp-color-gray-850);
    }
  }

  > .content {
    padding: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
    background: var(--ncp-color-bg-1);
    border-bottom-left-radius: var(--ncp-border-radius-base);
    border-bottom-right-radius: var(--ncp-border-radius-base);
  }

  .summaryBox {
    // padding: var(--ncp-spacing-x8) var(--ncp-spacing-x10);
    background: var(--ncp-color-bg-1);
    border-bottom-left-radius: var(--ncp-border-radius-base);
    border-bottom-right-radius: var(--ncp-border-radius-base);
  }
}

// variant: normal
.normal {
  --collapse-normal-padding: var(--ncp-spacing-x6);

  > .controls {
    .control {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--ncp-spacing-x4);
      padding: 0 0 var(--collapse-normal-padding) 0;
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }

    .subTitle {
      color: var(--ncp-color-gray-850);
    }
  }

  > .content {
    padding-top: var(--ncp-spacing-x10);
  }
}

// variant: default
.default {
  > .controls {
    .control {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--ncp-spacing-x4);
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }

    .subTitle {
      color: var(--ncp-color-gray-850);
    }
  }

  > .content {
    padding-top: var(--ncp-spacing-x8);
  }
}

// marginTop
.marginTop1 {
  margin-top: var(--ncp-layout-gutter-y);
}
.marginTop2 {
  margin-top: var(--ncp-spacing-x16);
}
.marginTop3 {
  margin-top: var(--ncp-spacing-x12);
}

// border
.border {
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
}

// variant: fullGrayBox (ex 상품 상세 상단 - 혜택 계산기(최대혜택가))
.fullGrayBox {
  background-color: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
  // 닫혔을 때(기본)
  > .controls {
    padding: var(--ncp-spacing-x8);
    .control {
      @include flex(flex, $v: center, $h: space-between);
      gap: var(--ncp-spacing-x4);
      width: 100%;
    }
  }

  // 열렸을 때
  &:has(> [data-state='show']) {
    > .controls {
      .control {
        padding-top: var(--ncp-spacing-x4);
      }
    }
    > .content {
      padding-bottom: var(--ncp-spacing-x12);
      > hr:first-of-type {
        margin-top: 0;
      }
    }
  }

  .titleArea {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);

    > *:first-child {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }
  }

  .suffix {
    @include ellipsis(1);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ncp-spacing-x4);

    > * {
      @include ellipsis(1);
    }
  }

  .content {
    padding-inline: var(--ncp-spacing-x8);
  }
}

// variant: clear (line 등 아무것도 없는 깨끗한 형태)
.clear {
  > .controls {
    .control {
      @include flex(flex, $v: center, $h: space-between);
      gap: var(--ncp-spacing-x4);
    }
  }
}

// variant: inner (collapse 내부에 들어가는 inner collapse 형태)
.inner {
  > .controls {
    .control {
      @include flex(flex, $v: center);
      gap: var(--ncp-spacing-x2);
      color: var(--ncp-color-gray-700);
      > i {
        color: var(--ncp-color-gray-500);
      }
    }
  }
}

// variant: event (event 페이지에서 꼭! 읽어주세요 에 반복 사용되는 형태)
.event {
  margin-top: var(--ncp-spacing-x30);
  > .controls {
    .control {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--ncp-spacing-x4);
      width: 100%;
      padding: var(--ncp-spacing-x10) 0;
      border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }
}

// borderPlacement
.topBorder {
  border-top: var(--ncp-border-width-base) solid;
}
.bottomBorder {
  border-bottom: var(--ncp-border-width-base) solid;
}

// borderColor
.gray100 {
  border-color: var(--ncp-color-gray-100);
}
.black {
  border-color: var(--ncp-color-foreground);
}

/* 컨텐츠 paddingBlock*/
.content {
  &.paddingBlock-0 {
    padding-block: 0;
  }
}
