@use '@shared/styles/abstracts' as *;

// ImageUpload
.list {
  --uploader-image-delete-size: #{rem(24px)};
  --uploader-image-delete-inset: 8px 8px auto auto;
  position: relative;
}
.item {
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .img {
    aspect-ratio: 1 / 1;
  }
  .delete {
    --icon-size: #{var(--uploader-image-delete-size)};
    position: absolute;
    inset: var(--uploader-image-delete-inset);
  }
}
.control {
  gap: var(--ncp-spacing-x4);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  aspect-ratio: 1 / 1;
  width: 100%;
  @include flex($d: column, $h: center, $v: center);
}
.info {
  margin-top: var(--ncp-spacing-x12);
}
.point {
  color: var(--ncp-color-gray-900);
}

// type swiper
.swiper {
  --uploader-image-delete-size: #{rem(20px)};
  --uploader-image-delete-inset: 6px 6px auto auto;
  margin-inline: calc(var(--ncp-main-padding-x) * -1);
  padding-inline: var(--ncp-layout-padding-x);
  user-select: none;
  overflow: hidden;
  :global(.swiper-wrapper) {
    display: flex;
  }
}
.swiperItem {
  position: relative;
  padding-left: var(--ncp-spacing-x3);
  &:first-child {
    padding-left: 0;
  }
  .item,
  .control {
    width: rem(90px);
  }
  .control {
    border-color: var(--ncp-color-bg-1);
    background-color: var(--ncp-color-bg-1);
  }
}

/* pickerType drawer */
.drawer {
  padding-bottom: var(--ncp-spacing-x8);
  .btns {
    @include flex($h: center) {
      gap: rem(62px);
    }
    .btn {
      @include flex($d: column, $v: center) {
        gap: var(--ncp-spacing-x4);
      }
      .icon {
        @include flex($h: center, $v: center);
        position: relative;
        width: rem(56px);
        height: rem(56px);
        background-color: var(--ncp-color-bg-1);
        border-radius: var(--ncp-border-radius-max);
      }
    }
  }
}
