@use '@shared/styles/abstracts' as *;

.button {
  color: var(--ncp-color-gray-500);
}

.list {
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
  display: flex;
  flex-direction: column;
  row-gap: var(--ncp-spacing-x4);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
}

.link {
  padding-block: var(--ncp-spacing-x2);
  line-height: var(--ncp-line-height-20);
}
