@use '@shared/styles/abstracts' as *;

// 컨텐츠 영역
.content {
  padding-top: var(--ncp-spacing-x4);
  padding-bottom: var(--ncp-spacing-x10);
}

// 카드 bg color
.bg1 {
  background: var(--ncp-color-bg-3);
}

.bg2 {
  background: var(--ncp-color-gray-850);

  .message,
  .editButton {
    color: var(--ncp-color-background) !important;
  }
}

.bg3 {
  background: var(--ncp-color-bg-1);
}

// 메세지 카드 영역
.cardArea {
  border-radius: var(--ncp-border-radius-base);
}

// 메세지 입력 영역
.messageArea {
  padding: var(--ncp-spacing-x8);

  .message {
    margin-top: 0;
  }
}
