@use '@shared/styles/abstracts' as *;

/* SubscriptionItem */
.slot {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
  }
}
/* 수량 */
.quantity {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  font-weight: var(--ncp-font-weight-regular);
  color: var(--ncp-color-gray-500);
  margin-top: rem(-8px);
}
