/* LNB */
*{
  margin: 0;
  padding: 0;
}
ul, li, ol, li{
  list-style-type: none;
}

/*lnb-wrap*/
.lnb-wrap{
  width: 240px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
}
.lnb-wrap .lnb-head{
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  background-color: #eeeeee;
}
.lnb-wrap .lnb-body{
  flex: 1;
}
.lnb-wrap .lnb-body .depth01,
.lnb-wrap .lnb-body .depth02,
.lnb-wrap .lnb-body .depth03,
.lnb-wrap .lnb-body .depth04{
  display:none;
}
.lnb-wrap .lnb-body .depth01.on,
.lnb-wrap .lnb-body .depth02.on,
.lnb-wrap .lnb-body .depth03.on,
.lnb-wrap .lnb-body .depth04.on{
  display:block;
}
.icon-firstletter{
  display: none;
}
.icon-firstletter.on{
  display: block;
}
.icon-firstletter.on + span{
  display: none;
}
.lnb-wrap .lnb-body .depth01 > li{
  display: flex;
  gap: 8px;
}
.lnb-wrap .lnb-body .depth01 > li > p{
  flex-grow: 0; 
  flex-shrink: 0;
}
.lnb-wrap .lnb-body .depth01 > li > ul{
  flex: 1;
}
.lnb-wrap .lnb-body .depth02{
  background-color: #d5d5d5;
}
.lnb-hide{
  display: none !important;
}
.lnb-wrap .lnb-body .depth04{
  padding-left: 12px;
}