@use '@shared/styles/abstracts' as *;
@use 'sass:map';
@use 'sass:list';

// tokens.scss 파일에 정의되어 있는 폰트 사이즈 중에 선택
// (font-size, line-height)
// prettier-ignore
$text-styles: (
  1: (12, 16),
  2: (13, 18),
  3: (14, 20),
  4: (15, 22),
  5: (16, 22),
  6: (18, 24),
  7: (22, 28),
  8: (24, 30),
  9: (32, 38)
);

.root {
  position: relative;
  display: block;
  margin: 0;
  color: var(--color-foreground);
}

// 폰트 사이즈
@each $key, $pair in $text-styles {
  $font-size-key: list.nth($pair, 1);
  $line-height-key: list.nth($pair, 2);

  .size#{$key} {
    font-size: var(--ncp-font-size-#{$font-size-key});
    line-height: var(--ncp-line-height-#{$line-height-key});
  }
}

// 좌우 들여쓰기
.indent {
  padding-inline: var(--ncp-spacing-indent);
}
