@use '@shared/styles/abstracts' as *;

/* DeliveryManage */
.layout {
  position: relative;
}

.tabs {
  margin-bottom: 0;
}

// 배송지 리스트 (컴퍼넌트 뺄 것)
.list {
  position: relative;
  padding-inline: var(--ncp-spacing-x8);
  .item {
    padding-block: var(--ncp-spacing-x12);
    border-top: 1px solid var(--ncp-color-gray-100);
    &:first-child {
      border-top: none;
    }
    @include flex($d: column) {
      gap: var(--ncp-spacing-x8);
    }
    .tit {
      font-size: var(--ncp-font-size-16);
      line-height: var(--ncp-line-height-22);
      font-weight: var(--ncp-font-weight-bold);
      color: var(--ncp-color-foreground);
    }
    .cont {
      @include flex($d: column) {
        gap: var(--ncp-spacing-x4);
        .top {
          @include flex($d: column) {
            gap: var(--ncp-spacing-x2);
          }
          .info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--ncp-spacing-x3);
            .name {
              @include separator($gap: var(--ncp-spacing-x3));
            }
          }
        }
        .bottom {
          @include flex($d: column) {
            gap: var(--ncp-spacing-x2);
          }
        }
      }
    }
  }
}
