@use '@shared/styles/abstracts' as *;

// PaymentInfoDialog
.wrap {
  width: 100%;
  margin-block: var(--ncp-spacing-x16);
  [data-state='hide'] {
    display: none;
  }
}
// infoList
.infoList {
  & .couponDt:first-child,
  & .couponDd:first-child {
    margin-top: 0 !important;
  }
}

// Heading 타이틀
.tit {
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-20);
  font-weight: var(--ncp-font-weight-semibold);
  color: var(--ncp-color-gray-900);
  margin-bottom: var(--ncp-spacing-x4);
}
// hasToggle
.hasToggle {
  margin-block: var(--ncp-spacing-x4);
}

/*list - group 모임*/
.list {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
}
// 총 합계
.total {
  margin-top: var(--ncp-spacing-x10);
  padding-top: var(--ncp-spacing-x10);
  padding-inline: var(--ncp-spacing-indent);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  .totalTit {
    font-size: var(--ncp-font-size-14);
    line-height: var(--ncp-line-height-20);
    font-weight: var(--ncp-font-weight-semibold);
    color: var(--ncp-color-foreground);
  }
  .totalPrice {
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-semibold);
    color: var(--ncp-color-foreground);
  }
}

// 상품쿠폰 버튼
.control {
  background: transparent;
  .arrow {
    margin-left: var(--ncp-spacing-x1);
    &:before {
      background-color: var(--ncp-color-gray-500);
    }
  }
}

// 상품쿠폰 InfoList
.couponDt,
.couponDd {
  margin-top: -2px;
  color: var(--ncp-color-gray-500) !important;
}
.couponDt {
  position: relative;
  padding-left: var(--ncp-spacing-x4);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: rem(4px);
    height: rem(1px);
    background: var(--ncp-color-gray-350);
    transform: translateY(-50%);
  }
}
