@use '@shared/styles/abstracts' as *;

/* PointExpiringItem */
.item {
  --gray-info-font-size: var(--ncp-font-size-12);
  --gray-info-line-height: var(--ncp-line-height-16);
  --gray-info-font-weight: var(--ncp-font-weight-regular);
  --gray-info-color: var(--ncp-color-gray-500);

  @include flex($d: column);
  gap: var(--ncp-spacing-x2);
  padding-inline: var(--ncp-spacing-indent);
  padding-block: var(--ncp-spacing-x12);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  &:first-child {
    border: none;
  }
  .top {
    @include flex($v: flex-start, $h: space-between);
    gap: var(--ncp-spacing-x8);
    .tit,
    .point {
      font-size: var(--ncp-font-size-14);
      line-height: var(--ncp-line-height-20);
      font-weight: var(--ncp-font-weight-medium);
    }
  }
  .bottom {
    position: relative;
    font-size: var(--gray-info-font-size);
    line-height: var(--gray-info-line-height);
    font-weight: var(--gray-info-font-weight);
    .end {
      color: var(--gray-info-color);
    }
    .remain {
      font-weight: var(--gray-info-font-weight);
      color: var(--ncp-color-gray-900);
      margin-left: var(--ncp-spacing-x1);
    }
  }
}
