@use '@shared/styles/abstracts' as *;

/* OpenAlramDrawer */
.layout {
  position: relative;
}
.list {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
  .item {
    padding-inline: var(--ncp-spacing-indent);
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
  }
}
