@use '@shared/styles/abstracts' as *;

/* DeliveryDateSelectDialog */
.title {
  margin-top: var(--ncp-spacing-x8);
  @include flex($v: center) {
    gap: var(--ncp-spacing-x2);
  }
}
.calendar {
  margin-block: var(--ncp-spacing-x8) var(--ncp-spacing-x20);
}

// 안내문구 영역
.infoText {
  margin-top: var(--ncp-spacing-x6);
}
