@use '@shared/styles/abstracts' as *;

/* TitleWithInfoAddr */
.address {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x2);
  }
}

/* 배송지를 입력해주세요 영역*/
.addressEmpty {
  position: relative;
}

/* 기본주소 + 상세주소 */
.addrArea {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x2);
  }
}

/* 상단정보 */
.topInfo {
  @include flex() {
    gap: var(--ncp-spacing-x2);
  }
  .name {
    flex: 1;
    color: var(--ncp-color-foreground);
  }
  .btns {
    margin-top: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

/* 버튼 영역*/
.btns {
  margin-top: var(--ncp-spacing-x4);
  @include flex($h: flex-end) {
    gap: var(--ncp-spacing-x4);
  }
}

/* 요청사항 영역 */
.note {
  margin-top: var(--ncp-spacing-x8);
}

/* 받으시는 분 영역 박스*/
.receiver {
  & + * {
    margin-top: var(--ncp-spacing-x8);
  }
}
