@use '@shared/styles/abstracts' as *;

.root {
  --table-th-font-size: var(--ncp-font-size-14);
  --table-th-line-height: var(--ncp-line-height-20);
  --table-th-bg: var(--ncp-color-bg-1);
  --table-th-weight: var(--ncp-font-weight-semibold);
  --table-th-vertical-align: middle;
  --table-td-font-size: var(--ncp-font-size-14);
  --table-td-line-height: var(--ncp-line-height-20);
  --table-td-color: var(--ncp-color-gray-700);
  --table-td-weight: var(--ncp-font-weight-regular);
  --table-border-width: var(--ncp-border-width-base);
  --table-border-color: var(--ncp-color-gray-100);
  --table-border-spacing-x: 0;
  --table-border-spacing-y: 0;

  :where(.table) {
    width: 100%;
    min-width: 100%;
    table-layout: fixed;
  }
  :where(th) {
    font-size: var(--table-th-font-size);
    line-height: var(--table-th-line-height);
    font-weight: var(--table-th-weight);
  }
  :where(td) {
    font-size: var(--table-td-font-size);
    line-height: var(--table-td-line-height);
    color: var(--table-td-color);
    font-weight: var(--table-td-weight);
    white-space: pre-line;
  }

  // border-spacing으로 인해, 테이블 상하좌우 테두리 여백이 생기는 부분 방지
  &:where(.wrapper) {
    overflow: hidden;
    .table {
      width: calc(100% + (var(--table-border-spacing-x) * 2));
      margin: calc(-1 * var(--table-border-spacing-y)) calc(-1 * var(--table-border-spacing-x));
      border-collapse: separate;
      border-spacing: var(--table-border-spacing-x) var(--table-border-spacing-y);
    }
  }
}

// 가로형 기본 스타일
.horizontal {
  :where(th, td) {
    padding: var(--ncp-spacing-x6);
    border-right: var(--table-border-width) solid var(--table-border-color);
    &:where(:last-child) {
      border-right: 0;
    }
  }
  :where(th) {
    text-align: center;
    background-color: var(--table-th-bg);
    vertical-align: var(--table-th-vertical-align);
  }
  :where(td) {
    border-bottom: var(--table-border-width) solid var(--table-border-color);
    text-align: center;
  }

  &.borderless {
    --table-border-spacing-x: 0;
    --table-border-spacing-y: var(--ncp-spacing-x4);

    th {
      padding: var(--ncp-spacing-x5);
    }
    td {
      padding: var(--ncp-spacing-x4);
    }
  }
}

// 세로형 기본 스타일
.vertical {
  --table-th-font-size: var(--ncp-font-size-13);
  --table-th-weight: var(--ncp-font-weight-medium);
  --table-th-line-height: var(--ncp-line-height-22);
  --table-td-font-size: var(--ncp-font-size-13);
  --table-td-line-height: var(--ncp-line-height-22);
  border-top: var(--table-border-width) solid var(--table-border-color);
  :where(th, td) {
    padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
    border-bottom: var(--table-border-width) solid var(--table-border-color);
  }
  :where(th) {
    text-align: left;
    background-color: var(--table-th-bg);
    vertical-align: var(--table-th-vertical-align);
  }

  // variant
  &:where(.plain) {
    --table-th-vertical-align: top;
    --table-border-spacing-x: var(--ncp-spacing-x10);
    --table-border-spacing-y: var(--ncp-spacing-x8);
    --table-td-color: var(--ncp-color-gray-900);
    --table-td-weight: var(--ncp-font-weight-medium);

    th,
    td {
      padding: 0;
    }
    th {
      color: var(--ncp-color-gray-700);
    }
  }
}

// 가로형 세로형 공통 variant
.borderless {
  --table-border-width: 0;
}
.plain {
  --table-border-width: 0;
  --table-th-bg: transparent;
}
.separate {
  --table-border-width: 0;
  --table-th-bg: transparent;
  --table-th-weight: var(--ncp-font-weight-medium);
  --table-th-font-size: var(--ncp-font-size-13);
  --table-th-line-height: var(--ncp-line-height-22);
  --table-td-font-size: var(--ncp-font-size-13);
  --table-td-line-height: var(--ncp-line-height-22);

  --table-separate-x-padding: var(--ncp-spacing-x8);
  --table-separate-spacing: 0 var(--ncp-spacing-x4);

  .table {
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    border-collapse: separate;
    border-spacing: var(--table-separate-spacing);
    background-color: transparent;
    tr {
      th:first-child,
      td:first-child {
        padding-left: var(--table-separate-x-padding);
      }
      th:last-child,
      td:last-child {
        padding-right: var(--table-separate-x-padding);
      }
      td:first-child {
        border-radius: var(--ncp-border-radius-base) 0 0 var(--ncp-border-radius-base);
      }
      td:last-child {
        border-radius: 0 var(--ncp-border-radius-base) var(--ncp-border-radius-base) 0;
      }
    }
  }
  td {
    padding-block: var(--ncp-spacing-x8);
    padding-inline: var(--table-separate-x-padding);
    background-color: var(--ncp-color-bg-1);
    color: var(--ncp-color-gray-900);
  }
  th {
    padding-block: var(--ncp-spacing-x4);
    padding-inline: var(--table-separate-x-padding);
    color: var(--ncp-color-gray-700);
    position: relative;
    &:not(:last-child):after {
      content: '';
      width: rem(1px);
      height: rem(10px);
      background-color: var(--ncp-color-gray-150);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// TableRow 스타일
.tr-point {
  td,
  th {
    background-color: #f5fdfc;
    color: var(--ncp-color-accent-1);
  }
}

// sort 스타일
.sortable {
  --table-td-color: var(--ncp-color-gray-900);
  &:where(.wrapper) {
    .table {
      border-spacing: 0;
    }
  }
  :where(th) {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    height: rem(42px);
  }
  :where(td) {
    font-size: var(--ncp-font-size-12);
    line-height: var(--ncp-line-height-18);
    height: rem(38px);
  }
  .sortBtn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  .sortIcon {
    display: inline-flex;
    flex-direction: column; /* 위/아래 정렬 */
    align-items: center;
    line-height: 1;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    &.asc {
      border-bottom: 6px solid #b5b5b5; // 기본 회색 위쪽 삼각형
      margin-bottom: 2px;
      &.active {
        border-bottom-color: #000000; // 활성화 시 검정
      }
    }
    &.desc {
      border-top: 6px solid #b5b5b5; // 기본 회색 아래쪽 삼각형
      &.active {
        border-top-color: #000000; // 활성화 시 검정
      }
    }
  }
  /* th 전체 클릭 가능 */
  .sortTh {
    cursor: pointer;
    user-select: none;
  }
}
