@use '@shared/styles/abstracts' as *;

/* MypageMain */
.layout {
  position: relative;
  --carousel-pagination-margin-top: var(--ncp-spacing-x8);
}

// ProdCard 타이틀영역 읽히면서 숨김
.prods {
  :is([class^='ProdTitle_root']) {
    @include blind();
    & + * {
      margin-top: 0;
    }
  }
}

// 상단 배너
.banner {
  position: relative;
  width: 100%;
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
  .img {
    width: 100%;
  }
}

// 혜택 배너
.benefit {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
  padding: var(--ncp-spacing-x8);
  @include flex() {
    gap: var(--ncp-spacing-x6);
  }
  .img {
    flex-shrink: 0;
    border-radius: var(--ncp-border-radius-max);
    overflow: hidden;
    width: rem(56px);
    height: rem(56px);
  }
  .title {
    flex: 1;
    @include flex($d: column) {
      gap: var(--ncp-spacing-x2);
    }
  }
}
