@use '@shared/styles/abstracts' as *;

/* MethodSelectDrawer */
.methods {
  @include flex($d: column);
  gap: var(--ncp-spacing-x4);
  .btn {
    width: 100%;
    border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
    border-radius: var(--ncp-border-radius-base);
    height: rem(78px);
    @include flex($v: center, $h: space-between);
    padding: var(--ncp-spacing-x8);
    & > span {
      @include flex($d: column, $h: flex-start);
      gap: var(--ncp-spacing-x2);
      text-align: left;
    }
  }
}
