@use '@shared/styles/abstracts' as *;

/* AlramItem */
.date {
  position: relative;
  & + .listWrap {
    margin-top: var(--ncp-spacing-x12);
  }
}
// 항목 리스트 전체
.listWrap {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x16);
  }
  .listItem {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
    .tit {
      @include flex($h: space-between) {
        gap: var(--ncp-spacing-x4);
      }
    }
    .btns {
      text-align: right;
    }
  }
}
