@use '@shared/styles/abstracts' as *;

/* SubscriptionGroup*/
.section {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
}
// 상단정보
.top {
  position: relative;
}
// 하단내용
.bottom {
  position: relative;
}

// 선물정보 그레이 박스 레이아웃
.box {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x3);
  }
  .item {
    @include flex() {
      gap: var(--ncp-spacing-x3);
    }
    .tit {
      font-size: var(--ncp-font-size-13);
      line-height: var(--ncp-line-height-18);
      font-weight: var(--ncp-font-weight-semibold);
      color: var(--ncp-color-foreground);
      @include separator(right, $gap: var(--ncp-spacing-x3));
    }
    .cont {
      font-size: var(--ncp-font-size-13);
      line-height: var(--ncp-line-height-18);
      font-weight: var(--ncp-font-weight-regular);
      color: var(--ncp-color-gray-750);
      &.sender {
        color: var(--ncp-color-gray-900);
      }
    }
  }
}
