@use '@shared/styles/abstracts' as *;

/* Accordion */
.root {
  --accordion-border: none;
  --accordion-icon-order: auto;
  --accordion-control-width: auto;
  --accordion-control-height: auto;
  --accordion-control-font-size: inherit;
  --accordion-content-padding-x: auto;
  --accordion-content-padding-y: auto;
  position: relative;
}

.item {
  display: grid;
  grid-template-rows: min-content 0fr;
  overflow: hidden;
  border-top: var(--accordion-border);
  transition: grid-template-rows var(--ncp-transition-base);

  &:has(.active) {
    grid-template-rows: min-content 1fr;
  }

  &:first-child {
    border-top: unset;
  }
}
.label {
  margin: 0;
  font: inherit;
}
.icon {
  order: var(--accordion-icon-order);
}
.control {
  --accordion-icon-rotate: 0deg;
  width: var(--accordion-control-width);
  min-height: var(--accordion-control-height);
  padding-block: var(--ncp-spacing-x3);
  @include flex($h: space-between, $v: center) {
    gap: var(--ncp-spacing-x2);
  }
  font-size: var(--accordion-control-font-size);
  font-weight: var(--ncp-font-weight-bold);
  text-align: left;

  &[aria-expanded='true'] {
    --accordion-icon-rotate: 180deg;
  }
}

// content
@keyframes fadeOut {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    pointer-events: none;
  }
}
.container {
  min-width: 0;
  min-height: 0;
  &:not(.active) {
    animation: fadeOut var(--ncp-transition-base) forwards;
  }
}
.content {
  padding-inline: var(--accordion-content-padding-x);
  padding-block: var(--accordion-content-padding-y);
  font-size: var(--ncp-font-size-13);
  background-color: var(--ncp-color-bg-1);
  & > *:first-child {
    margin-top: 0;
  }
}

// variant
.default {
  --accordion-border: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  --accordion-control-width: 100%;
  --accordion-control-height: #{rem(70px)};
  --accordion-control-font-size: var(--ncp-font-size-16);
  --accordion-content-padding-x: var(--ncp-spacing-x8);
  --accordion-content-padding-y: var(--ncp-spacing-x8);
}

.faq {
  --accordion-border: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  --accordion-control-width: 100%;
  --accordion-control-height: auto;
  --accordion-control-font-size: var(--ncp-font-size-16);
  --accordion-content-padding-x: 0;
  --accordion-content-padding-y: var(--ncp-spacing-x8);

  background-color: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
  padding-inline: var(--ncp-spacing-x8);

  .control {
    padding-block: var(--ncp-spacing-x10) var(--ncp-spacing-x8);

    &[aria-expanded='true'] {
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }
  .icon {
    color: var(--ncp-color-gray-750);
  }
}
