@use '@shared/styles/abstracts' as *;

/* Alert Dialog */
.overlay {
  width: 100%;
  height: calc(var(--layout-vh, 1vh) * 100);
  @include position($p: absolute, $l: 0, $b: 0, $i: 10);
  @include flex($h: center, $v: center);
  background-color: var(--ncp-color-alpha-dim);

  &:focus-visible {
    outline: none;
  }
}
.root {
  width: calc(100% - var(--ncp-layout-padding-x) * 2);
  max-width: rem(340px);
  max-height: 80%;
  position: relative;
  padding: var(--ncp-spacing-x20) var(--ncp-spacing-x8) var(--ncp-spacing-x10);
  @include flex($d: column);
  text-align: center;
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
  overflow-y: auto;
}

.footer {
  margin-top: var(--ncp-spacing-x16);
}
