@use '@shared/styles/abstracts' as *;

/* Switch */
.root {
  --switch-width: #{rem(40px)};
  --switch-height: #{rem(24px)};
  --switch-thumb-margin: 3px;
  --switch-background-color: var(--ncp-color-gray-500);
  --switch-thumb-color: var(--ncp-color-background);
  --switch-active-background-color: var(--ncp-color-foreground);
  --switch-active-thumb-color: var(--ncp-color-background);
  --switch-active-thumb-transform-x: calc(100% - 2px);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.input {
  position: absolute;
  inset: 0;
}
.label {
  display: block;
  position: relative;
  width: var(--switch-width);
  height: var((--switch-height));
  background: var(--switch-background-color);
  border-radius: var(--ncp-border-radius-max);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - var(--switch-thumb-margin) * 2);
    margin: var(--switch-thumb-margin);
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--switch-thumb-color);
    transition: transform var(--ncp-transition-base);
  }
}
.input:checked + label {
  background-color: var(--switch-active-background-color);
}
.input:checked + label::before {
  background-color: var(--switch-active-thumb-color);
  transform: translateX(var(--switch-active-thumb-transform-x));
}
.input:disabled + label {
  --switch-background-color: var(--ncp-color-gray-250);
  --switch-active-background-color: var(--ncp-color-gray-250);
  cursor: default;
}

// Variant
.point {
  --switch-background-color: var(--ncp-color-gray-500);
  --switch-thumb-color: var(--ncp-color-background);
  --switch-active-background-color: var(--ncp-color-accent-1);
  --switch-active-thumb-color: var(--ncp-color-background);
}

// size
.small {
  --switch-width: #{rem(28px)};
  --switch-height: #{rem(16px)};
  --switch-thumb-margin: 2px;
  --switch-active-thumb-transform-x: 100%;
}

// 스위치 바형태
.barRoot {
  --switchbar-label-color: var(--ncp-color-foreground);
  --swtichbar-background-color: var(--ncp-color-bg-1);
  @include flex(flex, space-between, center);
  gap: var(--ncp-spacing-x4);
  padding: var(--ncp-spacing-x8);
  background-color: var(--swtichbar-background-color);
  border-radius: var(--ncp-border-radius-base);
  .text {
    color: var(--switchbar-label-color);
    font-weight: var(--ncp-font-weight-semibold);
  }

  &.point {
    --switchbar-label-color: var(--ncp-color-accent-1);
    --swtichbar-background-color: #f3f8f7;
    &.off {
      --switchbar-label-color: var(--ncp-color-gray-500);
      --swtichbar-background-color: #f8f8f8;
    }
  }
}
