@use '@shared/styles/abstracts' as *;

/* FormArea */
.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x4);
  margin-top: var(--ncp-spacing-x8);
  & > :where(p) {
    margin-top: 0;
  }
}
.item {
  position: relative;
}
.field {
  position: relative;
}
.label {
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-20);
  font-weight: var(--ncp-font-weight-medium);
}
.required {
  &::before {
    content: '';
    display: inline-block;
    width: rem(3px);
    height: rem(3px);
    background: var(--ncp-color-foreground);
    border-radius: var(--ncp-border-radius-max);
    vertical-align: top;
    margin: rem(2px) 0 0 rem(2px);
  }
}
.slot {
  margin-top: var(--ncp-spacing-x4);
  & > :first-child {
    margin-top: 0;
  }
}

// type
.vertical {
  gap: var(--ncp-spacing-x12);
  .title {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x2);
    margin-bottom: var(--ncp-spacing-x4);
    padding-inline: var(--ncp-spacing-indent);
    .side {
      margin-left: auto;
    }
  }
}

.horizontal {
  gap: 0;
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-850);
  .item {
    display: flex;
    align-items: center;
    padding: var(--ncp-spacing-x4) 0;
    border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-850);
  }
  .title {
    flex-basis: rem(110px);
    font-weight: var(--ncp-font-weight-bold);
    line-height: var(--ncp-line-height-heading);
  }
  .field {
    flex: 0 1 rem(350px);
  }
}

.stacked {
  gap: var(--ncp-spacing-x3);
  margin: var(--ncp-spacing-x6) 0;
  .item {
    display: grid;
    grid-template-columns: minmax(20%, auto) 1fr;
    align-items: center;
    gap: var(--ncp-spacing-x3);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// gap
.gap1 {
  gap: var(--ncp-spacing-x12);
}
.gap2 {
  gap: var(--ncp-spacing-x20);
}
.gap3 {
  gap: var(--ncp-spacing-x16);
}
