@use '@shared/styles/abstracts' as *;

.root {
  padding: var(--ncp-spacing-x8);
  background: var(--ncp-color-background);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  cursor: pointer;

  // [case] 쿠폰 모양인 컨텐츠 여부(다운로드 불가)
  &.contentCoupon {
    cursor: default;
  }
}
.buttonWrap {
  @include flex(flex, $h: space-between);
}
.tier {
  flex: 1;
  text-align: left;
  margin: 0 var(--ncp-spacing-x4);
}
.btn {
  font-weight: var(--ncp-font-weight-semibold);
}
.title {
  @include ellipsis(2);
  margin-top: var(--ncp-spacing-x8);
  white-space: pre-line;
}
.require {
  margin-top: 7px;
}
.due {
  margin-top: 0;
}
.storeWrap {
  @include flex(flex, $v: center);
  gap: var(--ncp-spacing-x4);
  margin-top: var(--ncp-spacing-x4);

  .store {
    margin-top: 0;
  }
}
.count {
  margin-top: 0;
  text-align: right;
}
