@use '@shared/styles/abstracts' as *;

.root {
  overflow: hidden;
  .imgBox {
    border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
    border-bottom: none;
  }
  .infoBox {
    position: relative;
    padding: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
    border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
    border-top: none;
    @mixin punch {
      content: '';
      position: absolute;
      top: rem(-7px);
      width: rem(14px);
      height: rem(14px);
      background: var(--ncp-color-background);
      border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
      border-radius: var(--ncp-border-radius-max);
    }
    &:before {
      @include punch;
      left: rem(-7px);
    }
    &:after {
      @include punch;
      right: rem(-7px);
    }
    .require {
      margin-top: var(--ncp-spacing-x1);
    }
  }
}
