@use '@shared/styles/abstracts' as *;

/* MyOrderList */
.root {
  display: flex;
  flex-direction: column;
}

// 아래보더가 있는 타이틀 영역
.title {
  border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  padding-bottom: var(--ncp-spacing-x6);
  margin-bottom: var(--ncp-spacing-x8);
  .heading {
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-foreground);
  }
}

// 전체체크박스가 있는 타이틀다음 상단영역
.top {
  margin-bottom: var(--ncp-spacing-x10);
}
