@use '@shared/styles/abstracts' as *;

.root {
  --carousel-padding-x: var(--ncp-layout-padding-x);

  position: relative;
  margin-inline: calc(var(--ncp-main-padding-x) * -1);
  display: flow-root;
  z-index: 0;

  &.flush {
    --carousel-padding-x: 0;
  }
}
.boxing {
  margin-inline: unset !important;
  .carousel {
    padding-inline: unset;
  }
}

// 슬라이드
.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  margin-inline: auto;
  padding-inline: var(--carousel-padding-x);
  overflow: hidden;

  :global(.swiper-wrapper) {
    display: flex;
    box-sizing: content-box;
  }

  :global(.swiper-notification) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
.item {
  width: 100%;
  min-height: 100%;
  max-width: var(--carousel-item-default-width, auto);
  position: relative;
  flex-shrink: 0;
  transition: 0.3s ease;

  &.column {
    display: grid;
    grid-auto-rows: minmax(0, 1fr);
    gap: var(--carousel-row-gap, var(--ncp-spacing-x12));
  }

  &.free {
    width: auto !important;
    min-width: fit-content;
    display: block !important;
    flex-shrink: 0;
  }
}

// Pagination
.pagination {
  margin-top: var(--ncp-spacing-x16);
  margin-inline: calc(var(--carousel-padding-x) + 2px);
  @include flex($v: center, $h: center);
  gap: var(--ncp-spacing-x1) var(--ncp-spacing-x4);

  // Progressbar
  &:global(.swiper-pagination-progressbar) {
    height: rem(2px);
    position: relative;
    background-color: var(--carousel-bar-background, var(--ncp-color-gray-100));
  }

  :global(.swiper-pagination-progressbar-fill) {
    @include position($t: 0, $l: 0);
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left top;
    background-color: var(--carousel-bar-fill, var(--ncp-color-gray-900));
  }
}

// Fraction
.fraction {
  position: var(--carousel-fraction-position, absolute);
  inset: var(--carousel-fraction-inset, unset);
  height: var(--carousel-fraction-height, rem(28px));
  margin-top: var(--carousel-fraction-margin-top, 0);
  padding-inline: var(--carousel-fraction-padding-x, var(--ncp-spacing-x4));
  @include flex($display: inline-flex, $v: center, $h: center);
  float: right;
  color: var(--carousel-fraction-color, var(--ncp-color-alpha-w60));
  font-size: var(--carousel-fraction-font-size, var(--ncp-font-size-12));
  font-weight: var(--ncp-font-weight-medium);
  line-height: var(--ncp-line-height-fit);
  white-space: nowrap;
  transform: translate(
    var(--carousel-fraction-translate-x, 0),
    var(--carousel-fraction-translate-y, 0)
  );
  border-radius: var(--carousel-fraction-border-radius, var(--ncp-border-radius-s));
  background-color: var(--carousel-fraction-background-color, var(--ncp-color-alpha-b30));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &Text {
    margin-inline: var(--ncp-spacing-x2);
  }
  .separator {
    margin-inline: var(--ncp-spacing-x1);
  }
  .current {
    font-weight: inherit;
    color: var(--carousel-fraction-current-color, var(--ncp-color-white));
  }
  button {
    color: var(--carousel-fraction-button-color, var(--ncp-color-white));
  }
}

// bullets
.bullet {
  width: var(--carousel-bullet-size, rem(6px));
  height: var(--carousel-bullet-size, rem(6px));
  display: block;
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-gray-250);
  transition: var(--ncp-transition-fast);
  overflow: hidden;

  &Active {
    width: rem(16px);
    background-color: var(--ncp-color-foreground);
  }
}

// variant
.detail {
  --carousel-fraction-inset: auto auto 18px 50%;
  --carousel-fraction-translate-x: -50%;
  --carousel-fraction-padding-x: var(--ncp-spacing-x3);
  --carousel-fraction-border-radius: 100px;
  --carousel-fraction-font-size: var(--ncp-font-size-10);
  --carousel-fraction-height: #{rem(18px)};

  .fraction {
    padding-block: var(--ncp-spacing-x1);
    &Text {
      margin-inline: 0;
    }
  }
}

.scale {
  &:has(:global(.swiper-slide-active)) {
    :global(.swiper-slide) {
      transform: scale(var(--carousel-scale-inactive, 0.9));
    }
    .active {
      transform: scale(1);
    }
    :global(.swiper-slide-prev) {
      transform: translateX(var(--carousel-scale-gutter, 5%))
        scale(var(--carousel-scale-inactive, 0.9));
    }
    :global(.swiper-slide-next) {
      transform: translateX(calc(var(--carousel-scale-gutter, 5%) * -1))
        scale(var(--carousel-scale-inactive, 0.9));
    }
  }
}
