@use '@shared/styles/abstracts' as *;

/* GiftBoxTopInfo */
.topInfo {
  margin-block: var(--ncp-spacing-x8) var(--ncp-spacing-x12);
}

.bottomSlot {
  position: relative;
  margin-top: var(--ncp-spacing-x8);
}
