@use '@shared/styles/abstracts' as *;

// ReceiptInfoList
.root {
  margin-block: var(--ncp-spacing-x16);
}

// 상단타이틀
.tit {
  font-size: var(--ncp-font-size-16);
  line-height: var(--ncp-line-height-22);
  font-weight: var(--ncp-font-weight-bold);
  color: var(--ncp-color-foreground);
  padding-inline: var(--ncp-spacing-indent);
  padding-bottom: var(--ncp-spacing-x6);
}
.groups {
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  .group {
    padding-block: var(--ncp-spacing-x8);
    padding-inline: var(--ncp-spacing-indent);
    & + .group {
      border-top: 1px solid var(--ncp-color-gray-100);
    }
  }
  & .group:last-child {
    padding-bottom: 0;
  }
}

/* infoItem 스타일*/
/* 왼쪽 타이틀 */
.infoTit {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  font-weight: var(--ncp-font-weight-regular);
  color: var(--ncp-color-gray-700);
  // 강조 스타일(기본,작은강조)
  &.titPoint,
  &.titPointSmall {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-semibold);
    color: var(--ncp-color-gray-900);
  }
}
/*오른쪽 컨텐츠*/
.infoCont {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  font-weight: var(--ncp-font-weight-medium);
  // 기본 강조 스타일
  &.contPoint {
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-foreground);
  }
  // 작은 강조 스타일
  &.contPointSmall {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-semibold);
    color: var(--ncp-color-gray-900);
  }
}

/* bottomSlot */
.bottom {
  position: relative;
}
