@use '@shared/styles/abstracts' as *;

/* ProductSearchList */
.root {
  position: relative;
  &:first-child {
    margin-top: var(--ncp-spacing-x8);
  }
}
// 검색테스트
.clear {
  --icon-color: var(--ncp-color-gray-350);
}
