@use '@shared/styles/abstracts' as *;

$social-icons: (
  'kakao':
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M12.003 3.212c-5.922 0-10.722 3.77-10.722 8.423 0 3.027 2.034 5.683 5.086 7.166-.223.831-.812 3.014-.93 3.48-.145.58.213.573.448.417.185-.123 2.937-1.984 4.126-2.785.645.095 1.31.145 1.99.145 5.92 0 10.722-3.77 10.722-8.423 0-4.653-4.8-8.423-10.72-8.423Z'/%3E%3Cpath fill='%23fff' d='M4.52 10.084h1.104s.007 3.012 0 3.714c0 .512 1.147.518 1.147.007l.005-3.682s.369.002 1.097.002c.686 0 .686-1.073 0-1.073-.774 0-3.357-.021-3.357-.021-.647 0-.645 1.051 0 1.051'/%3E%3Cmask id='a' width='5' height='6' x='4' y='9' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' d='M4.52 10.084h1.104s.007 3.012 0 3.714c0 .512 1.147.518 1.147.007l.005-3.682s.369.002 1.097.002c.686 0 .686-1.073 0-1.073-.774 0-3.357-.021-3.357-.021-.647 0-.645 1.051 0 1.051'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23fff' d='M8.558 9.033h-4.69v5.285h4.69V9.033Z'/%3E%3C/g%3E%3Cpath fill='%23fff' d='m9.801 10.278.615 1.913h-1.28l.665-1.913Zm-.689-.896c-.271.594-1.251 3.401-1.577 4.146-.235.538.78.976 1.015.438l.221-.766h2.018s-.069.032.198.734c.217.57 1.267.175 1.047-.395-.31-.814-1.381-3.742-1.577-4.157-.089-.192-.413-.328-.726-.328-.258 0-.512.095-.619.328Z'/%3E%3Cmask id='b' width='6' height='6' x='7' y='9' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' d='m9.801 10.278.615 1.913h-1.28l.665-1.913Zm-.689-.896c-.271.594-1.251 3.401-1.577 4.146-.235.538.78.976 1.015.438l.221-.766h2.018s-.069.032.198.734c.217.57 1.267.175 1.047-.395-.31-.814-1.381-3.742-1.577-4.157-.089-.192-.413-.328-.726-.328-.258 0-.512.095-.619.328Z'/%3E%3C/mask%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%23fff' d='M12.26 9.054H7.305v5.452h4.955V9.054Z'/%3E%3C/g%3E%3Cpath fill='%23fff' d='M12.422 9.56c0 .954.006 4.028.006 4.028s-.089.611.44.611c.527 0 1.696-.006 2.215-.006.52 0 .515-1.097-.002-1.097s-1.464-.006-1.464-.006.004-2.844.002-3.535c0-.335-.3-.5-.598-.5-.297 0-.597.168-.597.502'/%3E%3Cmask id='c' width='4' height='6' x='12' y='9' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' d='M12.422 9.56c0 .954.006 4.028.006 4.028s-.089.611.44.611c.527 0 1.696-.006 2.215-.006.52 0 .515-1.097-.002-1.097s-1.464-.006-1.464-.006.004-2.844.002-3.535c0-.335-.3-.5-.598-.5-.297 0-.597.168-.597.502'/%3E%3C/mask%3E%3Cg mask='url(%23c)'%3E%3Cpath fill='%23fff' d='M15.605 9.054h-3.261v5.143h3.26V9.054Z'/%3E%3C/g%3E%3Cpath fill='%23fff' d='M15.747 9.406c.011.42-.013 4.2-.013 4.48 0 .443 1.135.441 1.132 0V12.4l.333-.266 1.455 1.974c.294.386 1.22-.311.926-.697l-1.545-2.024s1.05-1.127 1.462-1.535c.241-.237-.506-.987-.747-.747-.235.231-1.877 1.866-1.877 1.866s.015-1.026 0-1.594c-.007-.216-.272-.32-.543-.32-.291 0-.59.12-.583.35Z'/%3E%3Cmask id='d' width='5' height='6' x='15' y='9' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' d='M15.747 9.406c.011.42-.013 4.2-.013 4.48 0 .443 1.135.441 1.132 0V12.4l.333-.266 1.455 1.974c.294.386 1.22-.311.926-.697l-1.545-2.024s1.05-1.127 1.462-1.535c.241-.237-.506-.987-.747-.747-.235.231-1.877 1.866-1.877 1.866s.015-1.026 0-1.594c-.007-.216-.272-.32-.543-.32-.291 0-.59.12-.583.35Z'/%3E%3C/mask%3E%3Cg mask='url(%23d)'%3E%3Cpath fill='%23fff' d='M19.875 8.866h-4.14v5.625h4.14V8.866Z'/%3E%3C/g%3E%3C/svg%3E",

  'kakaostory':
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23222' stroke='%23222' d='M6.5 13V1.5H18V11c0 5.5-3 9-6.5 12L8 19.5c2.8-2 3.833-5.167 4-6.5H6.5Z'/%3E%3C/svg%3E",

  'facebook':
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23222' d='M15.414 6.574h1.912a.487.487 0 0 0 .478-.493V2.134a.487.487 0 0 0-.478-.493h-2.868c-2.9 0-5.259 2.434-5.259 5.426v2.506H5.853a.487.487 0 0 0-.478.493v3.907c0 .271.215.493.478.493h3.014v7.4c0 .27.215.493.478.493h3.992a.487.487 0 0 0 .478-.493v-7.4h2.514a.48.48 0 0 0 .464-.37l.997-3.946a.502.502 0 0 0-.084-.426.473.473 0 0 0-.378-.193h-3.346v-1.48c0-.816.643-1.48 1.434-1.48h-.002v.003Z'/%3E%3C/svg%3E",

  'x':
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M2.367 3 9.463 13.14 2.74 21h2.64l5.265-6.17L14.96 21h6.91L14.45 10.375 20.74 3h-2.6l-4.869 5.688L9.3 3H2.367Zm3.84 2h2.049l9.777 14h-2.031L6.207 5Z'/%3E%3C/svg%3E",
);

.root {
  padding-block: var(--ncp-spacing-x8);
  display: grid;
  grid-template-columns: repeat(var(--share-grid-columns, 6), minmax(0, auto));
  justify-content: space-between;
}

.item {
  width: rem(72px);
  @include flex($v: center, $d: column);
  gap: var(--ncp-spacing-x4);
  word-break: break-all;
}

.icon {
  width: rem(56px);
  height: rem(56px);
  aspect-ratio: 1;
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-bg-1);
}

.social {
  @include flex(inline-flex, center, center);
  font-size: var(--ncp-font-size-24);

  &::before {
    @include el-pseudo($w: 1em, $h: 1em);
    background: var(--share-social-image) no-repeat center/contain;
  }
}

@each $key, $value in $social-icons {
  .#{$key} {
    --share-social-image: url('#{$value}');
  }
}

@media screen and (max-width: 551px) {
  .root {
    --share-grid-columns: 3;
    padding-inline: var(--ncp-spacing-x6);
    row-gap: var(--ncp-spacing-x16);
  }
}
