@use '@shared/styles/abstracts' as *;

/* 주문자 정보 */
.customer {
}

.slot {
  @include ellipsis(1);
  max-width: rem(196px);
}

// 배송지 정보 영역
.addrInfo {
  margin-bottom: var(--ncp-spacing-x4);
  padding-top: var(--ncp-spacing-x10) !important;
  padding-bottom: var(--ncp-spacing-x10) !important;

  > p {
    color: var(--ncp-color-gray-700);
  }
}

// 배송지 입력
.addrInput {
  margin-bottom: var(--ncp-spacing-x8);
  .addrButton {
    justify-content: space-between;
    padding-left: var(--ncp-spacing-x8);
    padding-right: var(--ncp-spacing-x8);
    font-size: var(--ncp-font-size-14);
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-gray-500);
  }
}

// 공동현관 출입방법
.box {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x8);
  margin-top: var(--ncp-spacing-x16);
}

// 해외 배송지
.global {
  margin-top: var(--ncp-spacing-x10);

  .point {
    margin-top: var(--ncp-spacing-x2);
  }
}
