@use '@shared/styles/abstracts' as *;

.interest {
  margin-top: var(--ncp-spacing-x16);
  & + * {
    margin-top: var(--ncp-spacing-x16);
  }
}

//브랜드 직접입력 아이템
.addItems {
  @include flex($w: wrap);
  gap: var(--ncp-spacing-x4);
  margin-top: var(--ncp-spacing-x4);
  .tag {
    @include flex($v: center, $w: wrap);
    gap: rem(6px);
    height: rem(32px);
    border-radius: var(--ncp-border-radius-max);
    background-color: var(--ncp-color-bg-2);
    padding: var(--ncp-spacing-x3) var(--ncp-spacing-x6);
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-foreground);
    .remove {
      margin-left: rem(6px);
      background: transparent;
      border: none;
      color: var(--ncp-color-foreground);
      cursor: pointer;
      font-size: var(--ncp-font-size-13);
      line-height: var(--ncp-line-height-18);
      font-weight: var(--ncp-font-weight-bold);
    }
  }
}
