@use '@shared/styles/abstracts' as *;

/* ReturnApplyStep1 */
.layout {
  position: relative;
}

.group {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
}

.method {
  margin-block: var(--ncp-spacing-x16);
}

.store {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x16);
  }
}
