@use '@shared/styles/abstracts' as *;

/* ExchangeApplyStep3 */
.layout {
  position: relative;
}

.infoTit {
  margin-bottom: var(--ncp-spacing-x12);
  @include flex() {
    gap: var(--ncp-spacing-x2);
  }
}
