@use '@shared/styles/abstracts' as *;

/* ProdTitle */
.root {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--ncp-spacing-x4) var(--ncp-spacing-x6);
  &:last-child {
    margin-bottom: 0;
  }
  &:has(+ [class^='Text_']) {
    margin-bottom: var(--ncp-spacing-x4) !important;
  }
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x2);
  color: var(--ncp-color-foreground);

  [role='heading'] {
    @include ellipsis(2);
  }

  &:has(.heading) {
    [role='heading'] {
      display: flex;
      align-items: center;
      gap: var(--ncp-spacing-x2);
      -webkit-box-orient: initial;
      line-clamp: unset;
    }
  }
}
.heading {
  @include ellipsis(2);
}

.desc {
  flex: 0 0 100%;
  color: var(--ncp-color-gray-700);
  line-height: var(--ncp-line-height-reading);
  margin-top: 0;
}

// Level
.level1 {
  margin-block: var(--ncp-spacing-x20) var(--ncp-spacing-x8);
}
.level2 {
  margin-block: var(--ncp-spacing-x20) var(--ncp-spacing-x8);
}
.level3 {
  margin-block: var(--ncp-spacing-x16) var(--ncp-spacing-x8);
}

// Type
.module {
  margin-block: var(--ncp-spacing-x16) var(--ncp-spacing-x12);
  &:first-child {
    margin-top: 0;
  }
}

// Align
.center {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.right {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: var(--ncp-spacing-x6);
}

// sideAlign
.side-start {
  align-items: flex-start;
}
.side-center {
  align-items: center;
}
.side-end {
  align-items: flex-end;
}
