@use '@shared/styles/abstracts' as *;

// OrderStatusBtnsPreview
.wrap {
  padding: rem(24px) 0;
  @include flex($d: column) {
  }
}

.item {
  position: relative;
  margin-top: rem(24px);
  padding-top: rem(24px);
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
  .title {
    @include flex($h: center, $w: wrap);
    margin-bottom: rem(16px);
    background: #f7f7f7;
    text-align: center;
    padding: rem(12px);
    .code {
      font-weight: var(--ncp-font-weight-medium);
      font-size: var(--ncp-font-size-13);
      padding-left: rem(4px);
    }
  }
}
