@use '@shared/styles/abstracts' as *;

// OrderInfoBox
.root {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  width: 100%;
  background-color: var(--ncp-color-bg-3);
  @include flex() {
    gap: var(--ncp-spacing-x3);
  }
  // 왼쪽 영역
  .left {
    flex: 1;
    color: var(--ncp-color-accent-1);
    @include flex($v: center) {
      gap: var(--ncp-spacing-x6);
    }
    .tit {
      position: relative;
      font-weight: var(--ncp-font-weight-semibold);
      &::before {
        content: '';
        width: rem(1px);
        height: rem(10px);
        position: absolute;
        right: rem(-7px);
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--ncp-color-accent-1);
        opacity: 0.25;
      }
    }
    .cont {
      flex: 1;
      @include flex($v: center) {
        gap: var(--ncp-spacing-x2);
      }
      margin-top: 0;
    }
  }
  .copy {
    color: var(--ncp-color-accent-1);
  }

  // disabled 상태스타일
  &.disabled {
    background-color: var(--ncp-color-bg-1);
    .tit {
      color: #8c8c8c;
      &::before {
        background-color: var(--ncp-color-gray-150);
      }
    }
  }
}

.side {
  position: relative;
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);
  font-weight: var(--ncp-font-weight-semibold);
  color: var(--ncp-color-accent-1);
}
