@use '@shared/styles/abstracts' as *;

/* JoinedEventItem */
.item {
  --gray-info-font-size: var(--ncp-font-size-12);
  --gray-info-line-height: var(--ncp-line-height-16);
  --gray-info-font-weight: var(--ncp-font-weight-regular);
  --gray-info-color: var(--ncp-color-gray-500);

  @include flex($d: column);
  gap: var(--ncp-spacing-x2);
  padding-inline: var(--ncp-spacing-indent);
  padding-block: var(--ncp-spacing-x12);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  &:first-child {
    border: none;
  }
  .top {
    @include flex($v: flex-start, $h: space-between);
    gap: var(--ncp-spacing-x8);
    .tit {
      font-size: var(--ncp-font-size-14);
      line-height: var(--ncp-line-height-20);
      font-weight: var(--ncp-font-weight-medium);
    }
  }
  .infos {
    width: 100%;
    .list {
      @include flex($d: column) {
        gap: var(--ncp-spacing-x1);
      }
      & li {
        font-size: var(--ncp-font-size-12);
        line-height: var(--ncp-line-height-16);
        font-weight: var(--ncp-font-weight-regular);
        color: var(--ncp-color-gray-500);
      }
    }
  }
}
// 버튼영역
.btns {
  margin-top: var(--ncp-spacing-x8);
}
