@use '@shared/styles/abstracts' as *;

// ReturnStatusFlag
.wrapper {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x4);
  }
}

.date {
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-20);
  font-weight: var(--ncp-font-weight-semibold);
  color: var(--ncp-color-foreground);
}
