@use '@shared/styles/abstracts' as *;

/* MembershipPayMethod */
.usePoint {
  @include flex($d: column);
  gap: rem(50px);
  margin-block: 0 var(--ncp-spacing-x16);
  & > *:first-child {
    margin-top: 0;
  }
  margin-top: var(--ncp-spacing-x8);
}

/* cardSlider */
.cardSlider {
  margin-block: var(--ncp-spacing-x12);
}

/* info */
.info {
  margin-top: var(--ncp-spacing-x12);
}
