@use '@shared/styles/abstracts' as *;

/* GemList */
.layout {
  // 상단 고정영역
  .sticky {
    position: sticky;
    top: var(--ncp-layout-header-height);
    margin-inline: calc((var(--ncp-layout-padding-x) * -1));
    z-index: 11;
    background: var(--ncp-color-background);
    overflow: hidden;
    .tabs {
      padding-inline: var(--ncp-layout-padding-x);
      > div {
        padding: 0 var(--ncp-layout-padding-x);
        margin-bottom: 0;
        margin-inline: 0;
      }
    }
  }
  // 컨텐츠영역
  .content {
    padding-block: var(--ncp-spacing-x12);
    .top {
      margin-bottom: var(--ncp-spacing-x12);
    }
  }
}
