@use '@shared/styles/abstracts' as *;

/* LinkSet */
.wrap {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x16);
  }
  & > li {
    width: 100%;
  }
}
.link {
  @include flex($h: space-between) {
    gap: var(--ncp-spacing-x8);
  }
  color: var(--ncp-color-gray-500);
  margin-block: var(--ncp-spacing-x16);
  padding-inline: var(--ncp-spacing-indent);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
