@use '@shared/styles/abstracts' as *;

.root {
  --giftlist-item-size: #{rem(90px)};
  --giftlist-item-gap: var(--ncp-spacing-x8);
}

ul.root {
  @include flex(flex, $d: column) {
    gap: var(--ncp-spacing-x8);
  }
  margin-top: var(--ncp-spacing-x12);
}

.item {
  display: grid;
  grid-template-columns: var(--giftlist-item-size) 1fr;
  column-gap: var(--giftlist-item-gap);
}

.imageWrap {
  @include flex(flex, $v: center, $h: center);
  width: var(--giftlist-item-size);
  height: var(--giftlist-item-size);
  background-color: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
  position: relative;
  overflow: hidden;
}

.texts {
  @include flex(flex, $d: column, $h: center);
}
.title {
  font-weight: var(--ncp-font-weight-semibold);
  color: var(--ncp-color-gray-900);
}
.subtitle {
  line-height: var(--ncp-line-height-20);
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
}

// variant
.referral {
  --giftlist-item-size: #{rem(64px)};
  --giftlist-item-gap: var(--ncp-spacing-x6);
  .title {
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
  }
  .subtitle {
    font-size: var(--ncp-font-size-12);
    line-height: var(--ncp-line-height-16);
    color: var(--ncp-color-gray-500);
  }
}
