@use '@shared/styles/abstracts' as *;

/* ClubMain */
/* sticky(top) custom */
.stickyTop {
  position: sticky;
  top: var(--ncp-layout-header-height);
  margin-inline: calc((var(--ncp-layout-padding-x) * -1));
  padding-inline: var(--ncp-layout-padding-x);
  z-index: 11;
  background: var(--ncp-color-background);
  overflow: hidden;
}
/* content */
.content {
  padding-top: var(--ncp-spacing-x6);
}
