@use '@shared/styles/abstracts' as *;

/* Tabs */
.root {
  margin-bottom: var(--ncp-spacing-x10);
  margin-inline: calc(var(--ncp-main-padding-x) * -1);
}
.tablist {
  display: flex;

  /** Sticky 탭 */
  &.sticky {
    position: sticky;
    top: var(--ncp-layout-header-height);
    background-color: var(--ncp-color-background);
    z-index: 11;
  }
}
.tab {
  @include flex(flex, center, center);
}
.panel {
  position: relative;
  overflow-y: auto;

  /** 스크롤 형태 패널 */
  &:where(&-scroll) {
    padding: 0 var(--ncp-main-padding-x) var(--ncp-spacing-x20);
    border-bottom: rem(8px) solid var(--ncp-color-bg-1);
  }
}
.thumb {
  width: rem(24px);
  height: rem(24px);
  margin-right: var(--ncp-spacing-x3);
  border-radius: var(--ncp-border-radius-max);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 스타일: default
.default {
  .tab {
    flex: 1;
    height: rem(52px);
    padding: 0 var(--ncp-spacing-x3);
    font-size: var(--ncp-font-size-16);
    font-weight: var(--ncp-font-weight-medium);
    color: var(--ncp-color-gray-500);
    border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-bg-1);
  }
  .tabActive {
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-foreground);
    border-bottom: var(--ncp-spacing-x1) solid var(--ncp-color-foreground);
  }
}

// 스타일 : iconText
.iconText {
  padding: 0 var(--ncp-layout-padding-x);
  .tablist {
    @include flex();
    gap: var(--ncp-spacing-x10);
    flex-wrap: wrap;
  }
  .tab {
    flex: 0 1 var(--tab-min-width);
    height: rem(24px);
    font-size: var(--ncp-font-size-18);
    line-height: var(--ncp-line-height-24);
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-gray-350);
    gap: 0;
  }
  .tabActive {
    color: var(--ncp-color-foreground);
  }
}

// 아이콘 넣을 시
.icon {
  margin-right: var(--ncp-spacing-x3);
}

// 가로 스크롤 공통 스타일
.swiperTabs {
  // Swiper
  .tablist {
    min-width: 100%;
    height: 100%;
    position: relative;
    padding-inline: var(--ncp-main-padding-x);
    overflow: hidden;

    :global(.swiper-wrapper) {
      display: flex;
      box-sizing: content-box;
    }

    :global(.swiper-notification) {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
  // SwiperSlide
  .item {
    width: auto !important;
    min-height: 100%;
    max-width: var(--carousel-item-default-width, auto);
    padding-left: var(--ncp-spacing-x4);
    position: relative;
    flex-shrink: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: var(--ncp-layout-padding-x);
    }
  }

  // [case] 버튼 스타일인 경우
  &.buttons {
    .tab {
      width: fit-content;
      min-width: rem(80px);
      height: rem(40px);
      padding: var(--ncp-spacing-x5) var(--ncp-spacing-x8);
      font-size: var(--ncp-font-size-14);
      font-weight: var(--ncp-font-weight-medium);
      line-height: var(--ncp-line-height-fit);
      color: var(--ncp-color-gray-500);
      background: var(--ncp-color-bg-1);
      border-radius: var(--ncp-border-radius-max);
    }
    .tabActive {
      color: var(--ncp-color-background);
      background: var(--ncp-color-foreground);
    }
    .thumb {
      margin-left: calc(var(--ncp-spacing-x4) * -1);
    }
  }

  // [case] 텍스트 스타일인 경우
  &.texts {
    .item {
      padding-left: 0;
      margin-left: var(--ncp-spacing-x12);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: var(--ncp-layout-padding-x);
      }
    }
    .tab {
      width: fit-content;
      height: rem(26px);
      padding: var(--ncp-spacing-x2) 0;
      font-size: var(--ncp-font-size-13);
      font-weight: var(--ncp-font-weight-medium);
      line-height: var(--ncp-line-height-18);
      color: var(--ncp-color-gray-500);
      padding: 0;
    }
    .tabActive {
      color: var(--ncp-color-foreground);
      font-weight: var(--ncp-font-weight-bold);
    }
    .underline {
      position: relative;
      z-index: 0;

      &::before {
        content: '';
        width: 100%;
        height: var(--ncp-border-width-base);
        background-color: var(--ncp-color-foreground);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  // [case] 텍스트 스타일 + 회색 구분선
  &.divid {
    margin-block: var(--ncp-spacing-x16) var(--ncp-spacing-x12);
    box-shadow: inset 0 -1px 0 0 var(--ncp-color-gray-100);
    &:first-child {
      margin-top: 0;
    }
    .tablist {
      padding: 0;
    }
    .item {
      padding: 0;
    }
    .tab {
      color: var(--ncp-color-gray-500);
      font-size: var(--ncp-font-size-14);
      font-weight: var(--ncp-font-weight-medium);
      padding: var(--ncp-spacing-x3) var(--ncp-spacing-x8) var(--ncp-spacing-x6);
    }
    .tabActive {
      color: var(--ncp-color-foreground);
      font-weight: var(--ncp-font-weight-bold);
      &::after {
        content: '';
        position: absolute;
        bottom: -0;
        left: var(--ncp-spacing-x8);
        right: var(--ncp-spacing-x8);
        height: 2px;
        background-color: var(--ncp-color-foreground);
      }
    }
  }

  // [case] 칩모양 박스 스타일
  &.boxes {
    margin-block: 0 var(--ncp-spacing-x12);
    &:first-child {
      margin-top: 0;
    }
    .tablist {
      padding: 0;
    }
    .item {
      padding: 0;
      margin-left: var(--ncp-spacing-x4);
      &:first-child {
        margin-left: 0;
      }
    }
    .tab {
      height: rem(28px);
      padding: 0 var(--ncp-spacing-x5);
      color: var(--ncp-color-gray-500);
      font-size: var(--ncp-font-size-12);
      font-weight: var(--ncp-font-weight-medium);
      border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
      border-radius: var(--ncp-border-radius-s);
    }
    .tabActive {
      color: var(--ncp-color-foreground);
      font-weight: var(--ncp-font-weight-semibold);
      border-color: currentColor;
    }
  }
}

// [case] swiperCollapable 인 경우 (가로스크롤 시)
.swiperCollapable {
  position: relative;
  padding-right: rem(32px);
  .sideSlot {
    height: rem(40px);
    .collapsBtn {
      padding: var(--ncp-spacing-x4);
      background-color: var(--ncp-color-background);
      border: 1px solid var(--ncp-color-gray-150);
      border-radius: rem(6px);
      color: var(--ncp-color-gray-500);
      width: rem(40px);
      height: rem(40px);
      position: relative;
      z-index: 1;
    }
  }
}
// 펼쳐졋을 떄
.expanded {
  padding-right: rem(0);
  margin-bottom: 0;
  .tablist {
    background-color: var(--ncp-color-background);
    border-bottom: 1px solid #e3e3e3;
    margin-right: rem(52px); // 버튼 폭 + 여유
    display: flex;
    gap: rem(12px) rem(8px);
    flex-wrap: wrap;
    height: fit-content;
    padding-bottom: rem(16px);
  }
  .item {
    padding: 0;
  }
}

// [case] sideSlot 을 사용하는 경우 (가로스크롤 시)
.hasSideSlot {
  position: relative;
  padding-right: rem(32px);
}
// sideSlot 모양
.sideSlot {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-inline: 0 var(--ncp-spacing-x8);
  background-color: var(--ncp-color-background);
  min-height: rem(32px);
  @include flex($display: inline-flex, $v: center);
  &::before {
    content: '';
    width: rem(24px);
    height: 100%;
    position: absolute;
    top: 0;
    left: rem(-24px);
    z-index: 1;
    background: var(--ncp-color-background);
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  &::after {
    content: '';
    width: rem(16px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--ncp-color-background);
  }
}
