@use '@shared/styles/abstracts' as *;

.root {
  --masonry-item-opacity: 0;
  --masonry-item-y: 15%;

  position: relative;
  width: 100%;
  @include grid($c: var(--grid-columns, 3));
  gap: var(--grid-gutter, var(--ncp-spacing-x4));

  &[data-masonry='true'] {
    --masonry-item-opacity: 1;
    --masonry-item-y: 0;
    display: block;
  }

  &[data-masonry='false'] {
    max-height: 1px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }

  & > :where(article, div, span) {
    opacity: var(--masonry-item-opacity, 1);
    transform: translateY(var(--masonry-item-y, 0));
    transition: all var(--ncp-transition-base);
  }
}

// skeleton
@keyframes shimmer {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}
.skeletons {
  width: 100%;
  @include flex($d: column, $w: wrap);
  gap: var(--ncp-spacing-x4);
}
.skeleton {
  width: 100%;
  border-radius: var(--ncp-border-radius-base);
  background: linear-gradient(
    -45deg,
    var(--ncp-color-gray-100) 35%,
    var(--ncp-color-gray-150) 50%,
    var(--ncp-color-gray-100) 65%
  );
  background-size: 200% 200%;
  animation: shimmer 0.8s ease-in-out infinite alternate;
  break-inside: avoid;
}
