@use '@shared/styles/abstracts' as *;

.info {
  @include flex($v: center);
  gap: var(--ncp-spacing-x3);
  color: var(--ncp-color-gray-700);

  & > :not(:last-child) {
    @include separator($gap: var(--ncp-spacing-x3));
  }
}

.brand {
  @include flex($v: center);
  gap: var(--ncp-spacing-x8);
}

.thumb {
  width: rem(90px);
  height: rem(90px);
  aspect-ratio: 1;
  border-radius: var(--ncp-border-radius-base);
}

.gem {
  margin-left: auto;
}
