@use '@shared/styles/abstracts' as *;

/* Benefits */
.benefits {
  --benefits-icon-size: #{rem(32px)};

  @include flex($h: center);
  margin-top: var(--ncp-spacing-x12);
  & > li {
    .icon {
      @include flex($display: inline-flex, $h: center, $v: center);
      border-radius: var(--ncp-border-radius-max);
      background-color: var(--ncp-color-bg-1);
      width: rem(60px);
      height: rem(60px);
      // 아이콘 사이즈 변경
      & i {
        font-size: var(--benefits-icon-size);
      }
    }
    &:last-child {
      & i {
        --benefits-icon-size: #{rem(28px)};
      }
    }
    &.plus {
      @include flex($display: inline-flex, $h: center, $v: center);
      width: rem(60px);
      height: rem(60px);
    }
    .name {
      font-size: var(--ncp-font-size-12);
      line-height: var(--ncp-line-height-16);
      font-weight: var(--ncp-font-weight-medium);
      text-align: center;
      margin-top: var(--ncp-spacing-x4);
    }
  }
}
