@use '@shared/styles/abstracts' as *;

.loading {
  width: 100%;
  text-align: center;
}

.spinner {
  display: inline-block;
  width: rem(32px);
  height: rem(32px);
  transform: rotate(-90deg);
}

.bg {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
}

.progress {
  fill: none;
  stroke: #000;
  transition: stroke-dashoffset 0.15s ease-out;
}
