@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  margin: 0 calc(var(--ncp-main-padding-x) * -1);
  overflow: hidden;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail {
  button {
    border: 0;
    background: none;
    padding: 0;
  }
}

.specialBrand {
  width: calc(100% + (var(--ncp-main-padding-x)));
  padding: var(--ncp-spacing-x8) var(--ncp-main-padding-x);
  border-bottom: 1px solid var(--ncp-color-bg-1);
  @include flex(flex, $d: column, $h: center) {
    gap: var(--ncp-spacing-x4);
  }
  .carousel {
    &::after {
      width: rem(24px);
      height: 100%;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-right: calc(var(--carousel-padding-x) - rem(8px) / 2);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 90%);
    }
  }
  .colorChip {
    width: rem(24px);
    height: rem(24px);
    border-radius: var(--ncp-border-radius-max);
    background-color: var(--color-chip-bg);
    &.white {
      border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
    }
    &.active {
      border: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
    }
  }
  .slide {
    width: rem(24px);
    height: rem(24px);
    button {
      border: 0;
      background: none;
      padding: 0;
    }
  }
}

// Dialog
.dialogCont {
  position: relative;
  @include flex(flex, $d: column, $v: center, $h: center);
  height: 100%;
  width: 100%;
  padding-bottom: var(--ncp-spacing-x24);
  .main {
    position: relative;
    width: 100%;
    --carousel-space-between: #{rem(8px)};
    --carousel-fraction-height: #{rem(18px)};
    --carousel-fraction-font-size: var(--ncp-font-size-10);
    --carousel-fraction-inset: auto auto #{calc(rem(16px) * -1 - var(--carousel-fraction-height))}
      50%;
    --carousel-fraction-translate-x: -50%;
  }
  .thumbWrap {
    position: absolute;
    left: 0;
    bottom: rem(20px);
    width: 100%;
  }
  .thumb {
    margin-inline: calc(rem(8px) / 2 * -1);
  }
  .thumbImage {
    border-radius: var(--ncp-border-radius-base);
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
}
