@use '@shared/styles/abstracts' as *;

/* TripList */
.layout {
  position: relative;
}

// 주문조회 더보기 Link 리스트
.linkList {
  position: relative;
  @include flex($d: column) {
  }
  & > li {
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    &:first-child {
      border-top: none;
    }
    .link {
      width: 100%;
      display: block;
      padding-block: var(--ncp-spacing-x8);
      font-size: var(--ncp-font-size-15);
      line-height: var(--ncp-line-height-22);
      font-weight: var(--ncp-font-weight-semibold);
      color: var(--ncp-color-foreground);
    }
  }
}
