@use '@shared/styles/abstracts' as *;
@use 'sass:list';

/* custom/TextList */
.root {
  --text-list-bullet: '\2022';
  --text-list-bullet-width: #{rem(10px)};
  --text-list-bullet-color: inherit;
  --text-list-bullet-size: var(--ncp-font-size-12);
  --text-list-bullet-weight: var(--ncp-font-weight-regular);
  --text-list-spacing: var(--ncp-spacing-x3);
  margin-top: var(--ncp-spacing-x4);
  color: var(--ncp-color-gray-500);
  font-size: var(--ncp-font-size-12);
  line-height: 1.333;

  &:first-child {
    margin-top: 0;
  }
  .sub {
    margin-top: var(--ncp-spacing-x3);
  }
  li {
    margin-top: var(--text-list-spacing);
    padding-left: var(--text-list-bullet-width);
    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: var(--text-list-bullet);
      color: var(--text-list-bullet-color);
      width: var(--text-list-bullet-width);
      font-size: var(--text-list-bullet-size);
      font-weight: var(--text-list-bullet-weight);
      margin-left: calc(var(--text-list-bullet-width) * -1);
      display: inline-block;
    }
  }
}
