@use '@shared/styles/abstracts' as *;

/* BoardAccSearch */
.root {
  height: 100%;
  margin-top: var(--ncp-spacing-x8);
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
}

// 상단 검색영역
.search {
  position: relative;
}
.clear {
  --icon-color: var(--ncp-color-gray-350);
}

// 하단 목록영역
.body {
  flex: 1;
  position: relative;
  // 검색어 마크
  mark {
    &:is([class^='marking']) {
      color: var(--ncp-color-accent-1);
      background: transparent;
    }
  }
}

.total {
  margin-bottom: var(--ncp-spacing-x2);
  padding-inline: var(--ncp-spacing-indent);
}

.tabs {
  margin-block: 0;
  margin-top: var(--ncp-spacing-x12);
}

.subtab {
  margin-bottom: 0;
  padding: var(--ncp-spacing-x5) 0;
  background: var(--ncp-color-bg-1);
}
