@use '@shared/styles/abstracts' as *;

.root {
  margin-bottom: calc(var(--ncp-spacing-x6) * -1);
  margin-inline: calc(var(--ncp-main-padding-x) * -1);
  padding-bottom: var(--ncp-spacing-x6);
  padding-inline: var(--ncp-layout-padding-x);
  background-color: var(--ncp-color-background);
  &.sticky {
    position: sticky;
    top: calc(var(--ncp-layout-header-height) + var(--ncp-brand-navbar-height, 0px));
    z-index: 10;
  }
}
.subtab {
  margin-bottom: 0 !important;
}
