@use '@shared/styles/abstracts' as *;

/* Drawer */
.agreement {
  // Drawer header 영역
  > div:nth-child(2) {
    button {
      top: var(--ncp-spacing-x16);
    }
  }
}
// Drawer body > conent 영역
.content {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x8);
}
.agreeButton {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  i:before {
    width: rem(20px);
    background-color: var(--ncp-color-gray-500);
  }
}
