@use '@shared/styles/abstracts' as *;

/* DeliveryStep */
.layout {
  position: relative;
}
// 라디오그룹 상단여백 컨트롤
.rdo {
  --radio-group-gap: var(--ncp-spacing-x8);
  margin-top: var(--ncp-spacing-x8);
}
