@use '@shared/styles/abstracts' as *;

/* CollectionHeader */
.wrap {
  margin-inline: calc((var(--ncp-layout-padding-x) * -1));
  padding-inline: var(--ncp-spacing-x8);
  padding-block: var(--ncp-spacing-x8) var(--ncp-spacing-x10);
  background: var(--ncp-color-background);
  @include flex($d: column);
  gap: var(--ncp-spacing-x6);
  .title {
    @include flex($v: flex-start, $h: space-between);
    .tit {
      font-size: var(--ncp-font-size-22);
      line-height: var(--ncp-line-height-28);
      font-weight: var(--ncp-font-weight-bold);
      @include flex($v: center);
      gap: var(--ncp-spacing-x3);
      .lock {
        color: var(--ncp-color-gray-500);
        padding: 0;
        margin: 0;
        font-size: var(--ncp-font-size-16);
        line-height: var(--ncp-line-height-fit);
      }
    }
    .gem {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .infos {
    @include flex($v: center, $w: wrap);
    li {
      gap: rem(4px);
      color: var(--ncp-color-gray-500);
      @include flex($display: inline-flex, $v: center);
      padding-right: rem(21px);
      position: relative;
      &:last-child {
        padding-right: 0;
        &::before {
          display: none;
        }
      }
      &::before {
        content: '';
        width: rem(1px);
        height: rem(10px);
        position: absolute;
        top: 50%;
        right: rem(12px);
        transform: translateY(-50%);
        background-color: var(--ncp-color-gray-150);
      }
    }
  }
  .name {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-medium);
    color: var(--ncp-color-gray-850);
    @include flex($v: center);
    flex-wrap: wrap;
    gap: rem(6px);
  }
}
