@use '@shared/styles/abstracts' as *;

// 예약/오더 목록
.resevedList {
  @include flex($d: column);
  gap: var(--ncp-spacing-x12);
  margin-top: var(--ncp-spacing-x12);
}

// 예약/오더 아이템: group인 경우, 2번째 아이템부터 margin-top: 24px
.groupItem {
  margin-top: var(--ncp-spacing-x12);
}

// 예약/오더 아이템 > titleSlot
.titleSlot {
  @include flex($v: center, $w: wrap);
  gap: var(--ncp-spacing-x3);
  span {
    @include flex($display: inline-flex, $v: center);
    &:not(:last-child) {
      @include separatorDot();
    }
  }
}

// 예약/오더 아이템 > InfoBar
.info {
  padding-inline: var(--ncp-spacing-indent);
  @include flex($v: center, $w: wrap);
  gap: var(--ncp-spacing-x2) var(--ncp-spacing-x4);
}
.infoItem {
  @include flex($display: inline-flex, $v: center);
  gap: var(--ncp-spacing-x2);
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);

  &:not(:last-child) {
    @include separator();
  }
}

// 예약/오더 아이템 > itemOptions > 옵션 영역
.options {
  @include flex($display: flex, $d: column);
  gap: var(--ncp-spacing-x2);

  &.reviewOptions {
    gap: var(--ncp-spacing-x3);
  }
}

// 예약/오더 아이템 > itemOptions > 옵션 영역 > 리뷰일 경우 나오는 데이터 영역(마이페이지 > 나의 활동 > 매장리뷰)
.reviewInfoBox {
  @include flex($display: flex, $v: center, $w: wrap);
  gap: var(--ncp-spacing-x1) var(--ncp-spacing-x3);

  > span {
    @include flex($display: inline-flex, $v: center);
    gap: var(--ncp-spacing-x3);

    &:not(:last-child) {
      @include separator();
    }
  }
}

// 예약/오더 아이템 > itemOptions > 예약금
.deposit {
  @include flex($display: inline-flex, $v: center);
  gap: var(--ncp-spacing-x3);
  margin-top: var(--ncp-spacing-x3);
  > span {
    &:not(:last-child) {
      @include separator();
      padding-right: var(--ncp-spacing-x3);
    }
  }
}

// 예약/오더 아이템 하단 > 안내 문구
.noti {
  display: flex;
  gap: var(--ncp-spacing-x2);
  margin-top: var(--ncp-spacing-x12);
}

// 상단 마진 값
.marginTop0 {
  margin-top: 0 !important;
}
