@use '@shared/styles/abstracts' as *;

/* 결제금액 */
// 결제금액 영역
.box:not(:nth-child(1)) {
  margin-top: var(--ncp-spacing-x12);
}

// 결제금액 전체 InfoList
.payList {
  margin-top: var(--ncp-spacing-x4);
  padding: 0 var(--ncp-spacing-x1);
  dd {
    font-weight: var(--ncp-font-weight-medium);
    color: var(--ncp-color-gray-900);
  }
}

// 상품쿠폰 버튼
.control {
  background: transparent;
  .arrow {
    margin-left: var(--ncp-spacing-x1);
    &:before {
      background-color: var(--ncp-color-gray-500);
    }
  }
}

// 상품쿠폰 InfoList
.couponDt,
.couponDd {
  margin-top: -2px;
  color: var(--ncp-color-gray-500) !important;
}
.couponDt {
  position: relative;
  padding-left: var(--ncp-spacing-x4);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: rem(4px);
    height: rem(1px);
    background: var(--ncp-color-gray-350);
    transform: translateY(-50%);
  }
}

// 총 결제 금액
.totalPrice {
  margin-top: var(--ncp-spacing-x10);
  padding-top: var(--ncp-spacing-x10);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  .totalList {
    color: var(--ncp-color-gray-900);
    dt {
      font-size: var(--ncp-font-size-14);
      font-weight: var(--ncp-font-weight-semibold);
    }
    dd {
      font-size: var(--ncp-font-size-16);
      font-weight: var(--ncp-font-weight-bold);
    }
  }
}

// 최적할인가
.totalDiscount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--ncp-spacing-x10);
  padding-top: var(--ncp-spacing-x10);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);

  .totalTitle {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x2);
  }
}

/* 적립내역 */
.reward {
  // Collapse.Control
  div:first-child button {
    align-items: baseline;
  }
  // Collapse.Control > controlSlot
  .slot {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--ncp-spacing-x1);

    p {
      margin: 0;
    }
  }
}

.graybox {
  margin-top: var(--ncp-spacing-x8);
  padding: var(--ncp-spacing-x8);
  background: var(--ncp-color-bg-1);
  border-radius: var(--ncp-border-radius-base);
}
