@use '@shared/styles/abstracts' as *;

/* 주문자 정보 */
.root {
  padding: 0 var(--ncp-layout-padding-x) var(--ncp-spacing-x12);
  border-bottom: rem(8px) solid var(--ncp-color-bg-1);
}

.titleArea {
  display: flex;
  align-items: center;
  gap: var(--ncp-spacing-x4);
  width: 100%;
  padding: var(--ncp-spacing-x10) 0;
}

.contentArea {
  padding-top: var(--ncp-spacing-x2);
  padding-bottom: var(--ncp-spacing-x16);
}

// 멀티 배송
.multiAddr {
  padding: 0 !important;

  > button {
    top: 0;
    right: 0;
  }
}
// orderSection
.prodSection {
  margin-top: 0;

  & + .prodSection {
    margin-top: var(--ncp-spacing-x20);
  }
  .time {
    margin-bottom: var(--ncp-spacing-x3);
  }

  > div:nth-child(2) {
    padding-bottom: 0;
  }
}
.prodTitle {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
  .ellipsis {
    @include ellipsis(1);
  }
  .count {
    flex-shrink: 0;
    margin-top: 0;
  }

  &.multiTitle {
    justify-content: flex-end;
  }
}
// 주문이 오나료되면 받는 분에게 선물 메세지가 발송됩니다.
.presentDesc {
  margin-top: var(--ncp-spacing-x6);
  margin-bottom: var(--ncp-spacing-x12);
}
// 셀러 영역
.sellerArea {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--ncp-spacing-x8);
  width: 100%;
  padding: var(--ncp-spacing-x8) var(--ncp-spacing-x1);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-foreground);

  &:first-child:not(.multiSeller) {
    border-top: none;
  }

  // 두 번째 이후 컬러
  &:not(:first-of-type) {
    border-color: var(--ncp-color-gray-100);
  }

  &.multiSeller {
    margin-top: var(--ncp-spacing-x12);
    border-color: var(--ncp-color-gray-100);
  }

  .fee {
    margin-top: 0;

    .desc {
      display: block;
      margin-top: var(--ncp-spacing-x2);
    }
  }

  // 스토어픽 > 위치보기, 전화걸기 버튼
  .sellerButton {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);

    > button {
      height: rem(24px);

      i:before {
        background-color: var(--ncp-color-gray-450);
      }
    }
  }

  .sellerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
  .point {
    margin-top: 0;
  }
  .changeButton {
    font-weight: var(--ncp-font-weight-regular);
  }
  // [case] 스토어픽 > 픽업 날짜
  .storeInfo {
    display: flex;
    flex-direction: column;
    gap: var(--ncp-spacing-x2);
    flex-basis: 100%;

    p {
      margin-top: 0;
    }
  }
  // [case] 선물정보
  .giftInfoBox {
    width: 100%;
    padding: var(--ncp-spacing-x8);
    background: #f8f8f8;
    border-radius: var(--ncp-border-radius-base);
    .topBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .giftInfo {
      dt,
      dd {
        color: var(--ncp-color-gray-900);
      }
    }
  }
}
.orderItemList {
  margin-bottom: 0;
}
// OrderItem > orderData
.couponPrice {
  width: 100%;
  margin-top: -4px;
  // Collapse.Control
  > div:first-child button {
    display: flex;
    justify-content: space-between;
    .priceTitle {
      display: flex;
      align-items: center;
      gap: var(--ncp-spacing-x2);
    }
    i:before {
      background-color: var(--ncp-color-gray-500);
    }
  }
  // Collapse.Content
  > div:last-child {
    padding-top: var(--ncp-spacing-x3);
    padding-right: var(--ncp-spacing-x1);
  }
  .couponInfo {
    gap: var(--ncp-spacing-x2);

    dt {
      font-size: var(--ncp-font-size-13);
    }
  }
}

// OrderItem > orderSlot
.slotBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ncp-spacing-x4);
  width: 100%;
  margin-top: -8px;

  .grayBox {
    width: 100%;
    padding: var(--ncp-spacing-x8);
    background: var(--ncp-color-bg-1);
    border-radius: var(--ncp-border-radius-base);
  }
  .giftTitle {
    display: flex;
    min-width: 0;
    .ellipsis {
      @include ellipsis(1);
    }
  }
  .formBox {
    width: 100%;
    margin-top: 0;
  }
}

// 주문 사은품
.giftItemList {
  margin-bottom: 0;
}
// 주문 사은품 프로모션 이름이 들어갑니다.
.giftDesc {
  @include ellipsis(1);
  margin-top: var(--ncp-spacing-x10);
  margin-bottom: var(--ncp-spacing-x12);
}
