@use '@shared/styles/abstracts' as *;

// 추가 혜택
.benefits {
  margin-top: var(--ncp-spacing-x6);
  @include flex(flex, center, flex-start, column);
  row-gap: var(--ncp-spacing-x4);
  p:not(:first-child) {
    margin-top: var(--ncp-spacing-x2);
  }

  // H.Point
  .hpoint {
    .table {
      margin-bottom: var(--ncp-spacing-x10);
      .row {
        @include flex($h: space-between);
        + .row {
          margin-top: var(--ncp-spacing-x4);
        }
      }
      dt {
        font-size: var(--ncp-font-size-13);
        color: var(--ncp-color-gray-700);
        text-align: left;
      }
      dd {
        font-size: var(--ncp-font-size-13);
        text-align: right;
      }
      hr {
        margin-block: var(--ncp-spacing-x6);
        color: var(--ncp-color-black);
      }
      .total {
        @include flex($h: space-between);
        padding-bottom: var(--ncp-spacing-x6);
        border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
      }
    }
    .textlist {
      --text-list-spacing: var(--ncp-spacing-x2);
      margin-top: var(--ncp-spacing-x6);
      line-height: var(--ncp-line-height-18);
    }
  }

  // 현대백화점카드
  .hyundaiCard {
    .link {
      margin-top: var(--ncp-spacing-x6);
    }
  }

  // 프로모션
  .promotion {
    .tags {
      @include flex($w: wrap);
      gap: var(--ncp-spacing-x2);
      overflow: hidden;
      margin-bottom: var(--ncp-spacing-x6);
    }
  }
}

.accordion {
  > button > strong {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    color: var(--ncp-color-gray-700);
    font-weight: var(--ncp-font-weight-regular);
  }
}

.line {
  background-color: var(--ncp-color-gray-100);
}

.delivery {
  position: relative;
  @include flex(flex, $v: flex-start);
  column-gap: var(--ncp-spacing-x6);
  margin-top: var(--ncp-spacing-x6);

  .title {
    @include flex(flex);
    gap: var(--ncp-spacing-x1);
    width: rem(68px);
  }
}

.tipIcon {
  color: var(--ncp-color-gray-500);
}
.tipBox {
  width: rem(230px);
}
