@use '@shared/styles/abstracts' as *;

.barcodeBtn {
  margin-top: var(--ncp-spacing-x10);
}
.barCodeDialog {
  .dialogBody {
    padding-bottom: 0;
  }
  .wrap {
    @include flex(flex, $d: column);
    height: 100%;
    width: 100%;
  }
  .note {
    flex-shrink: 0;
    margin-top: var(--ncp-spacing-x8);
  }
  .imageArea {
    flex: 1 1 0;
    @include flex($v: center, $h: center);
    min-height: 0;
    min-width: 0;
  }
  .image {
    @include flex($v: center, $h: center);
    width: 100%;
    height: 100%;
    img {
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

.brandWrap {
  @include flex(flex, space-between, center);
  padding: var(--ncp-spacing-x6) var(--ncp-main-padding-x);
  border-bottom: 1px solid var(--ncp-color-bg-1);
  margin: 0 calc(var(--ncp-main-padding-x) * -1);
  width: calc(100% + (calc(var(--ncp-main-padding-x) * 2)));

  .info {
    @include flex(inline-flex, $v: center);
  }

  .icons {
    @include flex(inline-flex, $v: center);
    column-gap: var(--ncp-spacing-x2);
  }

  .brand {
    font-size: var(--ncp-font-size-12);
    font-weight: var(--ncp-font-weight-medium);
  }

  .branch {
    padding-left: var(--ncp-spacing-x4);
    color: var(--ncp-color-gray-700);
  }

  .share {
    margin: 0;
  }
}

.soldoutText {
  margin-top: var(--ncp-spacing-x8);
}

.saleDate {
  margin-top: var(--ncp-spacing-x8);
  @include flex;
  gap: var(--ncp-spacing-x4);
}

.title {
  margin-top: var(--ncp-spacing-x8);
  font-weight: var(--ncp-font-weight-medium);
}
.shortDesc {
  &.prod-food {
    margin-top: var(--ncp-spacing-x2);
    color: var(--ncp-color-gray-500);
  }
}
.benefits {
  margin-top: 12px;
}
.stockCount {
  margin-top: var(--ncp-spacing-x8);

  span {
    padding-left: var(--ncp-spacing-x2);
    color: var(--ncp-color-gray-900);
  }
}
.applyPeriod {
  margin-top: var(--ncp-spacing-x4);
  @include flex(flex, $v: center);
  gap: var(--ncp-spacing-x2);
  color: var(--ncp-color-accent-1);
}
.review {
  margin-top: var(--ncp-spacing-x10);
  @include flex(inline-flex, $v: center);
  row-gap: var(--ncp-spacing-x2);
  .rating {
    margin-left: var(--ncp-spacing-x2);
  }
  .divider {
    margin-inline: var(--ncp-spacing-x4);
    width: 1px;
    height: var(--ncp-spacing-x5);
    background-color: var(--ncp-color-gray-150);
  }
  .reviewButton {
    font-size: inherit;
  }
}
.ownCardDisabled {
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-bg-1);
  padding: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
}
.noticeList {
  --text-list-spacing: var(--ncp-spacing-x3);
  margin-top: var(--ncp-spacing-x8);

  li {
    font-size: var(--ncp-font-size-12);
  }
}

.liveDate {
  @include flex(flex, $h: space-between);
  margin-top: var(--ncp-spacing-x8);
  .link {
    gap: 0;
  }
  .text {
    padding-left: var(--ncp-spacing-x4);
  }
}
.liveAlramButton {
  width: fit-content;
}
