@use '@shared/styles/abstracts' as *;

// ChanelBuyDialog
.info {
  margin: 0 auto;
  margin-block: var(--ncp-spacing-x12);
  max-width: rem(270px);
  width: 100%;
}
.btns {
  margin-bottom: var(--ncp-spacing-x12);
}
// 샤넬 테이블
.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    border-top: 1px solid var(--ncp-color-gray-150);
    border-bottom: 1px solid var(--ncp-color-gray-150);
    padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
  }
  th {
    background-color: var(--ncp-color-foreground);
    color: var(--ncp-color-background);
    font-weight: var(--ncp-font-weight-semibold);
    text-align: left;
  }
  td {
    color: var(--ncp-color-gray-700);
  }
}
