@use '@shared/styles/abstracts' as *;

/* SellerAccordionSearch */
.root {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
  // 검색어 마크
  mark {
    &:is([class^='marking']) {
      color: var(--ncp-color-accent-1);
      background: transparent;
    }
  }
}

.search {
  position: relative;
}

.body {
  position: relative;
}

.total {
  margin-top: var(--ncp-spacing-x12);
  margin-bottom: var(--ncp-spacing-x2);
  padding-inline: var(--ncp-spacing-indent);
}

.tabs {
  margin-block: 0;
  margin-top: var(--ncp-spacing-x12);
}
