@use '@shared/styles/abstracts' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x16);
}

.item {
  display: flex;
  flex-direction: column;
}

// gap
.gap4 {
  gap: var(--ncp-spacing-x2);
}
.gap8 {
  gap: var(--ncp-spacing-x4);
}
.gap16 {
  gap: var(--ncp-spacing-x8);
}
