@use '@shared/styles/abstracts' as *;

/* StarRating */
.wrap {
  display: flex;
  flex-direction: column;
  & :first-child {
    margin-top: 0;
  }
}
/* 박스 */
.box {
  text-align: center;
}
/* 별버튼 */
.star {
  color: var(--ncp-color-gray-150);
  background: none;
  border: none;
  margin: 0 4px;
  transition: color 0.2s ease;
}
.star.active {
  color: var(--ncp-color-foreground);
}

// margin top
.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: var(--ncp-spacing-x12);
}
.mt2 {
  margin-top: var(--ncp-spacing-x16);
}
.mt3 {
  margin-top: var(--ncp-spacing-x20);
}
