@use '@shared/styles/abstracts' as *;

/* UploadMethodDrawer */
.wrap {
  padding-bottom: var(--ncp-spacing-x8);
}
.btns {
  @include flex($h: center) {
    gap: rem(62px);
  }
  .btn {
    @include flex($d: column, $v: center) {
      gap: var(--ncp-spacing-x4);
    }
    .icon {
      @include flex($h: center, $v: center);
      position: relative;
      width: rem(56px);
      height: rem(56px);
      background-color: var(--ncp-color-bg-1);
      border-radius: var(--ncp-border-radius-max);
    }
  }
}
