@use '@shared/styles/abstracts' as *;

// 메세지 Carousel
.messageList {
  margin: var(--ncp-spacing-x12) 0 0 0;
}

// 메세지 아이템
.message {
  height: fit-content;
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-s);
}
