@use '@shared/styles/abstracts' as *;

/* ScheduleTotal */
// 타이틀
.title {
  position: relative;
  .tip {
    position: absolute;
    right: rem(-20px);
    top: rem(10px);
    text-align: left;
  }
}
