@use '@shared/styles/abstracts' as *;

/* CancelCompleteDialog */
.layout {
  width: 100%;
  height: 100%;
  display: table;
  padding-block: var(--ncp-spacing-x12);
}
.msgBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  .info {
    margin-top: var(--ncp-spacing-x16);
  }
  .btn {
    margin-top: var(--ncp-spacing-x12);
    width: rem(168px);
  }
}
.btnArea {
  flex: 1;
  margin-top: 0;
}
