@use '@shared/styles/abstracts' as *;

/* Flag */
.root {
  --flag-item-height: #{rem(20px)};
  --flag-item-padding: var(--ncp-spacing-x1) var(--ncp-spacing-x3);
  --flag-item-font-size: var(--ncp-font-size-10);
  --flag-item-font-weight: var(--ncp-font-weight-medium);
  --flag-item-line-height: var(--ncp-line-height-fit);
  --flag-item-border-color: transparent;
  --flag-item-border-radius: var(--ncp-border-radius-s);
  --flag-item-gap: var(--ncp-spacing-x2);
  position: relative;
  @include flex($display: flex, $v: center) {
    flex-wrap: wrap;
    gap: var(--flag-item-gap);
  }
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

  &:where([class*='radius']) {
    --flag-item-border-radius: 0;
    display: inline-flex;
    gap: 0;
    overflow: hidden;
  }
}
.item {
  height: var(--flag-item-height);
  padding: var(--flag-item-padding);
  @include flex($display: flex, $h: center, $v: center);
  gap: var(--ncp-spacing-x1);
  font-size: var(--flag-item-font-size);
  font-weight: var(--flag-item-font-weight);
  line-height: var(--flag-item-line-height);
  border: var(--ncp-border-width-base) solid var(--flag-item-border-color);
  border-radius: var(--flag-item-border-radius);
}

// Size
.small {
  --flag-item-height: #{rem(16px)};
  --flag-item-padding: 0 var(--ncp-spacing-x2);
  // --flag-item-border-radius: var(--ncp-border-radius-xs);
}
.large {
  --flag-item-height: #{rem(22px)};
  --flag-item-padding: var(--ncp-spacing-x1) var(--ncp-spacing-x4);
  --flag-item-font-size: var(--ncp-font-size-12);
  --flag-item-font-weight: var(--ncp-font-weight-regular);
}

// Radius position
.radius-all {
  border-radius: var(--ncp-border-radius-s);
}
.radius-tl {
  border-top-left-radius: var(--ncp-border-radius-s);
}
.radius-tr {
  border-top-right-radius: var(--ncp-border-radius-s);
}
.radius-bl {
  border-bottom-left-radius: var(--ncp-border-radius-s);
}
.radius-br {
  border-bottom-right-radius: var(--ncp-border-radius-s);
}

// Color (item 적용 클래스)
.dark {
  color: #fff;
  background-color: #4a4a4a;
}
.dark2 {
  color: #ffffff;
  background-color: #222222;
}
.red {
  color: #fff;
  background-color: #f12e2d;
}
.red2 {
  color: #f12e2d;
  background-color: #ffeeee;
}
.green {
  color: #000;
  background-color: #2ede7d;
}
.green2 {
  color: var(--ncp-color-accent-1);
  background-color: #eefbf7;
}
.green3 {
  color: var(--ncp-color-background);
  background-color: var(--ncp-color-accent-1);
}
.pink {
  color: #fff;
  background-color: #f93a8c;
}
.black {
  color: #fff;
  background-color: #000;
}
.black70 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.black30 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.gray {
  color: #8c8c8c;
  background-color: #f7f7f7;
}
.gray2 {
  color: #333;
  background-color: #efefef;
}
.gray3 {
  color: #222222;
  background-color: #f2f2f2;
}
.gray4 {
  color: #ffffff;
  background-color: #8c8c8c;
}
.white {
  color: #7b7b7b;
  border-color: #e3e3e3;
  font-weight: var(--ncp-font-weight-regular);
}

// 고정 컬러
.ad {
  color: #a2a2a2;
  background-color: rgba(0, 0, 0, 0.05);
}
