@use '@shared/styles/abstracts' as *;

/* Loading */
.root {
  --loading-spin-size: #{rem(32px)};
  --loading-spin-border-width: 2px;
  --loading-spinner-line: var(--ncp-color-gray-100);
  --loading-spinner-line-active: var(--ncp-color-gray-900);
}
// spin 공통 모양
.spin {
  border-radius: 50%;
  width: var(--loading-spin-size);
  height: var(--loading-spin-size);
  margin: 0 auto;
  border: var(--loading-spin-border-width) solid;
  border-color: var(--loading-spinner-line) var(--loading-spinner-line-active)
    var(--loading-spinner-line-active);
  animation: spin 1s linear infinite;
  @include text-hidden;
}

// (default) 컨텐츠에 로딩 들어가는 형태
.default {
  position: relative;
  background-color: transparent;
  text-align: center;
  .spin {
    margin-block: rem(60px);
  }
}

// variant
.page {
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 12; //헤더까지 가리려면 12
  .spin {
    position: relative;
    left: 50%;
    top: 50%;
    margin: calc(var(--loading-spin-size) / -2) 0 0 calc(var(--loading-spin-size) / -2);
  }
}

// spin 애니메이션
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
