@use '@shared/styles/abstracts' as *;

/* IconButton */
.root {
  @include flex(inline-flex, center, center);
  padding: var(--ncp-spacing-x2);
  margin: calc(var(--ncp-spacing-x2) * -1);
  color: var(--ncp-color-foreground);
  &:disabled {
    color: var(--ncp-color-gray-450);
  }
}

.badge {
  height: rem(13px);
  min-width: rem(13px);
  @include position($t: var(--ncp-spacing-x2), $r: var(--ncp-spacing-x2));
  @include flex(inline-flex, center, center);
  padding-inline: var(--ncp-spacing-x1);
  line-height: var(--ncp-line-height-fit);
  font-size: rem(8px);
  font-weight: var(--ncp-font-weight-bold);
  color: var(--ncp-color-white);
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-accent-1);
  z-index: 1;
}
