@use '@shared/styles/abstracts' as *;

// 영업시간이 아닙니다.
.error {
  margin-top: var(--ncp-spacing-x6);
  padding-left: var(--ncp-spacing-x14);
}

// orderSlot
.orderSlot {
  display: flex;
  align-self: flex-end;
  padding-top: var(--ncp-spacing-x18);
}
