@use '@shared/styles/abstracts' as *;

.root {
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
  overflow: hidden;
}

.link {
  padding: var(--ncp-spacing-x8);
  align-items: center;
  column-gap: var(--ncp-spacing-x6);
}

.image {
  --avatar-size: #{rem(56px)};
}

.title {
  min-width: 0;
}

.name {
  @include flex($v: center);
  column-gap: var(--ncp-spacing-x1);
}

.subName {
  margin-top: var(--ncp-spacing-x2);
  display: block;
}

.side {
  margin-left: auto;
  @include flex($v: center);
  column-gap: var(--ncp-spacing-x2);
}
