@use '@shared/styles/abstracts' as *;

/* SubscriptionPayBar */
.root {
  margin-inline: calc(var(--ncp-spacing-x8) * -1);
  padding-inline: var(--ncp-layout-padding-x);
  padding-block: var(--ncp-spacing-x10);
  background: var(--ncp-color-bg-1);
  .box {
    @include flex($v: center, $h: space-between, $w: wrap) {
      gap: var(--ncp-spacing-x6);
    }
    .tit {
      @include flex($v: center, $w: wrap) {
        gap: var(--ncp-spacing-x6);
      }
    }
  }
}
