@use '@shared/styles/abstracts' as *;

/* Dialog */
.overlay {
  width: 100%;
  height: calc(var(--layout-vh, 1vh) * 100);
  @include position($p: absolute, $l: 0, $b: 0, $i: 10);
  @include flex($h: center, $v: center);
  background-color: var(--ncp-color-alpha-dim);

  &:focus-visible {
    outline: none;
  }
}
.root {
  --dialog-max-width: calc(100% - var(--ncp-layout-padding-x) * 2);

  width: 100%;
  max-width: var(--dialog-max-width);
  max-height: 80%;
  position: relative;
  margin-top: calc(var(--ncp-spacing-x10) * -1);
  padding: var(--ncp-spacing-x20) var(--ncp-spacing-x8) var(--ncp-spacing-x10);
  @include flex($d: column);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
}
// header
.header {
  padding-bottom: var(--ncp-spacing-x4);
  display: flex;
  align-items: center;
}
.close {
  @include position($t: 16px, $r: 16px);
}
// content
.body {
  flex: 1;
  @include scrollbar;

  &.flush {
    margin-inline: calc(var(--ncp-spacing-x8) * -1);
    padding-right: 0;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
// footer
.footer {
  margin-top: var(--ncp-spacing-x16);
  display: flex;
  gap: var(--ncp-spacing-x4);
}

// [props] size

// maximize
.maximize {
  --dialog-max-width: auto;

  height: 100%;
  max-height: none;
  padding-block: rem(48px) 0;
  margin-top: unset;
  border-radius: unset;

  .header {
    height: rem(48px);
    margin-top: rem(-48px);
    padding-block: 0;
    padding-right: rem(32px);
    [role='heading'] {
      @include ellipsis(1);
    }
  }

  .navBar {
    background-color: var(--ncp-color-background);
    margin-inline: calc(var(--ncp-spacing-x8) * -1);
    padding-inline: var(--ncp-layout-padding-x);
    padding-top: var(--ncp-spacing-x8);
  }

  .body {
    padding-bottom: var(--ncp-layout-gutter-y);
    margin-inline: calc(var(--ncp-spacing-x8) * -1);
    padding-inline: var(--ncp-spacing-x8);

    // 커스텀 스크롤바 제거
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .footer {
    display: flex;
    margin-top: 0;
    margin-inline: calc(var(--ncp-spacing-x8) * -1);
    padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  }

  .close {
    top: 12px;
  }

  // mode 설정 시 (maximize 컨텐츠 배경색 넣을 경우)
  &[class*='mode-'] {
    .header {
      margin-inline: calc((var(--ncp-layout-padding-x) * -1));
      padding-inline: var(--ncp-layout-padding-x);
      background-color: var(--ncp-color-background);
    }
    .footer {
      background-color: var(--ncp-color-background);
    }
    // mode별 컬러 정의
    &.mode-gray {
      background-color: var(--ncp-color-bg-1);
    }
  }
}
