@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
}

.image {
  position: relative;
  &::after {
    @include el-pseudo(100%, 125px);
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}
.title {
  position: absolute;
  inset: auto 0 0;
  padding: var(--ncp-spacing-x12) var(--ncp-spacing-x8);
  @include flex($v: center);
  gap: var(--ncp-spacing-x3);
  color: var(--ncp-color-white);
}
