@use '@shared/styles/abstracts' as *;

.root {
  --grid-row-gap: var(--ncp-spacing-x8);
  position: relative;

  &:has(.more) {
    padding-right: calc(1rem + var(--ncp-spacing-x8));
  }
}
// root type
.round {
  --banner-border-radius: var(--ncp-border-radius-max);
}

.link {
  padding-inline: 0 !important;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--ncp-spacing-x4);
  text-align: center;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--banner-border-radius, var(--ncp-border-radius-base));
  overflow: hidden;
}

.title {
  width: 100%;
  font-weight: var(--ncp-font-weight-semibold);
  @include ellipsis(2);
}

.buttons {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: calc((100% - 1rem - var(--ncp-spacing-x8)) / 4);
  pointer-events: none;
}
.more {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: all;
}
