@use '@shared/styles/abstracts' as *;

.root {
  --marquee-title-text-color: var(--ncp-color-white);
  --marquee-subtitle-text-color: var(--ncp-color-alpha-w60);
  --banner-padding-x: var(--ncp-spacing-x8);

  position: relative;
  overflow: hidden;
  margin-inline: calc(var(--ncp-main-padding-x) * -1);
}
// 감싸는 클래스
.banner {
  @include flex($d: column, $v: flex-start) {
    gap: var(--ncp-spacing-x12);
  }
  width: 100%;
  height: 100%;
  padding: var(--banner-padding-x);
}

//텍스트영역
.texts {
  position: relative;
  width: 100%;
  .title {
    color: var(--marquee-title-text-color);
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-semibold);
    & + .subtitle {
      margin-top: var(--ncp-spacing-x2);
    }
    white-space: nowrap;
  }
  .subtitle {
    display: block;
    color: var(--marquee-subtitle-text-color);
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    white-space: nowrap;
  }
}
// 이미지 컴퍼넌트
.image {
  height: 100%;
  & > img {
    object-position: right center;
  }
}
// 링크화살표
.arrow {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  // background: #000000;
  background: var(--marquee-banner-bg, #000);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--ncp-spacing-x2);
  z-index: 1;
  .icon {
    color: var(--ncp-color-white);
  }
  &::before {
    content: '';
    width: rem(40px);
    height: 100%;
    position: absolute;
    top: 0;
    left: rem(-40px);
    z-index: 1;
    // background: linear-gradient(-90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    background: linear-gradient(-90deg, var(--marquee-banner-bg, #000) 0%, rgba(0, 0, 0, 0) 80%);
  }
}

/* 링크가 줄을 먹지 않게 inline-flex */
.inline {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

/* 이미지 있는 경우 */
.hasImg {
  padding: 0;
}
