@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 0;

  & ~ .root {
    margin-top: var(--ncp-spacing-x12);
  }
}
.banner {
  position: relative;
  padding: var(--ncp-spacing-x12) var(--ncp-spacing-x8);
  color: var(--ncp-color-background);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-gray-900);
  overflow: hidden;
}
.image {
  position: absolute;
  inset: 0;
}
.timer {
  position: relative;
  align-items: center;
  z-index: 1;
}

// variant: banner
.title {
  margin-top: var(--ncp-spacing-x8);
  @include ellipsis(1, 1.5, true);
}

.subtitle {
  margin-top: var(--ncp-spacing-x1);
  display: block;
  font-size: var(--ncp-font-size-13);
  font-weight: var(--ncp-font-weight-medium);
  @include ellipsis(1, 1.5, true);
}

// variant: product
.product {
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
}
.thumb {
  position: relative;

  [class*='Image_root'] {
    aspect-ratio: 1;
  }

  .timer {
    position: absolute;
    inset: auto 0 0;
  }
}
.detail {
  padding: var(--ncp-spacing-x8) var(--ncp-spacing-x8) calc(rem(32px) + var(--ncp-spacing-x20));
  @include flex($d: column);
  gap: var(--ncp-spacing-x4);
}
.brand {
  margin-bottom: var(--ncp-spacing-x1);
  display: block;
  font-weight: var(--ncp-font-weight-semibold);
  @include ellipsis(1, 1.5, true);
}
.button {
  @include position($l: 50%, $b: var(--ncp-spacing-x12));
  transform: translateX(-50%);
}
