@use '@shared/styles/abstracts' as *;

// TotalCount
.root {
  display: inline-flex;
  .title {
    @include flex($v: center);
    gap: var(--ncp-spacing-x2);
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-normal);
    color: var(--ncp-color-gray-700);
  }
  .info {
    position: relative;
  }
}
