@use '@shared/styles/abstracts' as *;

.root {
  width: 100%;
  height: rem(44px);
  padding: var(--ncp-spacing-x4) var(--ncp-spacing-x8);
  display: block;
  color: var(--ncp-color-background);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-foreground);
}

.label {
  @include ellipsis(1);
  font-weight: var(--ncp-font-weight-bold);
  text-align: center;
  word-break: break-all;
}
