@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  &:where(del) {
    text-decoration-line: line-through;
  }
  &:where(div) {
    margin-top: var(--ncp-spacing-x12);
    line-height: var(--ncp-line-height-reading);
  }
}
