@use '@shared/styles/abstracts' as *;

/* PaymentInfo */
.section {
  position: relative;
}
// 하단 총 결제금액 영역
.bottom {
  margin-top: var(--ncp-spacing-x10);
  padding-top: var(--ncp-spacing-x10);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
}

// 타이틀우측 가로선
.titleLine {
  position: relative;
  padding-right: var(--ncp-spacing-x6);
  &::before {
    content: '';
    width: rem(1px);
    height: rem(10px);
    background-color: var(--ncp-color-gray-150);
    position: absolute;
    top: 50%;
    right: rem(6px);
    transform: translateY(-50%);
  }
}

// 계약금 잔금박스
.box {
  background-color: var(--ncp-color-bg-3);
}
