@use '@shared/styles/abstracts' as *;

/* SettingItem */
.wrap {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x8);
  }
  .cont {
    @include flex($h: space-between) {
      gap: var(--ncp-spacing-x8);
    }
    .tit {
      flex: 1;
      .titleBottom {
        margin-top: var(--ncp-spacing-x4);
      }
    }
    .side {
      flex-shrink: 0;
      flex-grow: 0;
      color: var(--ncp-color-foreground);
    }
  }
}
