.root {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: var(--ncp-spacing-x6);
  cursor: pointer;

  &.center {
    align-items: center;
  }
}
.card {
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-background);
}
