@use '@shared/styles/abstracts' as *;

/* captchaWrap */
.root {
  @include flex($d: column);
  gap: rem(8px);
  .captcha {
    background-color: #ede1ff;
    height: rem(52px);
    overflow: hidden;
    text-align: center;
  }
}
