@use '@shared/styles/abstracts' as *;

/* ReadMore */
.root {
  position: relative;

  &:not(:first-child) {
    margin-top: var(--ncp-spacing-x4);
  }
}

.text {
  max-height: none;
  overflow: hidden;

  &.collapse {
    max-height: var(--readmore-max-height);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--readmore-line-clamp);
  }
}

.more {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--ncp-color-background);

  &::before {
    @include el-pseudo(34px, 100%);
    position: absolute;
    left: -34px;
    margin-right: calc(var(--ncp-spacing-x2) * -1);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 90%);
  }
}
