@use '@shared/styles/abstracts' as *;

/* Steps */
.root {
  display: flex;
  justify-content: space-between;
  margin-block: var(--ncp-spacing-x10) var(--ncp-spacing-x20);
  background-color: var(--ncp-color-gray-100);
  height: rem(2px);
  // & + :is([class*='TitleArea']) {
  //   margin-top: var(--ncp-spacing-x8);
  // }
}
.item {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.completed,
.active {
  background-color: var(--ncp-color-foreground);
}
