@use '@shared/styles/abstracts' as *;

/* EditCollectionName */
// 컨텐츠영역
.content {
  padding-block: var(--ncp-spacing-x12);
  .top {
    margin-bottom: var(--ncp-spacing-x12);
  }
}

// inputWrap
.inputWrap {
  position: relative;
}
