@use '@shared/styles/abstracts' as *;

/* IndexedSelectDrawer */
.groupBlock {
  .groupHeader {
    display: block;
    padding-bottom: var(--ncp-spacing-x6);
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-bold);
    color: var(--ncp-color-foreground);
  }
  ul.groupOptions {
    background-color: var(--ncp-color-bg-1);
    padding-block: var(--ncp-spacing-x4);
    border-radius: var(--ncp-border-radius-base);
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
    & > li {
      padding: var(--ncp-spacing-x6) var(--ncp-spacing-x8);
    }
  }
}
