@use '@shared/styles/abstracts' as *;

/* Setting */
// 제목
.heading {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  font-weight: var(--ncp-font-weight-medium);
  padding-inline: var(--ncp-spacing-indent);
  color: var(--ncp-color-gray-500);
  margin-bottom: var(--ncp-spacing-x8);
  &:first-child {
    margin-top: var(--ncp-spacing-x16);
  }
}
// 목록
.list {
  position: relative;
  .item {
    position: relative;
    padding-block: var(--ncp-spacing-x12);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

/* SettingItem */
.wrap {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x8);
  }
  .cont {
    @include flex($h: space-between) {
      gap: var(--ncp-spacing-x8);
    }
    .tit {
      flex: 1;
      .desc {
        margin-top: var(--ncp-spacing-x4);
        padding-inline: var(--ncp-spacing-indent);
      }
      .titleBottom {
        margin-top: var(--ncp-spacing-x6);
      }
    }
    .side {
      flex-shrink: 0;
      flex-grow: 0;
      color: var(--ncp-color-foreground);
    }
  }
}
