@use '@shared/styles/abstracts' as *;

/* OrderDeliveryItems */
.layout {
}
/* 탭 필터링 */
.filter {
  border-radius: 100%;
  border: 1px solid var(--ncp-color-gray-150);
  margin: 0;
  width: rem(32px);
  height: rem(32px);
}

//* orderList에서 가져옴 */
// 도착 예정 시간 안내
.arrival {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--ncp-spacing-x2);
  margin-bottom: var(--ncp-spacing-x10);

  p {
    margin-top: 0;
  }
}
