@use '@shared/styles/abstracts' as *;

/* DeliveryDestination */
.section {
  position: relative;
  // 감싸는 박스
  .box {
    @include flex($h: space-between, $v: flex-start) {
      gap: var(--ncp-spacing-x4);
    }
  }
  .info {
    width: 100%;
    @include flex($d: column) {
      gap: var(--ncp-spacing-x10);
    }
  }

  // infos
  .infos {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x2);
    }
  }
}

// 타이틀우측 가로선
.titleLine {
  position: relative;
  padding-right: var(--ncp-spacing-x6);
  &::before {
    content: '';
    width: rem(1px);
    height: rem(10px);
    background-color: var(--ncp-color-gray-150);
    position: absolute;
    top: 50%;
    right: rem(6px);
    transform: translateY(-50%);
  }
}
