@use '@shared/styles/abstracts' as *;

/* PurchaseGiftInfo */
.section {
  position: relative;

  :is([class^='Section_titleArea']) {
    padding-block: 0;
    padding-bottom: var(--ncp-spacing-x6);
    margin-bottom: var(--ncp-spacing-x6);
    border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  }
}

// variant
.normal {
  margin-top: var(--ncp-spacing-x16);
}
