@use '@shared/styles/abstracts' as *;

.root {
  margin-top: var(--ncp-spacing-x8);
}

.field {
  button {
    margin-top: var(--ncp-spacing-x12);
  }
  &.addField {
    margin-bottom: var(--ncp-spacing-x16);
    &::after {
      content: '';
      display: block;
      margin-top: var(--ncp-spacing-x16);
      margin-inline: calc(var(--ncp-main-padding-x) * -1);
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }
}

.replies {
  & > li:not(:first-child) {
    margin-top: var(--ncp-spacing-x8);
    padding-top: var(--ncp-spacing-x8);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }
  .info {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);
    margin-bottom: var(--ncp-spacing-x6);

    .infoItem:nth-child(n + 2) {
      @include separator($side: 'left');
    }
  }
  .ctrl {
    margin-left: auto;
  }
}

.nested {
  margin-top: var(--ncp-spacing-x8);
  .replies + .field {
    margin-top: var(--ncp-spacing-x8);
    padding-top: var(--ncp-spacing-x8);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }
}
