@use '@shared/styles/abstracts' as *;

/* TaxInfo */
.green {
  background-color: var(--ncp-color-bg-3);
  color: var(--ncp-color-accent-1);
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  // 녹색박스 타이틀
  .boxTit {
    position: relative;
    padding-right: var(--ncp-spacing-x6);
    &::before {
      content: '';
      width: rem(1px);
      height: rem(10px);
      background-color: var(--ncp-color-accent-1);
      position: absolute;
      top: 50%;
      right: rem(6px);
      transform: translateY(-50%);
      opacity: 0.25;
    }
  }
}

.img {
  min-width: rem(200px);
  width: 53.33%;
  margin-inline: auto;
  margin-block: var(--ncp-spacing-x12);
}
