@use '@shared/styles/abstracts' as *;

/* GiftDeliveryItem*/
.root {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
  .top {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x8);
    }
    .caption {
      @include flex($v: center) {
        gap: var(--ncp-spacing-x4);
      }
      .infos {
        @include flex($v: center);
        gap: var(--ncp-spacing-x3);
        color: var(--ncp-color-gray-700);
        & > li {
          font-size: var(--ncp-font-size-13);
          line-height: var(--ncp-line-height-18);
          font-weight: var(--ncp-font-weight-regular);
          color: var(--ncp-color-gray-500);
          &:not(:last-child) {
            @include separator($gap: var(--ncp-spacing-x3));
          }
        }
      }
    }
    .cont {
      position: relative;
      .title {
        font-size: var(--ncp-font-size-14);
        line-height: var(--ncp-line-height-22);
        font-weight: var(--ncp-font-weight-medium);
        color: var(--ncp-color-gray-900);
        @include ellipsis(2);
      }
    }
  }
}
