@use '@shared/styles/abstracts' as *;

.root {
  --carousel-space-between: #{rem(8px)};
  --carousel-fraction-height: #{rem(18px)};
  --carousel-fraction-font-size: var(--ncp-font-size-10);
  --carousel-fraction-inset: auto auto #{calc(rem(16px) * -1 - var(--carousel-fraction-height))} 50%;
  --carousel-fraction-translate-x: -50%;

  position: relative;
  @include flex(flex, $d: column, $v: center, $h: center);
  height: 100%;
  width: 100%;
  padding-bottom: var(--ncp-spacing-x30);
  touch-action: pan-x pan-y;
}

.main {
  position: relative;
  width: calc(100% + var(--ncp-spacing-x8) * 2);
  touch-action: pan-x pinch;
}
.thumb {
  position: absolute;
  left: 0;
  right: 0;
  bottom: rem(20px);
}
.thumbImage {
  border-radius: var(--ncp-border-radius-base);
  opacity: 0.6;
  &.active {
    opacity: 1;
  }
}
