@use '@shared/styles/abstracts' as *;

/* MyVoucher */
.layout {
}
// 전체갯수 + 날짜필터
.total {
  margin-top: var(--ncp-spacing-x12);
  .select {
    :is([class^='Select_value']) {
      justify-content: end;
      text-align: right;
    }
  }
  em {
    font-weight: var(--ncp-font-weight-regular);
  }
}
.tabs {
  margin-block: var(--ncp-spacing-x8) 0;
}
/* pointList */
.pointList {
  @include flex($d: column);
  & > li {
    @include flex($d: column);
    gap: var(--ncp-spacing-x2);
    padding-inline: var(--ncp-spacing-indent);
    padding-block: var(--ncp-spacing-x12);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    &:first-child {
      border: none;
    }
    .top {
      @include flex($v: flex-start, $h: space-between);
      gap: var(--ncp-spacing-x8);
      .tit,
      .point {
        font-size: var(--ncp-font-size-14);
        line-height: var(--ncp-line-height-20);
        font-weight: var(--ncp-font-weight-medium);
      }
    }
    .infos {
      @include flex($v: center, $h: space-between, $w: wrap);
      gap: var(--ncp-spacing-x8);
    }
  }
}
/* list */
.list {
  & li {
    display: inline-block;
    font-size: var(--ncp-font-size-12);
    line-height: var(--ncp-line-height-16);
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-gray-500);
    position: relative;
    padding-left: rem(13px);
    &:first-child {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: rem(6px);
      width: rem(1px);
      height: rem(10px);
      transform: translateY(-50%);
      background-color: var(--ncp-color-gray-150);
    }
  }
}

/* hasEmpty */
.hasEmpty {
  width: 100%;
  overflow: hidden;
  height: rem(340px);
}
/* textBtn */
.textBtn {
  font-weight: var(--ncp-font-weight-semibold);
  padding-inline: 0;
}
/* btns */
.btns {
  text-align: center;
  margin-block: var(--ncp-spacing-x16) rem(60px);
}

/* btns */
.btns {
  text-align: center;
  margin-block: var(--ncp-spacing-x16) rem(60px);
}
