/** =============== 
    고객 서비스 메인
    =============== */
.customer-service-main {
  margin-top: 50px;
}

/** =============== 
    About COS
    =============== */
.about-cos .touch-target {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-cos .touch-target a {
  background-color: #fff !important;
  font-family: 'SuisseIntl', 'NotoSansKR';
  font-size: 12px;
  line-height: 17px;
  color: #1b1b1b;
  padding: 10px 12px 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #1b1b1b;
}
.about-cos .touch-target a:hover {
  background-color: #1b1b1b !important;
  color: #fff;
}
@media (min-width: 1400px) {
  .about-cos .touch-target {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .about-cos .touch-target {
    width: 95%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

/** =============== 
    제품 관리 가이드 
    =============== */
.products-care .chips {
  display: block;
  width: 100%;
  margin: 10px auto 30px;
}
.products-care .chips p {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1b1b1b;
  text-align: center;
  width: 100%;
  margin: 0 auto 20px auto;
}
.products-care .chips a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.0825em;
  cursor: pointer;
  text-align: center;
  padding: 10px 12px 6px;
  margin: 4px 4px 8px 0;
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  font-size: 12px;
  line-height: 17px;
}
.products-care .chips a:hover {
  background-color: #1b1b1b;
  color: #ffffff;
}
.products-care .chips .scrollable-content {
  position: relative;
  padding: 0px 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  text-align: center;
}
.products-care .cta-section {
  display: flex;
  justify-content: center;
  /* gap: 20px;
    margin-bottom: 60px; */
  flex-direction: column;
  border: 1px solid #1b1b1b;
}
.products-care .fitguide_btn {
  display: flex;
  width: 100%;
  line-height: 45px;
  font-size: 13px;
  color: #1b1b1b;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.products-care .fitguide_btn:hover {
  opacity: 0.7;
}
.products-care .a-link.has-underline,
.products-care .is-richtext a.has-underline > span {
  color: #fff;
}
.products-care .o-grid-controller.is-two-cols .content .scrollable-content {
  display: block;
}
.products-care .o-hero {
  width: 100%;
}
.products-care .m-free-tile.headline-preamble-wrapper.a {
  text-decoration: underline !important;
}
.products-care .o-blog-text .a-paragraph {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 19px;
}
.products-care .article-headline-sub {
  font-size: 15px !important;
  line-height: 20px !important;
}
.products-care .title2 {
  font-size: 13px !important;
  line-height: 18px !important;
}
.products-care .o-hero .a-picture + .m-teaser.align-left {
  max-width: 100% !important;
  width: 100% !important;
  top: 103%;
  margin-left: -20px !important;
}
.products-care .pull-quote.a-paragraph.a-page-paragraph {
  padding-bottom: 40px !important;
}
.products-care .m-free-tile .a-heading-2 {
  font-size: 24px;
  line-height: 17px;
  letter-spacing: 0.0525em;
  text-transform: none;
  margin-bottom: 13px;
  margin-top: 35px;
}
.products-care .button1 {
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 45px;
  width: 240px;
  background-color: #1b1b1b;
  border: 1px solid #1b1b1b;
  color: #fff;
  padding: 12px 9px 12px 8px;
}
.products-care .keyline .u-cols-sm-12-12 {
  margin-bottom: 0px;
}
.products-care .a-keyline {
  width: 100% !important;
}
.products-care .o-blog-text {
  margin-top: 0;
  padding: 0 !important;
}
.products-care .o-blog-text.align_left {
  text-align: left;
  margin: 0;
}
.products-care .o-blog-text.align_left > p {
  text-align: left !important;
}
.products-care .is-three-cols .m-free-tile .headline-preamble-wrapper .a-heading-2 {
  margin-top: 0;
  font-size: 30px;
  line-height: 34px;
}
.products-care .is-three-cols .m-free-tile .headline-preamble-wrapper .a-label {
  font-size: 13px;
  line-height: 18px;
}
.products-care .is-three-cols .m-free-tile .cta-wrapper .cta-link {
  font-size: 14px;
  line-height: 20px;
}
.products-care .custom_two_cols .content {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}
.products-care .custom_two_cols .column {
  width: 50%;
}
.products-care .custom_two_cols .column .o-blog-text {
  width: 100%;
  padding-left: 50px;
}
.products-care .custom_two_cols .column .o-blog-text p {
  text-align: left !important;
}
.products-care .custom_sub_title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
}
.products-care .custom_anchor_box {
  margin-bottom: 60px;
  text-align: center;
}
.products-care .custom_anchor_box .anchor {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  margin-right: 10px;
}
.products-care .custom_anchor_box .anchor:last-child {
  margin-right: 0;
}
.products-care .custom_anchor_box .anchor u {
  text-decoration-thickness: 1px;
}
.products-care .a-heading-3 {
  font-size: 16px !important;
  line-height: 18px !important;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.products-care .two-cols.m-free-tile .cta-wrapper .cta-link {
  font-size: 14px;
  line-height: 20px;
}
.products-care .sus_top_tit {
  text-transform: uppercase;
}
.products-care .sub_para1 {
  font-size: 20px;
  line-height: 1.2em;
}
.products-care .u-cols-sm-12-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.products-care .o-blog-text.align_left {
  text-align: left;
  margin: 0;
}
.products-care .o-blog-text.align_left > p {
  text-align: left !important;
}
.products-care #sus_box_2023 .first {
  margin-top: 50px;
}
.products-care .sus_btn_box {
  text-align: center;
  margin-bottom: 50px;
}
.products-care .sus_btn {
  display: inline-block;
  width: 240px;
  line-height: 44px;
  border: 1px solid #1b1b1b;
  font-size: 12px;
}
.products-care .sus_btn:hover {
  background: #1b1b1b;
  color: #fff;
}
.products-care .o-grid-controller.is-two-cols .content .scrollable-content {
  display: block;
}
.products-care .chips {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 20px;
}
.products-care .cta-section {
  flex-direction: column;
}
.products-care .cta-wrap .arrow.right:before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.products-care .cta-wrap .arrow {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  vertical-align: middle;
}
.products-care .cta-wrap .arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  margin-top: 0px;
  border-top: 1px solid #1b1b1b;
  border-left: 1px solid #1b1b1b;
}
.products-care .o-grid-controller.is-two-cols .column {
  width: 33.3333% !important;
  margin-left: 0 !important;
}
.products-care .u-row > [class^='o-'] {
  margin: 0 auto !important;
}
@media (min-width: 768px) {
  .products-care .para {
    padding-top: 40px !important;
  }
  .products-care .button1 {
    margin-left: 0;
    display: inline-block;
  }
  .products-care #sus_box_2023 .long_title {
    width: 83.33%;
  }
}
@media (max-width: 767px) {
  .products-care .o-grid-controller.is-three-cols .column {
    width: 50%;
  }
  .products-care .o-grid-controller.is-three-cols .column:nth-child(1) {
    width: 100%;
  }
  .products-care .o-grid-controller.is-four-cols.is-stacked-on-mobile .content .scrollable-content {
    padding: 0;
  }
  .products-care .custom_two_cols .content {
    flex-direction: column-reverse;
    padding: 0 14px;
  }
  .products-care .custom_two_cols .column {
    width: 100%;
  }
  .products-care .custom_two_cols .column .o-blog-text {
    padding-left: 0;
    margin-bottom: 40px;
  }
  .products-care .custom_sub_title {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
  }
  .products-care .custom_anchor_box {
    margin-bottom: 40px;
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
  }
  .products-care .custom_anchor_box .anchor {
    font-size: 18px;
    line-height: 22px;
  }
  .products-care .sub_para1 {
    font-size: 15px;
    line-height: 19px;
  }
  .products-care .m_align_center > p {
    text-align: center !important;
  }
  .products-care .is-three-cols .m-free-tile .headline-preamble-wrapper .a-heading-2 {
    font-size: 24px;
    line-height: 29px;
  }
  .products-care .parr {
    padding-bottom: 20px;
    text-align: center;
  }
  .products-care .article-headline {
    font-size: 40px !important;
    line-height: 44px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .products-care .article-headline-sub {
    text-align: left !important;
    font-size: 13px !important;
    line-height: 18px !important;
    padding-bottom: 5px !important;
  }
  .products-care .pull-quote {
    font-size: 24px !important;
    line-height: 29px !important;
    padding-bottom: 20px !important;
    padding-top: 2px !important;
  }
  .products-care .pull-quote2 {
    font-size: 24px !important;
    line-height: 29px !important;
    padding-bottom: 35px !important;
    padding-top: 2px !important;
  }
  .products-care .keep-reading {
    padding-top: 15px !important;
  }
  .products-care .new {
    margin: 0rem 0rem 0;
  }
  .products-care .o-footer {
    padding: 0 10px 18px;
  }
  .products-care .o-hero .a-picture + .m-teaser.align-left {
    margin-left: 9px !important;
  }
  .products-care .m-free-tile.headline-preamble-wrapper.a {
    text-decoration: underline !important;
  }
  .products-care .m-free-tile .a-heading-2 {
    font-size: 20px !important;
  }
  .products-care .o-hero.image-wrapper {
    margin-bottom: -35px;
  }
  .products-care .keyline .u-cols-sm-12-12 {
    margin-bottom: 0px;
  }
  .products-care .o-blog-text .article-headline {
    margin-left: 0 !important;
    text-align: left !important;
    font-size: 34px !important;
    line-height: 39px !important;
  }
  .products-care .o-blog-text .a-paragraph {
    font-size: 13px !important;
    line-height: 18px !important;
  }
  .products-care #sus_box_2023 .first {
    margin-top: 30px;
  }
  .products-care #sus_box_2023 .long_title .pull-quote1 {
    font-size: 24px !important;
  }
  .products-care #sus_box_2023 .sus_title1 {
    font-size: 24px !important;
    margin-top: 30px;
  }
  .products-care .o-grid-controller.is-two-cols .content .scrollable-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-care .o-grid-controller.is-two-cols .column {
    width: 100% !important;
  }
}
@media (max-width: 1023px) {
  .products-care .bottom-img {
    position: unset !important;
  }
}
.products-care .grid-rows-\[1fr_auto_1fr\] {
  grid-template-rows: 1fr auto 1fr;
}
.products-care .inset-0 {
  inset: 0;
}
.products-care .text-block {
  color: #000;
}
.products-care .pt-\[5rem\] {
  padding-top: 5rem;
}
.products-care .py-3\.75 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.products-care .h-fit {
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1024px) {
  .products-care .lg\:block {
    display: block !important;
  }
  .products-care .lg\:border-t-0 {
    border-top-width: 0;
  }
  .products-care .hidden {
    visibility: visible;
  }
}
:where(.products-care) *,
:where(.products-care) :after,
:where(.products-care) :before {
  box-sizing: border-box;
  border: 0 solid #000;
}
.products-care .grid.pc_only {
  display: grid;
}
.products-care .grid.mo_only,
.products-care .mo_only {
  display: none;
}
@media (max-width: 1023px) {
  .products-care .mo_only {
    display: block;
  }
  .products-care .grid.pc_only {
    display: none;
  }

  .products-care .grid.mo_only {
    display: grid;
  }

  .products-care .mo-sm-pad {
    padding-top: 32px;
  }
  .products-care .article-category {
    text-align: left !important;
  }
  .products-care .article-headline-sub {
    padding: 0 12px;
    line-break: anywhere;
  }
}
.products-care .border-t {
  border-top-width: 1px;
}
.products-care .border-main {
  border-color: rgb(218, 218, 218);
}

/** =============== 
    핏 가이드 - 남성 진 
    =============== */
.fit-men-jeans .fitguide_btn {
  display: inline-block;
  width: 240px;
  line-height: 45px;
  font-size: 13px;
  color: #000;
  background: #fff;
  margin: 30px 0 120px;
  border: 1px solid #000;
}
.fit-men-jeans .fitguide_btn:hover {
  opacity: 0.7;
}
.fit-men-jeans .a-link.has-underline,
.fit-men-jeans .is-richtext a.has-underline > span {
  color: #fff;
}
.fit-men-jeans .o-text-block.u-align-center {
  width: 60%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.fit-men-jeans .preamble-section .a-paragraph {
  font-size: 50px;
  line-height: 1.25;
  font-weight: 700;
}
.fit-men-jeans .h2-text {
  margin: 0 auto;
  width: 33%;
  margin-bottom: 0px;
}
.fit-men-jeans .h2-text h3 {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 0px;
  text-align: center;
}
.fit-men-jeans h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
}
.fit-men-jeans h3 {
  font-size: 16px;
  font-weight: 700;
}
.fit-men-jeans .text-2cols {
  display: flex;
  margin: 0 auto;
  width: 60%;
  gap: 20px;
  padding: 20px 0 60px 0;
}
.fit-men-jeans .text-2cols p {
  width: 50%;
}
.fit-men-jeans .text-2cols.mo-2cols .cols-right {
  text-align: right;
}
.fit-men-jeans .chips {
  font-family: 'SuisseIntl', 'NotoSansKR', '돋움', dotum, sans-serif;
  display: block;
  width: 100%;
  margin: 50px auto 50px;
}
.fit-men-jeans .chips p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #1b1b1b;
  text-align: center;
  width: 100%;
  margin: 0 auto 20px auto;
}
.fit-men-jeans .chips a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.0825em;
  cursor: pointer;
  text-align: center;
  padding: 10px 12px 6px;
  margin: 4px 4px 8px 0;
  color: #1b1b1b;
  font-size: 12px;
  line-height: 17px;
}
.fit-men-jeans .chips .scrollable-content {
  position: relative;
  padding: 0px 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.fit-men-jeans .text-2cols i {
  font-size: 13px;
  font-style: normal;
}
.fit-men-jeans .a-image {
  cursor: pointer;
}
.fit-men-jeans .container-572651 {
  padding-top: 0 !important;
}
.fit-men-jeans .container-573141 .headline-preamble-wrapper {
  padding: 30px 50px;
}
.fit-men-jeans .container-573141 {
  padding: 0 !important;
}

@media (min-width: 1024px) {
  .fit-men-jeans .lg\:pb-30 {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 760px) {
  .fit-men-jeans h2 {
    font-size: 40px;
    line-height: 1.25;
  }
  .fit-men-jeans .h2-text h3 {
    margin: 0;
    width: 90%;
    margin-bottom: 10px;
    text-align: left;
  }
  .fit-men-jeans .h2-text {
    width: 100%;
    margin: 0 20px;
  }
  .fit-men-jeans .text-2cols.mo-2cols {
    flex-direction: row;
  }
  .fit-men-jeans .text-2cols.mo-2cols .cols-right {
    width: 10%;
  }
  .fit-men-jeans .o-text-block.u-align-center {
    width: 100%;
    padding: 0 10px;
  }
  .fit-men-jeans .text-2cols {
    width: 100%;
    flex-direction: column;
    padding: 0 20px 20px;
  }
  .fit-men-jeans .text-2cols p {
    width: 100%;
  }
  .fit-men-jeans .text {
    width: 100%;
  }
  .fit-men-jeans .container-523574.flex.flex-col.w-full.lg\:pb-30.pb-20.gap-20.lg\:gap-30.manual-cpnt {
    padding-bottom: 20px;
  }
  .fit-men-jeans .chips .scrollable-content {
    flex-direction: column;
  }
  .fit-men-jeans .chips a {
    text-align: left;
  }
  .fit-men-jeans .pb-20 {
    padding-bottom: 0rem;
  }
  .fit-men-jeans .col-span-8 {
    grid-column: span 12 / span 8;
  }
}

@media (max-width: 760px) {
  /* 스타일 수정 */
  .fit-men-jeans .title_box {
    margin: 0;
  }
  .fit-men-jeans .fitguide_btn {
    margin: 0;

    box-sizing: border-box;
    width: calc(100% - 60px);
  }
  .fit-men-jeans .richTextSpan {
    margin: 26px 0 12px;
  }
}

@media (min-width: 761px) {
  .fit-men-jeans .richTextSpan {
    margin-top: 36px;
  }
  .fit-men-jeans .text-2cols {
    padding: 30px 0;
  }
  .fit-men-jeans .text-2cols:nth-child(n + 3) {
    padding-top: 0;
  }
  .fit-men-jeans .text-2cols:last-child {
    padding-bottom: 60px;
  }
  .fit-men-jeans .text-2cols.noPadding {
    padding-top: 0;
  }
  .fit-men-jeans .title_box {
    margin-bottom: 0;
  }
}

/** =============== 
    FRIENDS & FAMILY OFFER (body 제어 하므로 클래스로 가져옴)
    =============== */
.friends-family-offer {
  line-height: 20px;
}
.friends-family-offer .cta {
  background: #080808;
  height: 32px;
  color: #fff;
  line-height: 32px;
  padding: 0 12px;
  display: inline-block;
}
@media (max-width: 767px) {
  .friends-family-offer .mo-center-preamble {
    text-align: center;
  }
}
