@use '@shared/styles/abstracts' as *;

// InquirydDrawer
.wrap {
  width: 100%;
  height: 100%;
}
.btns {
  // ButtonArea 컴퍼넌트에서 사용하는 gap 값
  --ButtonArea-component-gap: var(--ncp-spacing-x4);
  --btns-flex-basis: 50%;
  @include flex($w: wrap);
  & > * {
    flex: 1 1 calc(var(--btns-flex-basis) - var(--ButtonArea-component-gap));
  }
}
