@use '@shared/styles/abstracts' as *;

// ProductGroupControl
.root {
  display: inline-flex;
  .listbox {
    border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
    background-color: var(--ncp-color-background);
    border-radius: var(--ncp-border-radius-base);
    padding: var(--ncp-spacing-x8);
    // 위치 이동
    position: absolute;
    top: var(--ncp-spacing-x16);
    right: 0;
    z-index: 1;
    width: rem(120px);
  }
  .options {
    @include flex($d: column);
    gap: rem(16px);
    .option {
      min-height: rem(20px);
      font-size: var(--ncp-font-size-14);
      line-height: var(--ncp-line-height-22);
      color: var(--ncp-color-gray-900);
      cursor: pointer;
      & button {
        border: none;
        background: none;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
      }
    }
  }
  .more {
    cursor: pointer;
  }
}
