@use '@shared/styles/abstracts' as *;

/* ShopTopBar */
.topBar {
  &:first-child {
    margin-top: var(--ncp-spacing-x8);
    margin-bottom: var(--ncp-spacing-x20);
  }
  .info {
    --avatar-size: #{rem(74px)};
    @include flex($d: column, $v: flex-start) {
      gap: var(--ncp-spacing-x8);
    }
  }
}

/* 썸네일 영역 */
.thumb {
  position: relative;
  display: inline-block;
  .badge {
    position: absolute;
    right: rem(-4px);
    bottom: rem(-4px);
  }
}
