@use '@shared/styles/abstracts' as *;

/* HistoryItem */
.history {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
  }
  .top {
    @include flex($v: center, $h: space-between) {
      gap: var(--ncp-spacing-x4);
    }
    padding-inline: var(--ncp-spacing-indent);
    .state {
      font-size: var(--ncp-font-size-12);
      line-height: var(--ncp-line-height-16);
      font-weight: var(--ncp-font-weight-regular);
      color: var(--ncp-color-foreground);
    }
  }
  .cont {
    @include flex($v: center, $h: space-between) {
      gap: var(--ncp-spacing-x4);
    }
    padding-inline: var(--ncp-spacing-indent);
  }
  .btns {
    @include flex($h: flex-end) {
      gap: var(--ncp-spacing-x4);
    }
  }
}
