@use '@shared/styles/abstracts' as *;

/* CollectionCard */
.root {
  @include flex($d: column);
  background-color: var(--ncp-color-background);
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
  position: relative;
  &:has(.gem) .tit {
    padding-right: var(--ncp-spacing-x16);
  }
  .link {
    @include flex($d: column);
    overflow: hidden;
  }
  .gem {
    position: absolute;
    top: var(--ncp-spacing-x10);
    right: var(--ncp-spacing-x8);
    z-index: 1;
  }
  .headWrap {
    padding-block: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
    padding-inline: var(--ncp-spacing-x8);
    @include flex($h: space-between);
    gap: var(--ncp-spacing-x8);
    .head {
      @include flex($d: column);
      gap: var(--ncp-spacing-x4);
    }
    .tit {
      @include flex($v: center);
      gap: rem(6px);
      font-size: var(--ncp-font-size-16);
      line-height: var(--ncp-line-height-22);
      font-weight: var(--ncp-font-weight-bold);
      .lock {
        color: var(--ncp-color-gray-500);
        padding: 0;
        margin: 0;
        font-size: var(--ncp-font-size-16);
        line-height: var(--ncp-line-height-fit);
      }
    }
    .cont {
      @include flex();
      gap: var(--ncp-spacing-x8);
    }
    .infos {
      font-size: var(--ncp-font-size-13);
      line-height: var(--ncp-line-height-18);
      & li {
        display: inline-block;
        font-size: var(--ncp-font-size-13);
        line-height: var(--ncp-line-height-18);
        font-weight: var(--ncp-font-weight-regular);
        color: var(--ncp-color-gray-700);
        position: relative;
        padding-left: rem(13px);
        &:first-child {
          padding-left: 0;
          &::before {
            display: none;
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: rem(6px);
          width: rem(1px);
          height: rem(10px);
          transform: translateY(-50%);
          background-color: var(--ncp-color-gray-150);
        }
      }
    }
  }
  .user {
    @include flex($v: center);
    gap: rem(6px);
    .name {
      font-size: var(--ncp-font-size-13);
      line-height: var(--ncp-line-height-18);
      font-weight: var(--ncp-font-weight-semibold);
    }
  }
}
//컬렉션 썸네일 목록
.collections {
  @include flex();
  gap: rem(2px);
  li {
    flex: 1;
    aspect-ratio: 1 / 1;
    width: 100%; /* 또는 원하는 width (ex. 200px) */
    overflow: hidden;
    position: relative;
    background: var(--ncp-color-gray-100);
    // 기준초과시 마지막 카드에 overflow 스타일 부여 (dim처리 + 나머지값 중앙정렬)
    &.overflow {
      //그안에 나머지 +숫자값 스타일
      .rest {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--ncp-font-size-14);
        line-height: var(--ncp-line-height-20);
        font-weight: var(--ncp-font-weight-semibold);
        color: var(--ncp-color-background);
        z-index: 1;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ncp-color-alpha-b30);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: 1;
      }
    }
  }
}
