@use '@shared/styles/abstracts' as *;

.buttonArea {
  position: relative;
  @include flex(flex, $v: center) {
    gap: var(--ncp-spacing-x4);
  }
  width: 100%;
}

.giftButtonWrap {
  position: relative;
}
.presentTip {
  position: absolute;
  bottom: 54px;
  left: 14px;
  opacity: 1;
  transition: opacity var(--ncp-transition-base);
  pointer-events: none;

  &.hide {
    opacity: 0;
  }

  &.secoundBtn {
    left: 74px;
  }
}

.cta-detail {
  @include flex(flex) {
    gap: var(--ncp-spacing-x);
  }
  width: 100%;
}

.btnGroup {
  @include flex(flex) {
    gap: var(--ncp-spacing-x);
  }
}

// --------------------------------------------------
// dialog 스타일

// 재입고신청
.dialog-restock {
  .desc {
    margin-block: var(--ncp-spacing-x16);
  }
  .formArea {
    margin-top: var(--ncp-spacing-x12);
  }
  .textList {
    margin-top: var(--ncp-spacing-x16);
  }
}
// 예약안내
.dialog-reserve {
  padding-top: var(--ncp-spacing-x16);
  .option {
    margin-top: var(--ncp-spacing-x16);
  }
  .table {
    margin-top: var(--ncp-spacing-x8);
  }
}

.dialog-selectDate {
  .box {
    margin-top: var(--ncp-spacing-x12);
  }
}
