@use '@shared/styles/abstracts' as *;

.root {
  display: flow-root;
}
.item {
  padding-block: var(--ncp-spacing-x10) 0;
  margin-bottom: var(--ncp-spacing-x10);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);

  &:first-child {
    padding-top: 0;
    border-top: 0;
  }
}
.link {
  padding-inline: var(--ncp-spacing-indent);
  flex-direction: column;
  gap: var(--ncp-spacing-x3);
}
.title {
  @include ellipsis(2);
}
.info {
  margin-top: var(--ncp-spacing-x1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ncp-spacing-x3);
  font-size: var(--ncp-font-size-13);
  color: var(--ncp-color-gray-500);
  overflow: hidden;

  & > :first-child:not(:last-child) {
    @include separator($gap: var(--ncp-spacing-x3));
  }
}

.tabs {
  margin-inline: calc(var(--ncp-spacing-x8) * -1);
}
