$badge-size: (
  'large': 32,
  'medium': 24,
  'small': 16,
);

.root {
  display: inline-flex;
  @each $size, $value in $badge-size {
    &.#{$size} {
      width: #{$value}px;
      height: #{$value}px;
    }
  }
}
