@use '@shared/styles/abstracts' as *;

/* ProdCard */
.root {
  position: relative;
  @include flex($display: flex, $d: column) {
    gap: var(--ncp-spacing-x4);
  }
  z-index: 0;
  // 체크박스 위치
  .checkbox {
    position: absolute;
    top: var(--ncp-spacing-x4);
    left: var(--ncp-spacing-x4);
    z-index: 2;
  }
}
.thumb {
  position: relative;
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
}
.flagTop {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--ncp-spacing-x4);
  gap: var(--ncp-spacing-x1);
  z-index: 2;
}
.flagBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pause {
  position: absolute;
  bottom: 0;
  left: 0;
  @include flex(flex, center, center);
  width: 100%;
  height: rem(34px);
  padding: var(--ncp-spacing-x1) var(--ncp-spacing-x3);
  color: var(--ncp-color-white);
  font-weight: var(--ncp-font-weight-medium);
  background: rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(4px);
  z-index: 2;
}
.ad {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.detail {
  padding: 0 var(--ncp-spacing-indent);
}
.tag {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ncp-spacing-x2);
  margin-bottom: var(--ncp-spacing-x2);
  color: var(--ncp-color-gray-500);
}
.price {
  margin-top: var(--ncp-spacing-x4);
}
.review {
  --icon-color: #cfcfcf;
  @include flex(flex, flex-start, center);
  gap: var(--ncp-spacing-x1);
  margin-top: var(--ncp-spacing-x4);
  color: var(--ncp-color-gray-500);
  span {
    @include flex(inline-flex, center, center);
    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: rem(10px);
      margin: 0 var(--ncp-spacing-x4);
      background: var(--icon-color);
    }
    &:first-child::before {
      display: none;
    }
  }
  b {
    font-weight: var(--ncp-font-weight-medium);
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x2);
  margin-top: var(--ncp-spacing-x6);
}
.delivery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ncp-spacing-x1);
}
.gem {
  position: absolute;
  top: 0;
  right: 0;
  margin: min(5%, 8px) min(5%, 8px) 0 0;
}

// 비활성화 스타일
.disabled {
  .thumb::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.36);
    z-index: 1;
  }
}

// 성인인증 스타일
.blur {
  .thumb::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(6px);
    z-index: 1;
  }
}

// type
.horizontal {
  --product-thumb-width: #{rem(114px)};
  flex-direction: row;
  gap: var(--ncp-spacing-x6);
  .thumb {
    flex: 0 0 var(--product-thumb-width);
    align-self: flex-start;
  }
  .gem {
    inset: var(--ncp-spacing-indent) 0 auto auto;
  }
  .ctrl {
    order: 1;
    display: flex;
    align-items: flex-end;
    height: var(--product-thumb-width);
    padding: var(--ncp-spacing-indent) 0;
  }
  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--ncp-spacing-x2);
    padding: var(--ncp-spacing-indent) 0;
  }
  .price {
    margin-top: auto;
  }
  &:not(:has(.ctrl)) .gem {
    position: static;
    order: 1;
    align-self: flex-start;
  }
}

/* size */
.small {
  --product-thumb-width: #{rem(90px)};
}
.large {
  --product-thumb-width: 50%;
  .thumb {
    max-width: rem(160px);
  }
}

/* variant */
.boxed {
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
  &.vertical {
    background-color: var(--ncp-color-background);
    gap: 0;
    .thumb {
      border-radius: 0;
    }
    .detail {
      padding-inline: var(--ncp-spacing-x8);
      padding-block: var(--ncp-spacing-x6);
    }
  }
  &.horizontal {
    padding: var(--ncp-spacing-x4);
    background-color: var(--ncp-color-bg-1);
    .gem {
      inset: calc(var(--ncp-spacing-indent) + var(--ncp-spacing-x4)) var(--ncp-spacing-x4) auto auto;
    }
  }
}
.inverse {
  color: var(--ncp-color-white);
}

// align
.center {
  text-align: center;

  .price {
    justify-content: center;
  }
}
