@use '@shared/styles/abstracts' as *;

/* RefundAccountInfo */
.section {
  position: relative;
  // 감싸는 박스
  .box {
    @include flex($h: space-between, $v: flex-start) {
      gap: var(--ncp-spacing-x4);
    }
  }
  // 환불계좌 정보
  .info {
    flex: 1;
    @include flex($d: column) {
      gap: var(--ncp-spacing-x2);
    }
  }
  // 우측버튼영역
  .btns {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.empty {
  @include flex($h: space-between) {
    gap: var(--ncp-spacing-x5);
  }
}
