@use '@shared/styles/abstracts' as *;

// ReturnStoreBox
.root {
  position: relative;
}
// 매장명
.name {
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-20);
  font-weight: var(--ncp-font-weight-semibold);
}
//info
.info {
  @include flex($w: wrap, $v: flex-start, $h: space-between) {
    gap: var(--ncp-spacing-x4);
  }
  .store {
    flex: 1;
    @include flex($d: column) {
      gap: var(--ncp-spacing-x4);
    }
  }
  .btns {
    @include flex($w: wrap, $v: center) {
      gap: var(--ncp-spacing-x4);
    }
    > button {
      height: rem(24px);
      i:before {
        background-color: var(--ncp-color-gray-450);
      }
    }
  }
}

// 타이틀우측 가로선
.titleLine {
  position: relative;
  padding-right: var(--ncp-spacing-x6);
  &::before {
    content: '';
    width: rem(1px);
    height: rem(10px);
    background-color: var(--ncp-color-gray-150);
    position: absolute;
    top: 50%;
    right: rem(6px);
    transform: translateY(-50%);
  }
}
