@use '@shared/styles/abstracts' as *;

/* DeliveryManage */
.layout {
  position: relative;
}

.tabs {
  margin-bottom: 0;
}

.form {
  margin-block: var(--ncp-spacing-x12) var(--ncp-spacing-x4);
  padding-inline: var(--ncp-layout-padding-x);
}
