@use '@shared/styles/abstracts' as *;

.title {
  display: flex;
  align-items: center;
  gap: var(--ncp-spacing-x2);
}

.button {
  @include flex(flex, center, center);
  gap: var(--ncp-spacing-x2);
  margin-top: var(--ncp-spacing-x6);
}
