@use '@shared/styles/abstracts' as *;

.root {
  --chip-gap: 0;
  --chip-min-width: 2rem;
}
.container {
  @include flex($display: inline-flex, $w: wrap);
  gap: var(--ncp-spacing-x4);
  // columns 'auto'가 아닌 경우 스타일
  &.gridColumns {
    @include grid($gap: var(--chip-gap)) {
      grid-template-columns: repeat(
        var(--chip-grid-columns, auto-fill),
        minmax(var(--chip-min-width), 1fr)
      );
      gap: var(--ncp-spacing-x2);
    }
  }
}
.chip {
  --chip-text-color: var(--ncp-color-gray-500);
  --chip-border-color: var(--ncp-color-gray-150);

  display: inline-block;
  &[aria-hidden='true'] {
    display: none !important;
  }
}
.input {
  @include blind;
  &:checked + .label {
    --chip-border-color: var(--ncp-color-foreground);
    --chip-text-color: var(--ncp-color-foreground);
  }
}
.label {
  min-height: rem(44px);
  position: relative;
  @include flex(flex, center, center);
  padding-inline: var(--ncp-spacing-x3);
  color: var(--chip-text-color);
  font-weight: var(--ncp-font-weight-medium);
  text-align: center;
  border: var(--ncp-border-width-base) solid var(--chip-border-color, transparent);
  border-radius: var(--ncp-border-radius-base);
  cursor: pointer;
  transition:
    border-color var(--ncp-transition-fast),
    background-color var(--ncp-transition-fast);

  &.disabled {
    --chip-text-color: var(--ncp-color-gray-850);
    cursor: not-allowed;
  }
}

// variant
.outlined {
  .label {
    --chip-border-color: var(--ncp-color-foreground);
    height: rem(40px);
    opacity: 0.3;
  }
  .input:checked + .label {
    opacity: 1;
  }
}

.period {
  --chip-min-width: #{rem(80px)};
  .label {
    min-height: rem(40px);
    font-size: var(--ncp-font-size-14);
  }
}

.filled {
  .label {
    --chip-text-color: var(--ncp-color-gray-500);
    --chip-border-color: var(--ncp-color-gray-150);
    background-color: var(--ncp-color-background);
    height: rem(40px);
  }
  .input:checked + .label {
    --chip-text-color: var(--ncp-color-background);
    --chip-border-color: var(--ncp-color-foreground);
    background-color: var(--ncp-color-foreground);
  }
}

// size
.small {
  .label {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-semibold);
    min-width: rem(36px);
    min-height: rem(34px);
    height: rem(34px);
    border-radius: var(--ncp-border-radius-s);
  }
}
.large {
  .container {
    gap: var(--ncp-spacing-x4);
  }
  .label {
    font-size: var(--ncp-font-size-14);
    line-height: var(--ncp-line-height-20);
    font-weight: var(--ncp-font-weight-semibold);
    min-height: rem(60px);
    height: rem(60px);
    border-radius: var(--ncp-border-radius-base);
  }
}

//round
.round {
  .label {
    border-radius: var(--ncp-border-radius-max);
    padding-inline: var(--ncp-spacing-x6);
  }
}
