@use '@shared/styles/abstracts' as *;

/* Loading */
.root {
  --loading-spin-size: 20px;
  --loading-spin-border-width: 2px;
  position: absolute;
  inset: 0;
  background-color: rgba(200, 200, 200, 0.5);
}
.spin {
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  width: var(--loading-spin-size);
  height: var(--loading-spin-size);
  margin: calc(var(--loading-spin-size) / -2) 0 0 calc(var(--loading-spin-size) / -2);
  border: var(--loading-spin-border-width) solid;
  border-color: rgb(10, 10, 10) rgb(238, 238, 238) rgb(238, 238, 238);
  animation: spin 1s linear infinite;
  @include text-hidden;
}

// variant
.page {
  --loading-spin-size: 50px;
  --loading-spin-border-width: 5px;
  position: fixed;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
