@use '@shared/styles/abstracts' as *;

.branchList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  column-gap: var(--ncp-spacing-x8);
}
.branch {
  padding: var(--ncp-spacing-x6) var(--ncp-spacing-x1);
  font-weight: var(--ncp-font-weight-semibold);
}
