@use '@shared/styles/abstracts' as *;

/* OrderGroup*/
.section {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x12);
  }
}
// 상단정보
.top {
  position: relative;
}
// 하단내용
.bottom {
  position: relative;
}
