@use '@shared/styles/abstracts' as *;

/* OrderStatusBtns */
.btns {
  // ButtonArea 컴퍼넌트에서 사용하는 gap 값
  --ButtonArea-component-gap: var(--ncp-spacing-x4);
  --btns-flex-basis: 50%;
  @include flex($w: wrap);
  margin-top: 0;
  & > * {
    flex: 1 1 calc(var(--btns-flex-basis) - var(--ButtonArea-component-gap));
  }
  // 3등분 시
  &.col3 {
    --btns-flex-basis: 33.3%;
  }
}
