@use '@shared/styles/abstracts' as *;

.root {
  --avatar-size-mespace: 100%;

  width: rem(74px);
  height: rem(74px);
  position: relative;
  margin-inline: auto;
}

.button {
  width: rem(32px);
  height: rem(32px);
  position: absolute;
  right: -8px;
  bottom: -8px;
  @include flex($v: center, $h: center);
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-max);
  background-color: var(--ncp-color-background);
}

.input {
  @include blind;
}
