@use '@shared/styles/abstracts' as *;

/* BrandProdCard */
.brand {
  @include flex($v: center, $h: space-between);
  gap: var(--ncp-spacing-x6);
  margin-bottom: var(--ncp-spacing-x6);
  position: relative;
  .header {
    flex: 1;
    @include flex($v: center);
    gap: var(--ncp-spacing-x6);
    padding-right: rem(32px);
  }
  .gem {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.info {
  @include flex($d: column);
  gap: var(--ncp-spacing-x1);
}
.names {
  @include flex($v: center);
  gap: var(--ncp-spacing-x4);
}
// 브랜드명
.name {
  font-size: var(--ncp-font-size-15);
  line-height: var(--ncp-line-height-22);
  font-weight: var(--ncp-font-weight-semibold);
}
// 브랜드명 (한글)
.nameKor {
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-18);
  color: var(--ncp-color-gray-500);
}

// 비어잇을때
.empty {
  @include flex($h: center, $v: center);
  gap: var(--ncp-spacing-x2);
  padding-block: var(--ncp-spacing-x8);
  border-radius: var(--ncp-border-radius-base);
  background-color: var(--ncp-color-bg-2);
  font-size: var(--ncp-font-size-13);
  line-height: var(--ncp-line-height-22);
  color: var(--ncp-color-gray-500);
}
