@use '@shared/styles/abstracts' as *;

/* ChangeApply */
.info {
  column-gap: var(--ncp-spacing-x10);
}

/* 다음달에 받을 서비스 */
.service {
  width: 100%;
}

/* 타이틀바 스타일 커스텀 */
.titBar {
  margin-block: rem(60px) rem(20px);
  padding-bottom: rem(12px);
  border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
}

/* infoList 컨텐츠 서브내용 */
.infoSub {
  margin-top: var(--ncp-spacing-x3);
}
