@use '@shared/styles/abstracts' as *;

/* BrandBar */
.root {
  --avatar-size-width: #{rem(60px)};
  --avatar-size-height: #{rem(60px)};

  @include flex($v: center, $h: space-between);
  gap: var(--ncp-spacing-x6);
  margin-bottom: var(--ncp-spacing-x6);
  position: relative;
  &:has(.gem) .wrap {
    padding-right: rem(32px);
  }
  .wrap {
    flex: 1;
    @include flex($v: center);
    gap: var(--ncp-spacing-x8);
    .title {
      flex: 1;
      @include flex($v: center);
      gap: var(--ncp-spacing-x6);
    }
    .side {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
  .gem {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  .info {
    @include flex($d: column);
    gap: var(--ncp-spacing-x1);
    .top {
      @include flex($v: center);
      gap: var(--ncp-spacing-x4);
    }
  }
  // 브랜드명
  .name {
    font-size: var(--ncp-font-size-15);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-semibold);
  }
  // 브랜드명 (한글)
  .nameKor {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-18);
    font-weight: var(--ncp-font-weight-regular);
    color: var(--ncp-color-gray-500);
  }
  // 브랜드명 옆 화살표
  .nameArrow {
    margin-left: calc(var(--ncp-spacing-x4) * -1);
  }
}

// variant
.showroom {
  .avatar {
    --avatar-size-width: #{rem(40px)};
    --avatar-size-height: #{rem(40px)};
    border: 0;
    background-color: var(--ncp-color-white);
  }
  .nameKor {
    color: var(--ncp-color-white);
    font-weight: var(--ncp-font-weight-regular);
  }
  .gem {
    top: 0;
    transform: none;
  }
}

.detail {
  .avatar {
    --avatar-size-width: #{rem(68px)};
    --avatar-size-height: #{rem(68px)};
    --avatar-border-color: transparent;
    --avatar-border-width: 0;
  }
  .name {
    font-size: var(--ncp-font-size-16);
  }
}

.branch {
  .avatar {
    --avatar-size-width: #{rem(56px)};
    --avatar-size-height: #{rem(56px)};
    --avatar-border-color: #e5e5e5;
  }
  .name {
    font-size: var(--ncp-font-size-16);
  }
}
