@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  @include flex(flex, $d: column);
  padding-top: var(--ncp-spacing-x10);
  row-gap: var(--ncp-spacing-x2);
}
.smallPrices {
  @include flex(inline-flex, $v: center);
  gap: var(--ncp-spacing-x2);
}
.reduction {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ncp-spacing-x2);
  width: 100%;
  margin-bottom: var(--ncp-spacing-x2);
}
.discount {
  color: var(--ncp-color-accent-alert);
}
.original {
  color: var(--ncp-color-gray-500);
  text-decoration-line: line-through;
}
.prevSale {
  color: var(--ncp-color-gray-700);
}
.prevSaleNotice {
  color: var(--ncp-color-gray-500);
}
.subtext,
.unitPrice {
  flex-basis: 100%;
  color: var(--ncp-color-gray-500);
}
.priceCouponWrap {
  @include flex(flex, $h: space-between, $v: flex-end);
}
.prices {
  @include flex(inline-flex, $v: center);
  gap: var(--ncp-spacing-x2);
  &.hasOriginal {
    flex-wrap: wrap;
    .original {
      width: 100%;
    }
  }
}
.couponButton {
  width: fit-content;
}
.salePeriod {
  @include flex(flex, $v: center);
  gap: var(--ncp-spacing-x2);
  color: var(--ncp-color-accent-1);
}
