@use '@shared/styles/abstracts' as *;

.root {
  @include flex($v: center);
  gap: var(--ncp-spacing-x2);
}

// 푸드코트명
.courtName {
  position: relative;
  margin-right: var(--ncp-spacing-x6);

  &:after {
    content: '';
    position: absolute;
    right: -6px;
    top: 50%;
    width: rem(1px);
    height: rem(10px);
    background: var(--ncp-color-gray-150);
    transform: translateY(-50%);
  }
}
