@use '@shared/styles/abstracts' as *;

.root {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--ncp-spacing-x4);
}
.item {
  --live-tabs-active-color: var(--ncp-color-gray-900);
  height: rem(62px);
  @include flex($v: center, $h: center, $d: column);
  gap: var(--ncp-spacing-x2);
  color: var(--ncp-color-gray-500);
  border-radius: var(--ncp-border-radius-base);
}
.today {
  --live-tabs-active-color: inherit;
  color: var(--ncp-color-accent-1);
}

.active {
  --live-tabs-active-color: inherit;
  color: var(--ncp-color-background);
  background-color: var(--ncp-color-foreground);
}

.week {
  font-size: var(--ncp-font-size-14);
}
.day {
  font-size: var(--ncp-font-size-16);
  font-weight: var(--ncp-font-weight-bold);
  color: var(--live-tabs-active-color);
}
