@use '@shared/styles/abstracts' as *;

/* SellerCenterMenuDialog */
.title {
  margin-bottom: var(--ncp-spacing-x20);
  & > a {
    font-size: var(--ncp-spacing-x9);
    color: var(--ncp-color-foreground);
    font-weight: var(--ncp-font-weight-bold);
  }
}
// 메뉴
.nav {
  position: relative;
}
.list {
  position: relative;
  & > li.item {
    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }
    padding-top: var(--ncp-spacing-x12);
    margin-top: var(--ncp-spacing-x12);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    .tit {
      font-size: var(--ncp-font-size-14);
      line-height: var(--ncp-line-height-20);
      font-weight: var(--ncp-font-weight-medium);
      color: var(--ncp-color-gray-500);
      margin-bottom: var(--ncp-spacing-x12);
    }
    ul.depth {
      position: relative;
      @include flex($d: column) {
        gap: var(--ncp-spacing-x12);
      }
      & > li {
        & > a {
          @include flex($h: space-between);
          font-size: var(--ncp-font-size-16);
          line-height: var(--ncp-line-height-22);
          font-weight: var(--ncp-font-weight-semibold);
          color: var(--ncp-color-foreground);
        }
      }
    }
  }
}
