@use '@shared/styles/abstracts' as *;

.root {
}

/*card 컴퍼너트뺄것 :체크박스있는거*/
.card {
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  width: 100%;
  height: rem(104px); //팁까지 포함한 높이
  margin-top: var(--ncp-spacing-x8);
  padding: var(--ncp-spacing-x8);
  border-radius: var(--ncp-border-radius-base);
  &.isChecked {
    border: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  }
  .cardCont {
    @include flex($d: column);
    gap: var(--ncp-spacing-x4);
  }
  .info {
    @include flex($d: column);
    gap: var(--ncp-spacing-x2);
    .bottom {
      @include flex($display: inline-flex);
    }
  }
}

.hasTip {
  z-index: 1;
}
/*tip*/
.tip {
  width: rem(258px);
  position: absolute;
  top: 0;
  left: rem(14px);
  z-index: 1;
  &::before {
    left: var(--ncp-spacing-x6);
  }
}

/* 
Swiper 기본 레이아웃 스타일 최소화
 */
/* Swiper 컨테이너 */
.root {
  display: flex;
  overflow: hidden;
  position: relative;
}
/* swiper-wrapper 역할: 슬라이드 감싸고 가로 정렬 */
.wrapper {
  display: flex;
  flex-direction: row;
  transition-property: transform;
  box-sizing: content-box;
  will-change: transform;
}
