@use '@shared/styles/abstracts' as *;

/* VoucherInfoDialog */
.content {
  padding-top: var(--ncp-spacing-x10);
}
.info {
  @include flex($d: column);
  gap: var(--ncp-spacing-x8);
}
.address {
  margin-top: 0;
}
.noti {
  margin-top: var(--ncp-spacing-x20);
}
/*숫자 list*/
.list {
  counter-reset: docs-ol;
  padding-left: 1.25em;
  li {
    font-size: var(--ncp-font-size-14);
    line-height: var(--ncp-line-height-reading);
    color: var(--ncp-color-gray-700);
  }
  & > li {
    counter-increment: docs-ol;
    position: relative;
    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: counter(docs-ol, decimal) '.';
      display: inline-block;
      width: 1.25em;
      margin-left: -1.25em;
    }
  }
}
