@use '@shared/styles/abstracts' as *;

// OrderInfoTopBar
.infoTop {
  padding-inline: var(--ncp-spacing-indent);
  margin-bottom: var(--ncp-spacing-x5);
}
.tit {
  color: var(--ncp-color-foreground);
}
