@use '@shared/styles/abstracts' as *;

// SubscriptionSummary
.root {
  position: relative;
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
  }
}
.btn {
  position: relative;
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-150);
  border-radius: var(--ncp-border-radius-base);
  padding: var(--ncp-spacing-x8);
  min-height: rem(52px);
}
.wrap {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x4);
  }
  .tit {
    flex: 1;
    @include flex($v: center) {
      gap: var(--ncp-spacing-x4);
    }
    .info {
      flex: 1;
      @include flex($v: center) {
        gap: var(--ncp-spacing-x3);
      }
      color: var(--ncp-color-foreground);
      .period {
        flex-shrink: 0;
        flex-grow: 0;
        @include separator($gap: var(--ncp-spacing-x3));
      }
    }
  }
  .icon {
    flex-shrink: 0;
    flex-grow: 0;
  }
}
