@use '@shared/styles/abstracts' as *;

/* SelectedItemList */
.list {
  --selectedItemList-grid-columns: 3;
  --selectedItemList-grid-gutter: var(--ncp-spacing-x4);
  --selectedItemList-grid-item-align: stretch;

  @include grid($c: var(--selectedItemList-grid-columns));
  column-gap: var(--selectedItemList-grid-gutter);
  row-gap: var(--selectedItemList-grid-row-gap, var(--selectedItemList-grid-gutter));
  .item {
    grid-column: span var(--grid-span, 1);
    align-self: var(--selectedItemList-grid-item-align);
    position: relative;
    border-radius: var(--ncp-border-radius-base);
    overflow: hidden;
  }
  .delete {
    position: absolute;
    top: rem(6px);
    right: rem(6px);
    color: rgba(0, 0, 0, 0.5);
  }
}
