@use '@shared/styles/abstracts' as *;

/* IdentityAuth */
.auths {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
  }
  & > li {
    width: 100%;
    border: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    border-radius: var(--ncp-border-radius-base);
    .btn {
      width: 100%;
      height: rem(72px);
      padding: var(--ncp-spacing-x10) var(--ncp-spacing-x8);
      background: none;
      border: none;
      @include flex($v: center, $h: space-between) {
        gap: var(--ncp-spacing-x4);
      }
      .tit {
        flex: 1;
        @include flex($v: center) {
          gap: var(--ncp-spacing-x4);
        }
        .icon {
          flex-shrink: 0;
          flex-grow: 0;
          width: rem(32px);
          height: rem(32px);
        }
      }
      .arrow {
        color: var(--ncp-color-gray-500);
      }
    }
  }
}
