@use '@shared/styles/abstracts' as *;

.root {
  --avatar-img-size-width: #{rem(20px)};
  --avatar-img-size-height: #{rem(20px)};
  --avatar-border-radius: var(--ncp-border-radius-max);

  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  overflow: hidden;
  width: var(--avatar-img-size-width);
  height: var(--avatar-img-size-height);
  border-radius: var(--avatar-border-radius);
  background-color: var(--ncp-color-gray-100);
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// size (default 1)
.size1 {
  --avatar-img-size-width: #{rem(20px)};
  --avatar-img-size-height: #{rem(20px)};
}
.size2 {
  --avatar-img-size-width: #{rem(50px)};
  --avatar-img-size-height: #{rem(50px)};
}
.size3 {
  --avatar-img-size-width: #{rem(60px)};
  --avatar-img-size-height: #{rem(60px)};
}

// variant
.brand {
  border: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
}
