@use '@shared/styles/abstracts' as *;

// ControlCollection
.root {
  display: inline-flex;
  .listbox {
    border: 1px solid #e3e3e3;
    background-color: var(--ncp-color-background);
    border-radius: var(--ncp-border-radius-base);
    padding: var(--ncp-spacing-x8);
    // 위치 이동
    position: absolute;
    top: var(--ncp-layout-header-height);
    right: var(--ncp-layout-padding-x);
    z-index: 1;
    width: rem(120px);
  }
  .options {
    @include flex($d: column);
    gap: rem(16px);
    .option {
      min-height: rem(20px);
      font-size: var(--ncp-font-size-14);
      line-height: var(--ncp-line-height-22);
      cursor: pointer;
      & button {
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }
  .more {
    cursor: pointer;
  }
}
