@use '@shared/styles/abstracts' as *;

.root {
  border-bottom: rem(8px) solid var(--ncp-color-bg-1);
  &.borderTop {
    border-bottom: none;
    border-top: rem(8px) solid var(--ncp-color-bg-1);
  }
}

// variant: normal
.normal {
  padding: 0 var(--ncp-layout-padding-x) var(--ncp-spacing-x12);

  .titleArea {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);
    width: 100%;
    padding: var(--ncp-spacing-x10) 0;

    .title {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }

    .subTitle {
      color: var(--ncp-color-gray-850);
    }

    .suffix {
      margin-left: auto;
    }
  }

  .contentArea {
    padding-top: var(--ncp-spacing-x2);
  }
}

// variant: section
.section {
  border-bottom: none;
  .titleArea {
    display: flex;
    align-items: center;
    gap: var(--ncp-spacing-x4);
    width: 100%;

    .title {
      flex-shrink: 0;
      color: var(--ncp-color-foreground);
    }
    .suffix {
      margin-left: auto;
    }
  }

  .contentArea {
    margin-top: var(--ncp-spacing-x8) !important;
  }
}

// variant: collapse
.collapse {
  padding: 0 var(--ncp-layout-padding-x) 0;
  .suffix {
    @include ellipsis(1);
  }
}

// marginTop
.marginTop1 {
  margin-top: 60px;
}
.marginTop2 {
  margin-top: 32px;
}
.marginTop3 {
  margin-top: 24px;
}

// description
.desc {
  display: block;
  flex: 0 0 100%;
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);
  font-weight: var(--ncp-font-weight-regular);
  color: var(--ncp-color-gray-500);
  margin-top: var(--ncp-spacing-x4);
}

// flush
.flush {
  margin-inline: calc(var(--ncp-spacing-x8) * -1);
}
