@use '@shared/styles/abstracts' as *;

/* imgRadio */
.imgRadio {
  margin-block: var(--ncp-spacing-x12);
  align-items: center;
  :is([class^='Radio_root']) {
    align-items: center;
  }
  .thumbLabel {
    @include flex($v: center);
    gap: var(--ncp-spacing-x8);
    .image {
      width: rem(50px);
      height: rem(50px);
      border-radius: var(--ncp-border-radius-base);
    }
  }
}
