@use '@shared/styles/abstracts' as *;

.dealItem {
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;
  text-align: center;
  &.active {
    border: var(--ncp-border-width-base) solid var(--ncp-color-foreground);
  }
  .numbers {
    line-height: var(--ncp-line-height-20);
    background-color: var(--ncp-color-foreground);
  }
  .itemThumb {
    &.soldout {
      position: relative;
      &::after {
        display: block;
        content: '';
        background-color: rgba(#000, 36%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.listCarousel {
  padding-block: var(--ncp-spacing-x8);
  :global(.swiper-wrapper) {
    padding-left: var(--ncp-layout-padding-x);
  }
}
.detailCarousel {
}
