@use '@shared/styles/abstracts' as *;

.root {
  margin-top: var(--ncp-spacing-x20);
}
.collapse {
  --collapse-normal-padding: var(--ncp-spacing-x12);
  &:not(:first-of-type) {
    margin-top: var(--collapse-normal-padding);
  }
  // 열렸을 때
  &:has(> [data-state='show']) {
    > .controller {
      button {
        padding-bottom: var(--ncp-spacing-x8);
        border-bottom: 0;
      }
    }
    > .content {
      padding-block: 0 var(--ncp-spacing-x12);
      border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
    }
  }
}
.table {
  &:not(:first-child) {
    margin-top: var(--ncp-spacing-x10);
  }
  th {
    width: rem(137px);
  }
  td {
    overflow: hidden;
    p:not(:first-child) {
      margin-top: var(--ncp-spacing-x6);
    }
    &.gap {
      padding: 0;
      height: rem(20px);
    }
  }
}

.notice {
  .row {
    margin-top: var(--ncp-spacing-x10);
    &:first-of-type {
      margin-top: var(--ncp-spacing-x12);
    }
  }
  dt {
    font-size: var(--ncp-font-size-14);
    line-height: var(--ncp-line-height-20);
    font-weight: var(--ncp-font-weight-medium);
    color: var(--ncp-color-foreground);
  }
  dd {
    font-size: var(--ncp-font-size-13);
    line-height: var(--ncp-line-height-20);
    color: var(--ncp-color-gray-700);
  }
}

.underline {
  text-decoration: underline;
}
