@use '@shared/styles/abstracts' as *;

.tags {
  @include flex($w: wrap);
  gap: var(--ncp-spacing-x4);
  overflow: hidden;

  &.collapse {
    max-height: rem(72px);
  }
}

.more {
  margin-top: var(--ncp-spacing-x10);
  text-align: center;
}
