@use '@shared/styles/abstracts' as *;

.rating {
  padding-right: var(--ncp-spacing-indent);
  @include flex($v: center);
  gap: var(--ncp-spacing-x2);
}

.trait {
  display: grid;
  grid-template-columns: auto minmax(1px, 1fr);
  gap: var(--ncp-spacing-x6);

  & ~ .trait {
    margin-top: var(--ncp-spacing-x8);
  }
}

.label {
  min-width: 48px;
  font-size: var(--ncp-font-size-13);
  color: var(--ncp-color-gray-500);
}

.group {
  display: grid;
  grid-template-columns: minmax(rem(60px), auto) 1fr auto;
  align-items: center;
  gap: var(--ncp-spacing-x6) var(--ncp-spacing-x8);

  [class*='Progress_root'] {
    display: contents;
  }
}

.hidden {
  display: none !important;
}

.more {
  margin-top: var(--ncp-spacing-x10);
  text-align: center;
}
