@use '@shared/styles/abstracts' as *;

/* Review Card */
.root {
  @include flex($d: column);
  gap: var(--ncp-spacing-x8);

  & + .root {
    padding-top: var(--ncp-spacing-x12);
    border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }

  [class*='Carousel'] ~ .desc {
    margin-top: calc(var(--ncp-spacing-x2) * -1);
  }
}

// info
.summary {
  @include flex($d: column);
  gap: var(--ncp-spacing-x4);
}
.info {
  padding-inline: var(--ncp-spacing-indent);
  @include flex($v: center);
  gap: var(--ncp-spacing-x2) var(--ncp-spacing-x4);
}
.infoItem {
  @include flex($display: inline-flex, $v: center);
  gap: var(--ncp-spacing-x2);
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-16);

  &:not(:last-child) {
    @include separator();
  }
}
.specs {
  color: var(--ncp-color-gray-500);
}

// detail
.detail {
  position: relative;
}

.more {
  @include position($t: 2px, $r: var(--ncp-spacing-indent));
  font-size: var(--ncp-font-size-12);
}

.desc {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  column-gap: var(--ncp-spacing-x2);
}

// footer
.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--ncp-font-size-12);
  line-height: var(--ncp-line-height-fit);
  color: var(--ncp-color-gray-500);
}
