@use '@shared/styles/abstracts' as *;

/* ProdGem */
.root {
  @include flex(inline-flex, center, center);
  padding: var(--ncp-spacing-x1);
}
.icon {
  position: relative;
  width: rem(24px);
  height: rem(24px);
}
