@use '@shared/styles/abstracts' as *;

/* HbssStepTitle */
.root {
  position: relative;
}
.title {
  margin-top: var(--ncp-spacing-x8);
}

// Step 현재위치 영역
.stepNow {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x2);
  }
  font-size: var(--ncp-font-size-14);
  line-height: var(--ncp-line-height-20);
  color: var(--ncp-color-gray-700);
  & > em {
    flex-shrink: 0;
    flex-grow: 0;
    @include flex($display: inline-flex, $v: center, $h: center);
    font-size: var(--ncp-font-size-10);
    font-weight: var(--ncp-font-weight-semibold);
    line-height: var(--ncp-line-height-fit);
    color: var(--ncp-color-white);
    background-color: var(--ncp-color-gray-350);
    border-radius: var(--ncp-border-radius-max);
    width: rem(16px);
    height: rem(16px);
  }
}
