@use '@shared/styles/abstracts' as *;

/* ScheduleBox */
.section {
  position: relative;
}
// statusFlag
.statusFlag {
  @include flex($v: center) {
    gap: var(--ncp-spacing-x3);
  }
  .info {
    position: relative;
    @include flex();
    font-size: var(--ncp-font-size-14);
    line-height: var(--ncp-line-height-20);
    font-weight: var(--ncp-font-weight-semibold);
    & > li {
      color: var(--ncp-color-foreground);
      &:not(:first-child)::before {
        content: '/';
        display: inline-block;
        margin-inline: var(--ncp-spacing-x2);
      }
      &.total {
        color: var(--ncp-color-gray-500);
      }
    }
  }
}
// detail
.detail {
  @include flex($h: space-between, $v: flex-start) {
    gap: var(--ncp-spacing-x4);
  }
}
