@use '@shared/styles/abstracts' as *;

/* 즉시할인 */
.custom {
  padding: 0 var(--ncp-main-padding-x);

  > div:first-child {
    padding: 0 var(--ncp-layout-padding-x);
  }
}
// 내부 레이아웃 값 좌우패딩
.padded {
  padding: 0 var(--ncp-layout-padding-x);
}
.radioCont {
  margin-top: var(--ncp-spacing-x10);
}

// 결제수단 목록
.methods {
  display: flex;
  flex-direction: column;
  & > li {
    position: relative;
    &:not(:first-child)::before {
      content: '';
      width: calc(100% - (var(--ncp-layout-padding-x) * 2));
      height: var(--ncp-border-width-base);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--ncp-color-gray-100);
    }
    padding-bottom: var(--ncp-spacing-x12);
    padding-top: var(--ncp-spacing-x12);
    //마지막 자식은 아래여백 삭제
    &:last-child {
      padding-bottom: 0;
    }
  }
  .radio {
    label {
      font-weight: var(--ncp-font-weight-bold) !important;
    }
    --radio-label-font-weight: var(--ncp-font-weight-bold);
    padding: 0 var(--ncp-layout-padding-x);
    & > * {
      width: 100%;
    }
  }
}

/* infoTxt */
.infoTxt {
  display: flex;
  gap: var(--ncp-spacing-x2);
  align-items: center;
}

/* vouchers : 상품권 선택 */
.vouchers {
  display: flex;
  gap: var(--ncp-spacing-x12);
  margin-top: var(--ncp-spacing-x12);
  padding-top: var(--ncp-spacing-x12);
  border-top: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
}

/*formArea*/
.formArea {
  gap: var(--ncp-spacing-x6) !important;
  margin-top: var(--ncp-spacing-x8);
}

/* checkInfo : 무통장입금선택시 */
.checkInfo {
  @include flex($v: center);
  gap: var(--ncp-spacing-x2);
  margin-top: var(--ncp-spacing-x6);
  //체크박스 디자인
  input[type='checkbox'] {
    & + label {
      // font-size: var(--ncp-font-size-13);
      // line-height: var(--ncp-line-height-18);
      color: var(--ncp-color-gray-500);
    }
  }
}
/* infoBtn : 안내 아이콘버튼*/
.infoBtn {
  color: var(--ncp-color-gray-500);
}
