@use '@shared/styles/abstracts' as *;

/* ManagePartnersDetail */
.layout {
  position: relative;
  padding-top: var(--ncp-spacing-x8);
}
// 상단 카운트박스
.counts {
  position: relative;
  margin-top: var(--ncp-spacing-x12);
  @include flex($d: column) {
    gap: var(--ncp-spacing-x8);
  }
  .item {
    @include flex($d: column) {
      gap: var(--ncp-spacing-x2);
    }
  }
  .accent {
    font-size: var(--ncp-font-size-24);
    line-height: var(--ncp-line-height-30);
  }
}

// 상단 정보박스
.infoBox {
  position: relative;
  margin-top: var(--ncp-spacing-x12);
  em {
    color: var(--ncp-color-gray-900);
  }
  .amount {
    @include flex($v: center) {
      gap: var(--ncp-spacing-x4);
    }
  }
}

// 테이블감싸는 flush
.flush {
  margin-inline: calc((var(--ncp-layout-padding-x) * -1));
  margin-top: var(--ncp-spacing-x20);
  // flush 사용시 디자인 맞춤용
  .custom {
    tr {
      td,
      th {
        padding-inline: var(--ncp-spacing-x3);
        &:first-child,
        &:first-child {
          padding-left: var(--ncp-layout-padding-x);
        }
        &:last-child,
        &:last-child {
          padding-right: var(--ncp-layout-padding-x);
        }
      }
    }
  }
}

.tblLink {
  @include flex($display: inline-flex) {
    gap: 4px;
  }
  & > span {
    flex: 1;
    @include ellipsis(1);
    word-break: break-all;
  }
  & > i {
    color: var(--ncp-color-gray-500);
    flex-shrink: 0;
    flex-grow: 0;
  }
}

/* btns */
.btns {
  text-align: center;
  margin-block: var(--ncp-spacing-x16);
}
