@use '@shared/styles/abstracts' as *;

.root {
  position: relative;
  display: flex;
  gap: var(--ncp-spacing-x4);
}
.itemWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--ncp-spacing-x6);
}
.itemInfo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--ncp-spacing-x6);
}
// 왼쪽: 이미지 + 옵션변경 버튼
.left {
  align-self: flex-start;
  width: rem(90px);
}
.thumb {
  position: relative;
  width: rem(90px);
  height: rem(90px);
  border-radius: var(--ncp-border-radius-base);
  overflow: hidden;

  &.opacity {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #0000005c;
    }
  }
}
.thumbLabel {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(34px);
  text-align: center;

  span {
    z-index: 1;
    color: var(--ncp-color-background) !important;
    letter-spacing: var(--ncp-letter-spacing-base);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(rem(8px));
    -webkit-backdrop-filter: blur(rem(8px));
  }
}
// 옵션변경 버튼
.optionButton {
  color: var(--ncp-color-foreground) !important;
}

// 오른쪽: 상품 상세 내용 등
.right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: flex-start;
  // align-self: flex-start;
  flex: 1;
  gap: var(--ncp-spacing-x6);
  .prodTitle {
    > div {
      margin-bottom: 0;
    }
  }
}
.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--ncp-spacing-x4);
  width: 100%;
}
.prodTitle {
  padding-right: 28px;
}
.gift {
  gap: var(--ncp-spacing-x3);
  grid-template-columns: minmax(auto, auto) 1fr;
  margin: 0;
  font-size: var(--ncp-font-size-13);
}
.optionInfo {
  display: flex;
  flex-direction: column;
  gap: var(--ncp-spacing-x2);
  color: var(--ncp-color-gray-500);

  .size {
    display: flex;
    gap: var(--ncp-spacing-x6);

    span + span {
      position: relative;

      &:after {
        content: '/';
        position: absolute;
        left: -8px;
        color: var(--ncp-color-gray-500);
      }
    }
  }

  .place {
    gap: var(--ncp-spacing-x2);

    dt {
      font-weight: var(--ncp-font-weight-medium);
    }
  }

  .fieldOption {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--ncp-spacing-x2);
  }
}

// 상품 가격 옆, 주문 개수 노출되는 경우(주문서 > 주문상품)
.pricebox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ncp-spacing-x3);
}

.price {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--ncp-spacing-x2);

  > strong {
    margin-right: var(--ncp-spacing-x2);
  }

  del {
    display: inline-block;
    flex-basis: auto;
    padding-top: var(--ncp-spacing-x1);
    vertical-align: top;
  }
}
.line,
.quantity {
  position: relative;
  padding-left: 7px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: rem(1px);
    height: rem(10px);
    background: var(--ncp-color-gray-150);
    transform: translateY(-50%);
  }
}
.torderButton {
  width: auto;
}

// 삭제 버튼
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

// variant: oneLine
.oneLine {
  .detail {
    gap: var(--ncp-spacing-x2);
  }
  .oneLineInfo {
    @include flex($v: center);
    gap: var(--ncp-spacing-x3);

    .title {
      @include ellipsis(1);
    }
  }
}
