@use '@shared/styles/abstracts' as *;

/* DeliveryAddressItem */
.root {
  padding-block: var(--ncp-spacing-x12);
  border-top: 1px solid var(--ncp-color-gray-100);
  &:first-child {
    border-top: none;
  }
  @include flex($d: column) {
    gap: var(--ncp-spacing-x8);
  }
}
.tit {
  font-size: var(--ncp-font-size-16);
  line-height: var(--ncp-line-height-22);
  font-weight: var(--ncp-font-weight-bold);
  color: var(--ncp-color-foreground);
}
.cont {
  @include flex($d: column) {
    gap: var(--ncp-spacing-x4);
    .top {
      @include flex($d: column) {
        gap: var(--ncp-spacing-x2);
      }
      .info {
        @include flex($v: baseline, $h: space-between, $w: wrap);
        gap: var(--ncp-spacing-x8);
        .texts {
          flex: 1;
          @include flex($v: baseline);
          .default {
            flex-shrink: 0;
            margin-left: var(--ncp-spacing-x3);
            @include separator(left, $gap: var(--ncp-spacing-x3));
          }
        }
        .btns {
          flex-shrink: 0;
          @include flex() {
            gap: var(--ncp-spacing-x6);
          }
        }
      }
      .phones {
        position: relative;
        padding-inline: var(--ncp-spacing-indent);
        .phone {
          &:not(:first-child) {
            margin-left: var(--ncp-spacing-x3);
            @include separator(left, $gap: var(--ncp-spacing-x3));
          }
        }
      }
    }
    .bottom {
      padding-inline: var(--ncp-spacing-indent);
      @include flex($d: column) {
        gap: var(--ncp-spacing-x2);
      }
    }
  }
}
