@use '@shared/styles/abstracts' as *;

/* LiveAlarm */
/* 접고 펼치기 버튼영역*/
.more {
  text-align: center;
  margin-top: var(--ncp-spacing-x16);
}

/*empty 높이설정*/
.empty {
  position: relative;
  overflow: hidden;
  height: rem(280px);
}

/* 내가 팔로우한 LIVE */
.lives {
  li {
    @include flex($v: center, $h: space-between) {
      gap: var(--ncp-spacing-x4);
    }
    font-size: var(--ncp-font-size-16);
    line-height: var(--ncp-line-height-22);
    font-weight: var(--ncp-font-weight-medium);
    color: var(--ncp-color-foreground);
    padding-block: var(--ncp-spacing-x8);
    border-bottom: var(--ncp-border-width-base) solid var(--ncp-color-gray-100);
  }
}
